<link rel="stylesheet" href="/static/css/beta_small.css" />


<div class="container-header">
    <header id="beta">
        <div id="top">
            <h1>
	            <a href="mailto:support@wikilife.org">
	               <img src="/static/img/BETA-SMALL.png" width="497" height="60" alt="Send feedback"
	                    title="Send feedback" />
	            </a>
            </h1>
            <div id="center-nav">
                <nav class="nav" id="">

                </nav>
            </div>

        </div>
        <div class="bottom"></div>
    </header>
    <!-- #header -->
</div>
<!-- .container-header -->