{% load i18n %}
<link rel="stylesheet" href="/static/css/header.css" />
<link rel="stylesheet" href="/static/css/reveal.css">


<div class="container-header">
    <header id="header">
        <div id="top">
            <div class="col-3 left"></div>
            <div class="col-3 center"></div>
            <div class="col-3 right"></div>
            <h1>
	            <a href="/">
	               <img src="/static/img/logo_landing.png" width="100%" height="100%" alt="DataDonors Logo"
	                    title="DataDonors" />
	            </a>
            </h1>
	            <a href="mailto:support@wikilife.org" id="banner">
	               <img src="/static/img/BETA-SMALL.png" width="100%" height="100%" alt="Send Feedback"
	                    title="Send Feedback" />
	            </a>
            <div id="center-nav">
                <nav class="nav" id="">
                	<a href="/data" title="{% blocktrans%}Data{% endblocktrans%}">{% blocktrans%}Data{% endblocktrans%}</a>
                    <a href="/mission" title="{% blocktrans%}Mission{% endblocktrans%}">{% blocktrans%}Mission{% endblocktrans%}</a>
                    <a href="/learn-more" title="{% blocktrans%}Learn More{% endblocktrans%}">{% blocktrans%}Learn More{% endblocktrans%}</a>
                    <a href="/support-us" title="{% blocktrans%}Support Us{% endblocktrans%}">{% blocktrans%}Support Us{% endblocktrans%}</a>
                    {% if request.user.is_authenticated %}
                        <a href="/about-us" title="{% blocktrans%}About Us{% endblocktrans%}">{% blocktrans%}About Us{% endblocktrans%}</a>
                        <a href="/logout" title="{% blocktrans%}logout{% endblocktrans%}">{% blocktrans%}logout{% endblocktrans%}</a>
                    {% else %}
                        <a href="#" title="login" data-reveal-id="login_container">{% blocktrans%}login{% endblocktrans%}</a>
                    {% endif %}
                </nav>
            </div>
            <!-- #preloader-copy-wrapper -->
            {% if can_share %}
            <a href="/wizard" title="Start Sharing" id="start-sharing">{% blocktrans%}Start Sharing{% endblocktrans%}</a>
            {% endif %}
        </div>
    </header>
    <!-- #header -->
</div>
<!-- .container-header -->
{% include "wizard_inc/login.include.html" %}
