{% include "popups/login.include.html" %}

<link rel="stylesheet" href="/static/css/header.css" />
<link rel="stylesheet" href="/static/css/reveal.css">


<div class="container-header">
    <header id="header">
        <div id="top">
            <div class="col-3 left"></div>
            <div class="col-3 center"></div>
            <div class="col-3 right"></div>
            <h1>
	            <a href="/">
	               <img src="/static/img/logo_landing.png" width="186" height="65" alt="DataDonors Logo"
	                    title="DataDonors" />
	            </a>
            </h1>
            <div id="banner">
	            <a href="mailto:support@wikilife.org">
	               <img src="/static/img/BETA-SMALL.png" width="474" height="57" alt="Send Feedback"
	                    title="Send Feedback" />
	            </a>
            </div>
            <div id="center-nav">
                <nav class="nav" id="">

                    {% if request.user.is_authenticated %}
                    <a href="/about-us" title="About Us">About Us</a>
                    <a href="/logout" title="logout">logout</a>
                    {% else %}
                    <a href="#" title="login" data-reveal-id="login_container">login</a>
                    {% endif %}
                </nav>
            </div>
            <!-- #preloader-copy-wrapper -->
            {% if can_share %}
            <a href="/wizard" title="Start Sharing" id="start-sharing">Start Sharing</a>
            {% endif %}
        </div>
    </header>
    <!-- #header -->
</div>
<!-- .container-header -->