{% if login_error %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('#login_container').reveal({
             animation: 'fadeAndPop',                   //fade, fadeAndPop, none
             animationspeed: 300,                       //how fast animtions are
             closeonbackgroundclick: true,              //if you click background will modal close?
             dismissmodalclass: 'close_login'    //the class of a button or element that will close an open modal
        });
    });
    </script>
{% endif %}
<link rel="stylesheet" href="/static/css/login.css" />
<!--login_container-->
<div id="login_container" class="reveal-modal">

	<h1>Login</h1>
	<h2>Welcome back</h2>


	<!--div class="close_login">
		<a href="#" id="close_login">close</a>
	</div-->

{% if login_error %}
  <p class="error">Sorry, this account is not related to DataDonors.<br>Please, try another or <a href="/wizard" style="color: white">create one</a>.</p>
{% else %}
  <p>use any of these services to login</p>
{% endif %}

	<div class="login-bubbles">
		<ul>
			<li><a href="{% url "socialauth_begin" "twitter" %}?from_login=true" class="twitter">twitter</a></li>
			<li><a href="{% url "socialauth_begin" "facebook" %}?from_login=true" class="facebook">facebook</a></li>
			<li><a href="{% url "socialauth_begin" "google" %}?from_login=true" class="gmail">gmail</a></li>

		</ul>

		<div style="clear: both;"></div>
	</div>
	<!-- End: login-bubbles-->

	<div style="clear: both;"></div>
</div>
<!--/login_container-->



<script>
  $(function() {
    $('a#close_login').on('click', function(event) {
      event.preventDefault();
      $('#login_container').fadeOut();
    });
  });
</script>