<div id="slide-6" class="slide" >

<!-- <h2>How does it work?</h2> -->
    <h3><br />LINK YOUR NUTRITION DATA</h3>

    <h4>
        All data is always shared anonymously. <a href="#" class="learnmore">Learn more</a>
    </h4>

    <div class="inner-redes">

        <a href="javascript:void(0)" class="circle fatsecret disabled" title="Fatsecret" ><span>Fatsecret</span></a>

        <a href="javascript:void(0)" class="circle wikilife disabled" title="Wikilife" ><span>Wikilife</span></a>

        <a href="javascript:void(0)" class="circle withings disabled" title="Withings" ><span>Withings</span></a>

    </div><!-- .inner-redes -->


    <div class="cont-next">

    	<a href="#" class="back" title="Back">Back</a>

    	<a href="#" class="next" title="next">Next</a>

	</div><!-- .cont-next -->

</div><!-- .slide-6 -->