<div id="slide-4" class="slide" >

<!-- <h2>How does it work?</h2> -->    
    <h3><br />LINK YOUR SOCIAL NETWORKS</h3>
    
    <h4>
        We will never post on your behalf. All data is always shared anonymously. <a href="#" class="learnmore">Learn more</a>.
    </h4>
    
    <h4 class="wizard-tap">Click or tap to select</h4>
    
    <div class="inner-redes">
    
    	<div class="cont-redes" >
        
  					{% if "twitter" in social_auth.social.associated %}
					<a href="{% url "socialauth_disconnect" "twitter" %}"class="circle twitter checked"  title="twitter" ><span>Twitter</span></a>
					{% else %}
					<a href="{% url "socialauth_begin" "twitter" %}" class="circle twitter"  title="twitter" ><span>Twitter</span></a>
					{% endif%}
					
					{% if "facebook" in social_auth.social.associated %}
					<a href="{% url "socialauth_disconnect" "facebook" %}" class="circle facebook checked" title="Facebook"><span>Facebook</span></a>
					{% else %}
					<a href="{% url "socialauth_begin" "facebook" %}" class="circle facebook" title="Facebook"><span>Facebook</span></a>
					{% endif%}
					{% if "linkedin-oauth2" in social_auth.social.associated %}
					<a href="{% url "socialauth_disconnect" "linkedin-oauth2" %}" class="circle linkedin checked" title="linkedin"><span>Linkedin</span></a>
					{% else %}
					<a href="{% url "socialauth_begin" "linkedin-oauth2" %}" class="circle linkedin" title="linkedin"><span>Linkedin</span></a>
					{% endif%}
					{% if "google-oauth2" in social_auth.social.associated %}
					<a href="{% url "socialauth_disconnect" "google-oauth2" %}" class="circle gmail checked" title="google_+" ><span>Google +</span></a>
					{% else %}
					<a href="{% url "socialauth_begin" "google-oauth2" %}" class="circle gmail" title="google_+" ><span>Google +</span></a>
					{% endif%}
					{% if "foursquare" in social_auth.social.associated %}
					<a href="{% url "socialauth_disconnect" "foursquare" %}" class="circle foursquare checked" title="Foursquare" ><span>Foursquare</span></a>
					{% else %}
					<a href="{% url "socialauth_begin" "foursquare" %}" class="circle foursquare" title="Foursquare" ><span>Foursquare</span></a>
					{% endif%}
            
                 
        </div><!-- .cont-redes -->
        
        <form id="form-input" action="#" style="display:none;" >
    
            <input type="text" class="form-input" id="mail" name="mail"  />
            
            <a href="#" title="send" class="send">Send</a>
            
		</form>
    
    </div><!-- .inner-redes -->
    
    <div class="cont-next">
    
	    <a href="#" class="next nextAlone" title="next">Next</a>
        
    </div><!-- .cont-next -->
    
</div><!-- .slide-4 -->