{% load i18n %}
<div id="slide-8" class="slide" >

<!-- <h2>How does it work?</h2> -->    
    <h3><br />{% blocktrans%}LINK YOUR GENETIC REPORT{% endblocktrans%}</h3>
    
    <h4>
        {% blocktrans%}All data is always shared anonymously. <a href="/learn-more/" class="learnmore">Learn more</a>{% endblocktrans%}
    </h4>

    <div class="inner-redes">
        {% if "twentythreeandme" in social_auth.genomics.associated %}
		<a href="{% url "socialauth_disconnect" "twentythreeandme" %}"class="circle genomics-23andMe checked"  title="23andMe" ><span>23andMe</span></a>
		{% else %}
		<a href="{% url "socialauth_begin" "twentythreeandme" %}" class="circle genomics-23andMe"  title="23andMe" ><span>23andMe</span></a>
		{% endif%} 
    	<!-- a href="#" class="circle genomics-23andMe"  title="23andMe" ><span>23andMe</span></a-->
        
    </div><!-- .inner-redes -->
    
    <div class="cont-next">
    
	    <a href="#" class="back" title="Back">{% blocktrans%}Back{% endblocktrans%}</a>
	    <a href="{% if no_gender %}#{% else%}/end-wizard/{%endif%}" class="done" {% if no_gender %}data-reveal-id="gender_container"{% endif %} title="done">{% blocktrans%}Done!{% endblocktrans%}</a>

    
    </div><!-- .cont-next -->
    
</div><!-- .slide-7 -->