<div id="slide-4" class="slide" >

	<h2>How does it work?</h2>
    
    <h3><br />LINK YOUR SOCIAL NETWORKS</h3>
    
    <h4>Click or tap to select</h4>
    
    <div class="inner-redes">
    
    	<div class="cont-redes" >
        
            <a href="#" class="circle twitter"  title="twitter" ><span>Twitter</span></a>
            
            <a href="#" class="circle facebook" title="Facebook" ><span>Facebook</span></a>
            
            <a href="#" class="circle linkedin" title="linkedin" ><span>Linkedin</span></a>
            
            <a href="#" class="circle gmail" title="gmail" ><span>Gmail</span></a>
            
            <a href="#" class="circle foursquare" title="Foursquare" ><span>Foursquare</span></a>
        
        </div><!-- .cont-redes -->
        
        <form id="form-input" action="#" style="display:none;" >
    
            <input type="text" class="form-input" id="mail" name="mail"  />
            
            <a href="#" title="send" class="send">Send</a>
            
		</form>
    
    </div><!-- .inner-redes -->
    
    <div class="cont-next">
    
    	<a href="#" class="back" title="Back">Back</a>
    
	    <a href="#" class="next" title="next">Next</a>
        
    </div><!-- .cont-next -->
    
</div><!-- .slide-4 -->