<div id="slide-6" class="slide" >

<!-- <h2>How does it work?</h2> -->
    <h3><br />LINK YOUR NUTRITION DATA</h3>

    <h4>
        All data is always shared anonymously. <a href="#" class="learnmore">Learn more</a>
    </h4>

    <div class="inner-redes">

        {% if "fatsecret" in social_auth.nutrition.associated %}
		<a href="{% url "socialauth_disconnect" "fatsecret" %}"class="circle fatsecret checked"  title="fatsecret" ><span>Fatsecret</span></a>
		{% else %}
		<a href="{% url "socialauth_begin" "fatsecret" %}" class="circle fatsecret"  title="fatsecret" ><span>Fatsecret</span></a>
		{% endif%}

        {% if "withings" in social_auth.health.associated %}
		<a href="{% url "socialauth_disconnect" "withings" %}"class="circle withings checked"  title="withings" ><span>Withings</span></a>
		{% else %}
		<a href="{% url "socialauth_begin" "withings" %}" class="circle withings"  title="withings" ><span>Withings</span></a>
		{% endif%}
		
        <a href="javascript:void(0)" class="circle wikilife disabled" title="Wikilife" ><img src="/static/img/big_social_nav/ribbon.png" class="disabled-ribbon"><span>Wikilife</span></a>

        <!-- a href="javascript:void(0)" class="circle withings disabled" title="Withings" ><img src="/static/img/big_social_nav/ribbon.png" class="disabled-ribbon"><span>Withings</span></a-->

    </div><!-- .inner-redes -->


    <div class="cont-next">

    	<a href="#" class="back" title="Back">Back</a>

    	<a href="#" class="next" title="next">Next</a>

	</div><!-- .cont-next -->

</div><!-- .slide-6 -->