<div id="slide-5" class="slide" >

	<h2>How does it work?</h2>
    
    <h3><br />LINK YOUR FITNESS TRACKERS</h3>
    
    <h4>Click or tap to select</h4>
    
    <div class="inner-redes">
    
    	<a href="#" class="circle fatsecret"  title="Fatsecret" ><span>Fatsecret</span></a>
        
        <a href="#" class="circle myfitness" title="Myfitness" ><span>Myfitness</span></a>
        
        <a href="#" class="circle bodymedia" title="Body Media" ><span>Body Media</span></a>
        
        <a href="#" class="circle dailymile" title="Dailymile" ><span>Dailymile</span></a>
        
        <a href="#" class="circle runkeeper" title="Runkeeper" ><span>Runkeeper</span></a>
        
        <a href="#" class="circle nike" title="Nike+" ><span>Nike+</span></a>
        
        <a href="#" class="circle fitbit" title="Fitbit" ><span>Fitbit</span></a>
        
        <a href="#" class="circle jawbone" title="Jawbone" ><span>Jawbone</span></a>
        
        <a href="#" class="circle iHealth" title="iHealth" ><span>iHealth</span></a>
        
    </div><!-- .inner-redes -->
    
    <div class="cont-next">
    
    	<a href="#" class="back" title="Back">Back</a>
    
    	<a href="#" class="next" title="next" >Next</a>
    
    </div><!-- .cont-next -->
    
</div><!-- .slide-5 -->