
<div id="slide-1" class="slide slide_control" data-link="1" >

	<h2>How does it work?</h2>
    
    <h3>DONATE YOUR DATA,<br />IT WON’T TAKE LONG</h3>
    
    <div class="circle"></div>
    
    <div class="bottom-slide">
    
   	  <h4 class="left"><br /></h4>
    	
        <div class="center">
        
        	<ul>
            
            	<li class="social">
                
                	<div class="icon"></div>
                    
                    <h5>Social</h5>
                
                </li>
                
                <li class="physical">
                
                	<div class="icon"></div>
                    
                    <h5>Physical</h5>
                
                </li>
                
                <li class="nutrition">
                
                	<div class="icon"></div>
                    
                    <h5>Nutrition</h5>
                
                </li>
                
                <li class="health">
                
                	<div class="icon"></div>
                    
                    <h5>Health</h5>
                
                </li>
                
                <li class="genomic">
                
                	<div class="icon"></div>
                    
                    <h5>Genomics</h5>
                
                </li>
            
            </ul>
        
        </div><!-- .center -->
        
        
       
        
   	  <h4 class="right"> <br /></h4>
    
  </div><!-- .bottom-slide -->
    

</div><!-- .slide-1 -->