{% load i18n %}
<div class="centrar-v black">

<div id="slider">
<div class="flexslider">
  <ul class="slides">

    <li>
      {% include "wizard_inc/slide4.html"%}
    </li>
    <li>
      {% include "wizard_inc/slide5.html"%}
    </li>
    <li>
      {% include "wizard_inc/slide6.html"%}
    </li>
    <li>
      {% include "wizard_inc/slide7.html"%}
    </li>
    <li>
      {% include "wizard_inc/slide8.html"%}
    </li>
  </ul>
</div>
</div>
     <div id="timeline">
            <div id="controles{% if not request.user.is_authenticated %}a{% endif%}">
                <ul>
                    <li id="thumb-0" class="active">
                        <a href="#" data-link="0" {% if "google"  not in social_auth.social.associated and "twitter"  not in social_auth.social.associated and "facebook"  not in social_auth.social.associated %}data-reveal-id="wizard_error_container"{% endif%}></a>
                        <span class="icon"></span>
                    </li>

                    <li id="thumb-1" >
                        <a href="#" data-link="1" {% if "google"  not in social_auth.social.associated and "twitter"  not in social_auth.social.associated and "facebook"  not in social_auth.social.associated %}data-reveal-id="wizard_error_container"{% endif%}></a>
                        <span class="icon"></span>
                    </li>

                    <li id="thumb-2" >
                        <a href="#" data-link="2" {% if "google"  not in social_auth.social.associated and "twitter"  not in social_auth.social.associated and "facebook"  not in social_auth.social.associated %}data-reveal-id="wizard_error_container"{% endif%}></a>
                        <span class="icon"></span>
                    </li>

                    <li id="thumb-3" >
                        <a href="#" data-link="3" {% if "google"  not in social_auth.social.associated and "twitter"  not in social_auth.social.associated and "facebook"  not in social_auth.social.associated%}data-reveal-id="wizard_error_container"{% endif%}></a>
                        <span class="icon"></span>
                    </li>

                    <li id="thumb-4" >
                        <a href="#" data-link="4" {% if "google"  not in social_auth.social.associated and "twitter"  not in social_auth.social.associated and "facebook"  not in social_auth.social.associated %}data-reveal-id="wizard_error_container"{% endif%}></a>
                        <span class="icon"></span>
                    </li>

                </ul>
            </div>
            <div class="cont-progress">
                <div id="progress" style="overflow: hidden;"></div>
            </div>
        </div>

</div><!-- .centrar-v -->