<div class="centrar-v black">

<div id="slider">
<div class="flexslider">
  <ul class="slides">

    <li>
      {% include "wizard_inc/slide4.html"%}
    </li>
    <li>
      {% include "wizard_inc/slide5.html"%}
    </li>
    <li>
      {% include "wizard_inc/slide6.html"%}
    </li>
    <li>
      {% include "wizard_inc/slide7.html"%}
    </li>
    <li>
      {% include "wizard_inc/slide8.html"%}
    </li>
  </ul>
</div>
</div>
    
	
    
   

    
     <div id="timeline">
            <div id="controles">
                <ul>
                    <li id="thumb-0" >
                        <a href="#" data-link="0"></a>
                        <span class="icon"></span>
                    </li>
                    
                    <li id="thumb-1" >
                        <a href="#" data-link="1"></a>
                        <span class="icon"></span>
                    </li>
                    
                    <li id="thumb-2" >
                        <a href="#" data-link="2"></a>
                        <span class="icon"></span>
                    </li>
                    
                    <li id="thumb-3" >
                        <a href="#" data-link="3"></a>
                        <span class="icon"></span>
                    </li>
                    
                    <li id="thumb-4" >
                        <a href="#" data-link="4"></a>
                        <span class="icon"></span>
                    </li>
                    
                </ul>
            </div>
            <div class="cont-progress">
                <div id="progress" style="overflow: hidden;"></div>
            </div>
        </div>
    
</div><!-- .centrar-v -->