<section id="about" class="scrollsections">
	<section id="second" class="row section-about full-screen seccion">

		<h3>
			WHAT IS <br /> DATADONORS?
		</h3>


		<div class="center-v">

			<div class="middle">

				<img src="/static/img/logo-row-2.jpg" width="750"
					title="Logo Datadonor" alt="Logo Datadonor" />

			</div>
			<!-- .middle -->

			<div class="middle right">

				<!--  img src="/static/img/texto-row-right.jpg" width="750" /-->
				<p>
					We're used to sharing everything online. It's what we do everyday.

					Using Facebook, Twitter, Runkeeper, Fitbit or whatever platform, we
					share all the time. But does that really help anyone?<br />
					<br /> In most cases, it doesn't. And that's ok. But what if we
					could save lives with that same sharing? By connecting any of these
					devices and apps and sharing your information, you can help us to
					create an extensive database that can be used by researchers around
					the globe to help discover new scientific information and
					hypotheses.
				</p>
				<div class="clear"></div>

			</div>
			<!-- .middle -->

		</div>

		<div id="logos">
			<div id="slider-logos">
				<img src="/static/img/fitbit.jpg" title="fitbit" alt="fitbit" /> <img
					src="/static/img/myfitness.jpg" title="myfitness" alt="myfitness" />
				<img src="/static/img/bodymedia.jpg" title="bodymedia"
					alt="bodymedia" /> <img src="/static/img/dailymile.jpg"
					title="dailymile" alt="dailymile" /> <img
					src="/static/img/runkeeper.jpg" title="runkeeper" alt="runkeeper" />
				<img src="/static/img/nike+.jpg" title="nike+" alt="nike+" /> <img
					src="/static/img/fatsecret.jpg" title="fatsecret" alt="fatsecret" />
				<img src="/static/img/wikilife.jpg" title="wikilife" alt="wikilife" />
				<img src="/static/img/whithings.jpg" title="whithings"
					alt="whithings" /> <img src="/static/img/23andme.jpg"
					title="23andme" alt="23andme" /> <img
					src="/static/img/jawbone.jpg" title="jawbone" alt="jawbone" /> <img
					src="/static/img/moodpanda.jpg" title="moodpanda" alt="moodpanda" />
				<img src="/static/img/ihealth.jpg" title="ihealth" alt="ihealth" />
				<img src="/static/img/twitter.jpg" title="twitter" alt="twitter" />
				<img src="/static/img/facebook.jpg" title="facebook" alt="facebook" />
				<img src="/static/img/linkedin.jpg" title="linkedin" alt="linkedin" />
				<img src="/static/img/gmail.jpg" title="gmail" alt="gmail" /> <img
					src="/static/img/foursquare.jpg" title="foursquare"
					alt="foursquare" />

			</div>
			<!-- #slider-logos -->
		</div>
		<!-- #logos -->

	</section>
	<!-- #second -->
</section>