{% load i18n %}
<section id="about" class="scrollsections">
	<section id="second" class="row section-about full-screen seccion">
    <img src="http://datadonors.org/static/img/landing/goto1.png" class="goto">

		<h3>
			{% trans "WHAT IS" %} <br /> DATADONORS? <br/><span style="font-size:20px"><a href="#">Watch campaign video</a></span>
		</h3>


		<div class="center-v">

			<div class="middle">

				<img src="http://datadonors.org/static/img/logo-row-2.jpg" width="750"
					title="Logo Datadonor" alt="Logo Datadonor" />

			</div>
			<!-- .middle -->

			<div class="middle right">

				<!--  img src="http://datadonors.org/static/img/texto-row-right.jpg" width="750" /-->
				<p>
					{% trans "We're used to sharing everything online. It's what we do everyday. Using Facebook, Twitter, Runkeeper, Fitbit or whatever platform, we share all the time. But does that really help anyone?" %}<br />
					<br />
					{% trans "In most cases, it doesn't. And that's ok. But what if we could save lives with that same sharing? By connecting any of these devices and apps and sharing your information, you can help us to create an extensive database that can be used by researchers to improve health and eradicate illness."%}
				</p>
				<p>
				 {% trans "A campaign by" %} The Wikilife Foundation {% trans "a non-profit §501(c)(3) organization"%}.
				 </p>
				<div class="clear"></div>

			</div>
			<!-- .middle -->

		<!-- #logos -->
		</div>

			<div id="logos">
			<img src="http://datadonors.org/static/img/apps/todos.png" title="Apps" alt="Apps" />

			<!-- #slider-logos -->
		</div>

	</section>
	<!-- #second -->
</section>