{% load i18n %}
<style>
#news{
    width:  0px;
    height: 0px;
    border-width: 0 620px 470px;
    border-color: transparent #063f61 transparent transparent;
    border-style: solid;     
    float: right;
    position: absolute !important;
    border-top-width:0px;
    right: 0;
    top: 0;
    z-index: 100 !important;

}

#news_content{
     background-color: #063f61;
    color: white;
    cursor: pointer;
    float: right;
    font-family: gothamultra;
    font-size: 30px;
    height: 140px;
    padding-left: 30px;
    padding-top: 25px;
    position: absolute !important;
    top: 120px;
    width: 200px !important;
    z-index: 101;
    -moz-border-radius: 15px;
border-radius: 15px;
margin-left: 10px;

}

#news_content img{
    cursor: pointer !important;
    margin-left: 0px;
    margin-top: 5px;
    width: 180px;
    
}

#news_content img:hover{
    cursor: pointer !important;
    
}



#news_content_2{
     background-color: #EF6C6C;
    color: white;
    cursor: pointer;
    float: right;
    font-family: gothamultra;
    font-size: 30px;
    height: 140px;
    padding-left: 30px;
    padding-top: 25px;
    position: absolute !important;
    top: 420px;
    width: 200px !important;
    z-index: 102;
    -moz-border-radius: 15px;
border-radius: 15px;
margin-left: 10px;

}

#news_content_2 img{
    cursor: pointer !important;
    margin-left: 0px;
    margin-top: 5px;
    width: 180px;
    
}

#news_content_2 img:hover{
    cursor: pointer !important;
    
}


</style>
<section id="about" class="scrollsections active-scrollsection">
	<section id="second" class="row section-about full-screen seccion">
        <div class="wrapper section-top" id="header-top">
            <a href="#" class="close-video" onClick="close_video(); return false;"></a>
            <div class="video-1">

                <!-- a href="#" id="video-02" onClick="play2Pause(); return false;" class="watch-video" >{% trans "Watch overview" %}</a-->
            </div>

            <a href="#" class="pause" onClick="pause(); return false;"></a>
            <div class="flexslider1" >

                <ul class="slides">

                    <li>
                        <div class="capa"></div>

                        <video width="640" id="video-top" class="vid-0" preload="auto" style="display: none;" >
                            <source src="http://static.wikilife.org/DataDonors.m4v" type='video/mp4;'>
                            <source src="http://static.wikilife.org/DataDonors.webmhd.webm" type='video/webm; codecs="vp8.0, vorbis"'>
                            <source src="http://static.wikilife.org/DataDonors.ogv" type='video/ogg; codecs="theora, vorbis"'>
                        </video>
                        
                        <video width="640" id="video-how" class="vid-0" preload="auto" style="display: none;" >
                            <source src="http://static.wikilife.org/datadonors_final_low.mp4.mp4" type='video/mp4;'>
                            <source src="http://static.wikilife.org/datadonors_final_low.webmhd.webm" type='video/webm; codecs="vp8.0, vorbis"'>
                            <source src="http://static.wikilife.org/datadonors_final_low.oggtheora.ogv" type='video/ogg; codecs="theora, vorbis"'>
                        </video>

                   </li>

                </ul>

            </div>


        </div>
        <div id="about_">
    <img src="http://datadonors.org/static/img/landing/goto1.png" class="goto">

		<h3>
			{% trans "WHAT IS" %} <br /> DATADONORS? <br/><span style="font-size:20px"><a href="#" onClick="playPause(); return false;" style="color:#fff!important">Watch campaign video</a></span>
		</h3>


		<div class="center-v">

			<div class="middle">

				<img src="http://datadonors.org/static/img/logo-row-2.jpg" width="750"
					title="Logo Datadonor" alt="Logo Datadonor" />

			</div>
			<!-- .middle -->

			<div class="middle right">

				<p>
					{% trans "We're used to sharing everything online. It's what we do everyday. Using Facebook, Twitter, Runkeeper, Fitbit or whatever platform, we share all the time. But does that really help anyone?" %}<br />
					<br />
					{% trans "In most cases, it doesn't. And that's ok. But what if we could save lives with that same sharing? By connecting any of these devices and apps and sharing your information, you can help us to create an extensive database that can be used by researchers to improve health and eradicate illness."%}
				</p>
				<p>
				 {% trans "A campaign by" %} The Wikilife Foundation {% trans "a non-profit §501(c)(3) organization"%}.
				 </p>
				<div class="clear"></div>

			</div>
			<!-- .middle -->

		<!-- #logos -->
		</div>

			<div id="logos">
			<img src="http://datadonors.org/static/img/apps/todos.png" title="Apps" alt="Apps" />

			<!-- #slider-logos -->
		</div>
		<div id="news_content"  onclick="window.open('http://healthdatapalooza.org/detailed-agenda/','new_window');">Find us!
		<img  width="180" onclick="window.open('http://healthdatapalooza.org/detailed-agenda/','new_window');" src="/static/img/datapalloza.png">
		</div>
		
		<div id="news_content_2"  onclick="window.open('https://itunes.apple.com/ar/app/datadonors/id975656268?l=en&mt=8','new_window');">The App!
        <img  width="180"  src="/static/img/apple.png">
        </div>
		</div>

	</section>
	<!-- #second -->
</section>