<section id="donatedd" class="scrollsections">

	<section id="third" class="row section-start seccion">

		<div class="contenedor seccion section-contado">

			<div class="contenedor-to">
			{% for i in loop_times %}
				<div class="cuadro">
					<div class="img">
						<img src="/static/img/caras/{{i}}.jpg" alt="photo"
							title="photo" />
					</div>
				</div>
			{% endfor %}

			</div>


			<div class="bottom-donate">

				<div class="top"></div>

				<div class="half left">

					<div class="box">

						<p class="left">You will find different aspects of your life
							represented in numbers and charts.</p>

						<p class="right">With every bit of data you share you &#146;ll
							be helping others and perhaps even one day, yourself.</p>

					</div>

				</div>
				<!-- .half -->

				<div class="half">

					<a href="/wizard" title="donate" id="donate" data-reveal-id="_coming">Donate</a>

				</div>
				<!-- .half -->

			</div>
			<!-- .bottom-donate -->

		</div>
		<!-- .contenedor -->
	</section>

</section>