<section id="donors" class="scrollsections">

	<section id="section-counter" class="row full-screen seccion">


		<div class="heading-row section-contador">


			<h2>
				<em>DONATIONS SO FAR</em>
			</h2>

		</div>
		<!-- .heading-row -->

		<div class="center-v">

			<div class="marcas-container ">

				<h3>
					459.<span>120</span>
				</h3>

				<h4>
					 Are donating data<br> right now, and
					you  <br> can join them!
				</h4>

				<div class="clear"></div>

			</div>
			<!-- marcas-container -->

			<div class="marcas-container data-shared">

				<div class="left">

					<h3>
						2.<span>726.683</span>
					</h3>



					<h4>Data items have been donated so far.</h4>

				</div>
				<!-- .left -->


				<div class="clear"></div>

			</div>
			<!-- .data-shared -->

		</div>

	</section>
	<!-- #section-counter -->

</section>