{% load i18n %}
<section id="donors" class="scrollsections">

	<section id="section-counter" class="row full-screen seccion">
    <img src="http://datadonors.org/static/img/landing/goto2.png" class="goto">


		<div class="heading-row section-contador">


			<h2>
				<em>{% blocktrans %}DONATIONS SO FAR{% endblocktrans %}</em>
			</h2>

		</div>
		<!-- .heading-row -->

		<div class="center-v">

			<div class="marcas-container ">

				<h3>
					704.<span>528</span>
				</h3>

				<h4>
					 {% blocktrans %}Are donating data<br> right now, and
					you  <br> can join them!{% endblocktrans %}
				</h4>

				<div class="clear"></div>

			</div>
			<!-- marcas-container -->

			<div class="marcas-container data-shared">

				<div class="left">

					<h3>
						3.<span>778.192</span>
					</h3>



					<h4>{% blocktrans %}Data items have been donated so far.{% endblocktrans %}</h4>

				</div>
				<!-- .left -->


				<div class="clear"></div>

			</div>
			<!-- .data-shared -->

		</div>

	</section>
	<!-- #section-counter -->

</section>