<section id="donors" class="scrollsections">

	<section id="section-counter" class="row full-screen seccion">


		<div class="heading-row section-contador">

			<a href="#donors" class="goto" data-scroll="contador"></a>

			<h2>
				The importance<br />
				<em>OF SHARING</em>
			</h2>

		</div>
		<!-- .heading-row -->

		<div class="center-v">

			<div class="marcas-container ">

				<h3>
					42.<span>239</span>
				</h3>

				<h4>
					And counting are <br> donating data right <br> now, and
					you can <br>join them!
				</h4>

				<div class="clear"></div>

			</div>
			<!-- marcas-container -->

			<div class="marcas-container data-shared">

				<div class="left">

					<h3>
						6.<span>875.437</span>
					</h3>



					<h4>Have already shared something at DataDonors. Time to join
						them!</h4>

				</div>
				<!-- .left -->


				<div class="clear"></div>

			</div>
			<!-- .data-shared -->

		</div>

	</section>
	<!-- #section-counter -->

</section>