
<footer id="footer">

	<div class="innerfot">

		<h5>

			<img src="/static/img/logo-foooter.jpg" width="177" height="76"
				title="Logo DataDonors" alt="Logo DataDonors">

		</h5>

		<ul id="redes-fotter">
			<li class="facebook"><a href="https://www.facebook.com/datadonors" title="facebook"></a></li>

			<li class="twitter"><a href="https://twitter.com/datadonors" title="twitter"></a></li>

			<li class="mail"><a href="#" title="mail"></a></li>

		</ul>
		<!-- .redes-fotter -->

	</div>
	<!-- .inner -->
</footer>
<!-- #footer -->