<head>
	
    <meta charset="utf-8">

<!-- 	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

	<title>Data Donors</title>
	
    <meta name="description" content="">
	
    <meta name="author" content="">
      
   	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/> 
    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?6548321"/>
    
    <link rel="stylesheet" type="text/css" href="/static/css/flexslider.css"/>
    
    <link rel="stylesheet" media="screen and (max-height: 730px)" href="/static/css/min.css" />
    
    <link rel="stylesheet" media="screen and (min-height: 800px)" href="/static/css/max.css" />
    
    <link rel="stylesheet" media="screen and (min-height: 900px)" href="/static/css/highest.css" />
    
	<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)" href="/static/css/ipad-h.css" />
    
	<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)" href="/static/css/ipad-v.css" /> 
 
	<link rel="stylesheet" href="/static/css/style2.css">
	
    <link rel="stylesheet" href="/static/css/jquery.scrollSections.css">
    <link rel="stylesheet" href="/static/css/reveal.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.reveal.js"></script>
		
	<script src="/static/js/vendor/modernizr-2.5.3.min.js"></script>	
        
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
