<section id="howtoshare" class="scrollsections">
  <section id="five" class="row section-for-what seccion full-screen">
    <img src="http://datadonors.org/static/img/landing/goto2.png" class="goto">

			<a href="#howtoshare" class="goto" data-scroll="howtoshare"></a>

	<div class="flexslider seccion">

		<ul class="slides">

			<li class="slide-1 slide seccion">

<!-- 				<h2>Time to link your social life</h2>
 -->
				<h3>
					DONATE YOUR DATA, <br>IT WON&#146;T TAKE LONG
				</h3>

				<div class="inner container-bubbles">

					<div class="circle"></div>
					<!-- .circle -->

					<div class="clear"></div>

					<div class="footer-slide">

<!-- 						<h4>
							START <br>LINKING
						</h4> -->

						<ul class="container-circulos">

							<li class="social">

								<div class="circulo"></div> <span>Social</span></li>

							<li class="physical">

								<div class="circulo"></div> <span>Physical</span></li>

							<li class="nutrition">

								<div class="circulo"></div> <span>Nutrition</span></li>

							<li class="health">

								<div class="circulo"></div> <span>Health</span></li>

							<li class="genomics">

								<div class="circulo"></div> <span>Genomics</span></li>

						</ul>

<!-- 						<h4 class="right-head">
							YOUR APPS <br>AND DEVICES.
						</h4> -->

					</div>

				</div></li>

			<li class="slide-2 slide seccion">

				<!-- <h2>Simple stats to share</h2> -->

				<h3>PERSONAL STATISTICS</h3>

				<div class="inner">

					<h4>
						GET NEW <br>INSIGHT INTO <br>YOUR HEALTH
					</h4>

					<div class="bubles-cont">
						<div class="bubble-box bubble-3">

							<div class="circle">

								<div class="cont-stadis">

									<ul class="statistics">

										<li class="first"><span></span>
										</li>

										<li class="second"><span></span>
										</li>

										<li class="third"><span></span>
										</li>

										<li class="fourth"><span></span>
										</li>

										<li class="percent"></li>

										<li class="clear"></li>

									</ul>
									<!-- .statistics -->

									<div class="clear"></div>

								</div>
								<!-- cont-stadis -->

							</div>
							<!-- .circle -->

						</div>
						<!-- .bubble-3 -->

						<div class="bubble-box ">

							<div id="circle-stadistic" class="circle">

								<div id="c-1">
									<div id="c-2">
										<div id="c-3"></div>
									</div>
									<div id="c-4">
										<div id="c-5"></div>
									</div>
									<div id="c-6">
										<div id="c-7"></div>
									</div>
									<div id="c-8">
										<div id="c-9"></div>
									</div>
									<div id="c-10">
										<div id="c-11"></div>
									</div>
								</div>

								<div class="middle-circle">
									<div class="percent"></div>
								</div>

							</div>

						</div>
						<!-- .bubble-3 -->

					</div>

					<h5>
						FIND NEW <br> CORRELATIONS <br>IN YOUR DATA
					</h5>

				</div></li>

			<li class="slide-3 slide-4 slide seccion">

				<!-- <h2>A quick look at numbers</h2> -->

				<h3>
					COMPARE YOUR DATA WITH <br> OTHER DONORS
				</h3>

				<div class="inner">

					<h4 class="title-left">WE AGGREGATE <br />DONORS DATA</h4>

					<div class="cont-circles">

						<div class="circle">

							<h5>Overall avg</h5>

						</div>

						<div class="circle right">

							<h5>Your avg</h5>

						</div>

					</div>
					<!-- .cont-circles -->

					<h4 class="titleright">SO YOU CAN SEE<br /> HOW TO COMPARE</h4>

					<div class="clear"></div>

				</div></li>

		</ul>

		<div id="timeline">
			<div id="controles">
				<ul>
					<li id="thumb-0"><a href="#" data-link="0"></a> <span
						class="icon"></span></li>
					<li id="thumb-1"><a href="#" data-link="1"></a> <span
						class="icon"></span></li>
					<li id="thumb-2"><a href="#" data-link="2"></a> <span
						class="icon"></span></li>
					<!--
                            <li id="thumb-3" >
                                <a href="#" data-link="3"></a>
                                <span class="icon"></span>
                            </li>
                            -->
				</ul>
			</div>
			<div class="cont-progress">
				<div id="progress"></div>
			</div>
		</div>
	</div>

</section>
</section>