<div id="coming" class="reveal-modal">
	<h1>
		We're finalizing the details of the DataDonors site and you'll be able
		to share soon!
	</h1>
	<span>In the meantime follow us on Facebook and Twitter
		for the latest news.
	</span>
	<ul id="redes-pop">
		<li class="facebook"><a href="https://www.facebook.com/datadonors" target="_blank" title="facebook"></a></li>
		<li class="twitter"><a href="https://twitter.com/datadonors" target="_blank" title="twitter"></a></li>
		</ul>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="login" class="reveal-modal login-modal">
    <h1>Login</h1>
    <h2>Welcome Back!</h2>
    <span>use any of these services to log in.</span>
    <div style="clear: both;"></div>
    <a href="{% url "socialauth_begin" "twitter" %}?from_login=true" class="social-network-bubble circle twitter"  title="twitter" ><span>Twitter</span></a>
    <a href="{% url "socialauth_begin" "facebook" %}?from_login=true" class="social-network-bubble circle facebook" title="Facebook"><span>Facebook</span></a>
    <a href="{% url "socialauth_begin" "google" %}?from_login=true" class="social-network-bubble circle gmail" title="google_+" ><span>Google +</span></a>
    
    <div style="clear: both;"></div>
    <a class="close-reveal-modal">&#215;</a>
</div>

{% include "header.include.html" %}