		<div class="container-header">
        	
            <header id="header" >
            
                <div id="top">
                    
                    <div class="col-3 left" ></div>
                    
                    <div class="col-3 center" ></div>
                    
                    <div class="col-3 right" ></div>
                    
                    <h1>
                    	
                        <img src="/static/img/logo.png" width="145" height="49" alt="Logo DataDonors" title="Logo DataDonors" />
                    
                    </h1>
                    
                    <div id="center-nav">
                    
                        <nav class="nav" id="scrollsections-navigation" >
                        	
                            <a href="#home" title="section" class="link-home" data-scroll="top" >home</a>
                            
                            <a href="#about" title="section" class="link-about" data-scroll="about" >about</a>

                            <a href="#whatfor" title="section" class="link-for-what" data-scroll="for-what" >what for</a>

                            <a href="#donors" title="section" class="link-counter" data-scroll="contador" >donors</a>
                            
                            <a href="#howtoshare" title="section" class="link-how-to-share" data-scroll="how-to-share" >how to share</a>
                       
                        </nav>
                        
                    </div><!-- #preloader-copy-wrapper -->
                    
                	<a href="#" title="Start Sharing" id="start-sharing" >Start Sharing</a>
                    
                </div>
                
                <div class="bottom"></div>
                
            </header><!-- #header -->
				
		</div><!-- .container-header -->