
<div id="coming" class="reveal-modal">
	<h1>
		We're finalizing the details of the DataDonors site and you'll be able
		to share soon!
	</h1>
	<span>In the meantime follow us on Facebook and Twitter
		for the latest news.
	</span>
	<ul id="redes-fotter">
		<li class="facebook"><a href="https://www.facebook.com/datadonors" title="facebook"></a></li>
		<li class="twitter"><a href="https://twitter.com/datadonors" title="twitter"></a></li>
		</ul>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div class="container-header">

	<header id="header">

		<div id="top">

			<div class="col-3 left"></div>

			<div class="col-3 center"></div>

			<div class="col-3 right"></div>

			<h1>

				<img src="/static/img/logo.png" width="145" height="49"
					alt="Logo DataDonors" title="Logo DataDonors" />

			</h1>

			<div id="center-nav">

				<nav class="nav" id="scrollsections-navigation">

					<a href="#home" title="section" class="link-home" data-scroll="top">home</a>

					<a href="#about" title="section" class="link-about"
						data-scroll="about">about</a> <a href="#whatfor" title="section"
						class="link-for-what" data-scroll="for-what">why</a> 
					<a href="#howtoshare" title="section" class="link-how-to-share" data-scroll="how-to-share">how to share</a>
					<a href="#donors" title="section" class="link-counter" data-scroll="contador">donors</a> 

				</nav>

			</div>
			<!-- #preloader-copy-wrapper -->

			<a href="#" title="Start Sharing" id="start-sharing"
				data-reveal-id="coming">Start Sharing</a>

		</div>

		<div class="bottom"></div>

	</header>
	<!-- #header -->

</div>
<!-- .container-header -->