<section id="last" class="scrollsections">

	<div class="footer-path">


		<div class="center">

			<div class="inner">

				<ul id="share-for-good">

					<li><img src="/static/img/share-for-good-1.jpg"
						alt="share for good" title="share for good" height="117"
						width="108" /></li>

					<li>

						<div class="mascara-container" id="mascara-container">

							<img src="/static/img/mascara.png" width="108" height="117"
								alt="Share for good" title="Share for good" />

						</div>

						<div class="img-container" id="logo-img-container-1">

							<div class="img-fondo">

								<img src="/static/img/img-1.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-2.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-3.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-4.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-5.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-6.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

						</div></li>
					<li>
						<div class="mascara-container" id="mascara-container-2">

							<img src="/static/img/mascara.png" width="108" height="117"
								alt="Share for good" title="Share for good" />

						</div>

						<div class="img-container" id="logo-img-container-2">

							<div class="img-fondo">

								<img src="/static/img/img-7.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-2.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-3.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-4.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-5.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-7.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

						</div></li>
					<li><img src="/static/img/share-for-good-4.jpg"
						alt="share for good" title="share for good" height="117"
						width="108" /></li>
					<li><img src="/static/img/share-for-good-5.jpg"
						alt="share for good" title="share for good" height="117"
						width="108" /></li>

					<li class="last">

						<div class="mascara-container" id="mascara-container-3">

							<img src="/static/img/mascara.png" width="108" height="117"
								alt="Share for good" title="Share for good" />

						</div>

						<div class="img-container" id="logo-img-container-3">

							<div class="img-fondo">

								<img src="/static/img/img-8.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-2.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-3.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-4.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-5.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-8.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

						</div></li>

				</ul>

				<h4>
					Today we share everything.<br />what if that same sharing could
					save lives?
				</h4>


			</div>
			<!-- .inner -->



		</div>
		<!-- center -->
		<!-- <div class="bottom"></div>-->
	</div>

	{% include "landing_inc/footer.html"%}

</section>