<section id="last" class="scrollsections">

	<div class="footer-path">


		<div class="center">

			<div class="inner">

				<ul id="share-for-good">

					<li><img src="/static/img/share-for-good-1.jpg"
						alt="share for good" title="share for good" height="117"
						width="108" /></li>

					<li>

						<div class="mascara-container" id="mascara-container">

							<img src="/static/img/mascara.png" width="108" height="117"
								alt="Share for good" title="Share for good" />

						</div>

						<div class="img-container" id="logo-img-container-1">

							<div class="img-fondo">

								<img src="/static/img/img-1.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-2.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-3.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-4.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-5.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-6.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

						</div></li>
					<li>
						<div class="mascara-container" id="mascara-container-2">

							<img src="/static/img/mascara.png" width="108" height="117"
								alt="Share for good" title="Share for good" />

						</div>

						<div class="img-container" id="logo-img-container-2">

							<div class="img-fondo">

								<img src="/static/img/img-7.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-2.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-3.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-4.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-5.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-7.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

						</div></li>
					<li><!-- <img src="/static/img/share-for-good-4.jpg"
						alt="share for good" title="share for good" height="117"
						width="108" /> -->
						<div class="mascara-container" id="mascara-container-4">
							<img src="/static/img/mascara.png" width="108" height="117"
								alt="Share for good" title="Share for good" />
						</div>

						<div class="img-container" id="logo-img-container-4">

							<div class="img-fondo">

								<img src="/static/img/d-twitter.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-facebook.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-linkedin.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-gmail.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-foursquare.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-up.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-fitbit.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-myfitness.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-runkeeper.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-nike.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-dailymile.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-ihealth.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-bodymedia.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-wikilife.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-withings.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
							<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-fatsecret.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
								<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-moodpanda.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
								<div class="img-fondo-loop img-loop">

								<img src="/static/img/d-23andme.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>
						</div>
						</li>
					<li><img src="/static/img/share-for-good-5.jpg"
						alt="share for good" title="share for good" height="117"
						width="108" /></li>

					<li class="last">

						<div class="mascara-container" id="mascara-container-3">

							<img src="/static/img/mascara.png" width="108" height="117"
								alt="Share for good" title="Share for good" />

						</div>

						<div class="img-container" id="logo-img-container-3">

							<div class="img-fondo">

								<img src="/static/img/img-8.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-2.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-3.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-4.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-5.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

							<div class="img-fondo-loop img-loop">

								<img src="/static/img/img-8.jpg" width="108" height="117"
									alt="Share for good" title="Share for good" />

							</div>

						</div></li>

				</ul>

				<h4>
					Today we share everything.<br />What if that same sharing could
					save lives?
				</h4>

			</div>
			<!-- .inner -->

		</div>
		<!-- center -->
		<!-- <div class="bottom"></div>-->
	</div>



</section>