<section id="whatfor" class="scrollsections">

  <section id="four" class="row section-for-what seccion full-screen">
                <h2>WHY SHOULD YOU SHARE?</h2>

<!--             <h3 class="subtitle">You should know why it&#146;s so important</h3>
 -->

                <div class="center-v" >

                    <ul>

                        <li class="one">

                            <div class="contenido">

                                <div class="icon-sombra"></div>
                                <!--<div class="icon"></div>-->

                                <h3>For the Research<br /> Community</h3>

                                <p>Help them discover and create new hypotheses to understand and improve our health.</p>

                            </div>

                        </li>

<!--                         <li class="two">

                            <div class="contenido">

                                <div class="icon-sombra"></div>
                                <div class="icon2"></div>

                                <h3>For your <br />Friends</h3>

                                <p>Compare all your habits with people just like you and from all over the world.</p>

                            </div>

                        </li> -->

                        <li class="four">

                            <div class="contenido">


                                <div class="icon-sombra"></div>
                                <!--
                                <div class="icon">

                                    <img src="http://datadonors.org/static/img/icon.png" title="For Scientists and doctors" alt="For Scientists and doctors" width="90" height="90" />

                                </div>
                                -->
                                <h3>For the <br />World</h3>

                                <p>Your health data is a piece of the puzzle that helps us to see the picture of global health.</p>

                            </div>

                        </li>

                        <li class="three">

                            <div class="contenido">

                                <div class="icon-sombra"></div>
                                <!--<img src="http://datadonors.org/static/img/icon-2.jpg" title="For your Friends" alt="For your Friends" width="90" height="84" /> -->

                                <h3>For <br />Yourself</h3>

                                <p>Get all your health and lifestyle information in one simple and secure place and
                                compare with others.</p>

                            </div>

                        </li>

                    </ul>

                </div>



    </section>

</section>