{% load i18n %}
<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | {% blocktrans%}Advisory Council{% endblocktrans%}</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/team.css" rel="stylesheet" />

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>

</head>

<body>

<div id="container">

  <!--header-->
  {% include "header.include.html" %}
  <!--/header-->

  <div class="full_container plain_text learn-more">
    <div class="centered_container">

      <h2>{% blocktrans%}ADVISORY COUNCIL{% endblocktrans%}</h2>

      <p>{% blocktrans%}DataDonors is powered by our interdisciplinary team of talented innovators that
			includes scientists, designers, programmers and entrepreneurs who are passionate about
			raising awareness of global health issues.{% endblocktrans%}</p>
	<p>{% trans "A campaign by" %} <span class="wikilife">The Wikilife Foundation</span>, {% trans "a non-profit §501(c)(3) organization"%}</p>
	
	<img src="/static/img/team/anna.png" width="67" height="67">
      <h3>Anna Macmillan, <span class="info">MBA, PhD Asp.</span></h3>
      <h3 class="info">Middle East & North Africa Region Director</h3>
      <div class="section group"></div> 
      
      <img src="/static/img/advisory/diego_cheja.png">
      <h3>Diego Cheja, <span class="info">M.D.</span></h3>
      <h3 class="info">Digital Health devices Argentina-USA</h3>
      <div class="section group"></div>


	  


    </div>
  </div>

  {% include "footer.include.html" %}
</div>

</body>
</html>