{% load i18n %}
<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | {% trans "Bye" %}</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/mission.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/header-landing.css" />
	<link rel="stylesheet" href="/static/css/reveal.css">

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>
<style>
.nav a sub {
    color: #ef6c6c;
    font-size: 10px;
    text-transform: initial !important;
}
.mydata{

    color: #8e929c;
    //font-size: 13px;
    margin-right: 56px;
}

header h2 {
    left: 44%;
    top: 23px;
    position:absolute;
}
.learn-more {
    background-color: #8B44E8;
    position: relative;
}
.full_container {
    height: 600px;
    min-width: 1190px;
    width: 100%;
}
</style>
</head>

<body>

<div id="container">

<div class="container-header">
    <header id="header" class="fixed">
        <div id="top">
            <div class="col-3 left"></div>
            <div class="col-3 center"></div>
            <div class="col-3 right"></div>
            <h1>
	            <a href="http://datadonors.org/">
	               <img src="http://datadonors.org/static/img/logo_landing.png" width="186" height="65" alt="DataDonors Logo"
	                    title="DataDonors" />
	            </a>
            </h1>
            

            <div id="wiki-nav">
                <nav class="wiki-nav" id="">
                  {% trans "by The Wikilife Foundation" %}
                </nav>
            </div>
            <div id="center-nav">
                <nav class="nav" id="">	
                
                </nav>
            </div>
            <!-- #preloader-copy-wrapper -->
  
        </div>
        <div class="bottom-h"></div>
    </header>
    <!-- #header -->
</div>
<!-- .container-header -->
  <!--/header-->

  <div class="full_container plain_text learn-more">
    <div class="centered_container">

      <h2>{% trans "Bye!" %}</h2>

      <p>
      The Wikilife Foundation has been closed. </br>
      Thank you very much for your cooperation. We have erased all information collected by our services and apps.</br>
      The source produced by the foundation is Open Source and can be found on GitHub. </br>
      Thanks.

          
    </div>
  </div>

</div>
</body>
</html>