{% load i18n %}
<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | {% trans "Bye" %}</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/mission.css" rel="stylesheet" />

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>

</head>

<body>

<div id="container">

  <!--header-->
  {% include "header.include.html" %}
  <!--/header-->

  <div class="full_container plain_text learn-more">
    <div class="centered_container">

      <h2>{% trans "Bye!" %}</h2>

      <p>
      The Wikilife Foundation has been closed. Thank you very much for your cooperation. We have erased all information collected by our services and apps.
      The source produced by the foundation is Open Source and can be found on GitHub. Thanks.

          
    </div>
  </div>

</div>
</body>
</html>