<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | Contact</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/contact.css" rel="stylesheet" />

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/static/js/funciones.js"></script>

</head>

<body>

<div id="container">

  <!--header-->
  {% include "header.include.html" %}
  <!--/header-->

  <div class="full_container plain_text learn-more">
    <div class="centered_container">

      <h2>CONTACT</h2>

      <h3>A HEALTHY OUTSIDE STARTS FROM THE INSIDE</h3>
      <div class="section group">
		<span>Please contact us directly with any questions regarding Wikilife, our app or about working with
		us to help raise global health awareness.
		<br/>
		<br/>
		Sincerely,<br/>
		The Wikilife Team
		</span>
        </div>

      <h3 class="info">ADDRESS: <span class="info">4450 Arapahoe Ave. suite 100, Boulder, CO 80303</span></h3>
      
      <h3 class="info">PHONE:  <span class="info">303-415-2052</span></h3>
     
      <h3 class="info">MAIL: <span class="info">info@wikilife.org - donate@wikilife.org</span></h3>
       
      
    </div>
  </div>

  {% include "footer.include.html" %}
</div>
</body>
</html>