{% load i18n %}
<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | {% blocktrans%}Learn More{% endblocktrans%}</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/learn-more.css" rel="stylesheet" />

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>

</head>

<body>

<div id="container">

  <!--header-->
  {% include "header.include.html" %}
  <!--/header-->

  <div class="full_container plain_text learn-more">
    <div class="centered_container">

      <h2>{% blocktrans%}WHAT DATA ARE YOU DONATING?{% endblocktrans%}</h2>

      <p>{% blocktrans%}When you choose among any of the linkable services in our app set-up wizard we have access to certain kind of information through the apps and devices APIs. Within the linkable service, at this moment, it is not possible to customize what information to share. In the future this level of access will be fully customizable.
      <br>
      Here we list the data from each app and device that at the moment we have access to:{% endblocktrans%}

      <h3>{% blocktrans%}Social Section{% endblocktrans%}</h3>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/facebook.png">
          <ul>
            <li>{% blocktrans%}Friend count{% endblocktrans%}</li>
            <li>{% blocktrans%}Total likes{% endblocktrans%}</li>
            <li>{% blocktrans%}Total posts{% endblocktrans%}</li>
            <li>{% blocktrans%}Email{% endblocktrans%}</li>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/twitter.png">
          <ul>
            <li>{% blocktrans%}Followers count{% endblocktrans%}</li>
            <li>{% blocktrans%}Total retweets{% endblocktrans%}</li>
            <li>{% blocktrans%}Total tweets{% endblocktrans%}</li>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/linkedin.png">
          <ul>
            <li>{% blocktrans%}Email{% endblocktrans%}</li>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Years of experience{% endblocktrans%}</li>
            <li>{% blocktrans%}Level of education{% endblocktrans%}</li>
          </ul>
        </div>
      </div>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/foursquare.png">
          <ul>
            <li>{% blocktrans%}Email{% endblocktrans%}</li>
            <li>{% blocktrans%}Followers count{% endblocktrans%}</li>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/g+.png">
          <ul>
            <li>{% blocktrans%}Contacts count{% endblocktrans%}</li>
            <li>{% blocktrans%}Email{% endblocktrans%}</li>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
          </ul>
        </div>
      </div>

      <h3>{% blocktrans%}Physical Section{% endblocktrans%}</h3>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/bodymedia.png">
          <ul>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
            <li>{% blocktrans%}Weight{% endblocktrans%}</li>
            <li>{% blocktrans%}Height{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise name{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise duration{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise calories burnt{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/runkeeper.png">
          <ul>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
            <li>{% blocktrans%}Location{% endblocktrans%}</li>
            <li>{% blocktrans%}Weight {% endblocktrans%}</li>
            <li>{% blocktrans%}Height{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Name {% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Duration{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Calories Burned{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Distance{% endblocktrans%}</li>
            <li>{% blocktrans%}Steps{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/fitbit.png">
          <ul>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
            <li>{% blocktrans%}Location{% endblocktrans%}</li>
            <li>{% blocktrans%}Weight {% endblocktrans%}</li>
            <li>{% blocktrans%}Height{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Duration{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Calories Burned{% endblocktrans%}</li>
            <li>{% blocktrans%}Steps{% endblocktrans%}</li>
          </ul>
        </div>
      </div>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/dailymile.png">
          <ul>
            <li>{% blocktrans%}Location{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Name{% endblocktrans%} </li>
            <li>{% blocktrans%}Exercise Duration{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Calories Burnt{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/jawbone.png">
          <ul>
            <li>{% blocktrans%}Sleep{% endblocktrans%}</li>
            <li>{% blocktrans%}Fitness Activities{% endblocktrans%}</li>
            <li>{% blocktrans%}Mood{% endblocktrans%}</li>
            <li>{% blocktrans%}Food{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/ihealth.png">
          <ul>
            <li>{% blocktrans%}Coming soon{% endblocktrans%}</li>
          </ul>
        </div>
      </div>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/myfitnesspal.png">
          <ul>
            <li>{% blocktrans%}Weight{% endblocktrans%}</li>
            <li>{% blocktrans%}Height{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise name{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise duration{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/nike+.png">
          <ul>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Name {% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Duration{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Calories Burned{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Distance{% endblocktrans%}</li>
            <li>{% blocktrans%}Steps{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/fatsecrets.png">
          <ul>
            <li>{% blocktrans%}Weight {% endblocktrans%}</li>
            <li>{% blocktrans%}Height{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Name {% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Duration{% endblocktrans%}</li>
            <li>{% blocktrans%}Exercise Calories Burned{% endblocktrans%}</li>
          </ul>
        </div>
      </div>

      <h3>{% blocktrans%}Nutritional Section{% endblocktrans%}</h3>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/fatsecrets.png">
          <ul>
            <li>{% blocktrans%}Foods{% endblocktrans%}</li>
            <li>{% blocktrans%}Meal Type (lunch, etc.){% endblocktrans%}</li>
            <li>{% blocktrans%}Nutrients{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/wikilife.png">
          <ul>
            <li>{% blocktrans%}Foods{% endblocktrans%}</li>
            <li>{% blocktrans%}Food Category{% endblocktrans%}</li>
            <li>{% blocktrans%}Nutrients{% endblocktrans%}</li>
          </ul>
        </div>
      </div>

      <h3>{% blocktrans%}Health Section{% endblocktrans%}</h3>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/moodpanda.png">
          <ul>
            <li>{% blocktrans%}Mood{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/fitbit.png">
          <ul>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
            <li>{% blocktrans%}Location{% endblocktrans%}</li>
            <li>{% blocktrans%}Weight{% endblocktrans%} </li>
            <li>{% blocktrans%}Height{% endblocktrans%}</li>
          </ul>

        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/jawbone.png">
          <ul>
            <li>{% blocktrans%}Coming soon{% endblocktrans%}</li>
          </ul>
        </div>
      </div>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/ihealth.png">
          <ul>
            <li>{% blocktrans%}Coming soon{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/withings.png">
          <ul>
            <li>{% blocktrans%}Gender{% endblocktrans%}</li>
            <li>{% blocktrans%}Age{% endblocktrans%}</li>
            <li>{% blocktrans%}Weight{% endblocktrans%} </li>
            <li>{% blocktrans%}Height{% endblocktrans%}</li>
          </ul>
        </div>
        <div class="col span_1_of_3">
          <img src="/static/img/services/wikilife.png">
          <ul>
            <li>{% blocktrans%}Complaints{% endblocktrans%}</li>
            <li>{% blocktrans%}Blood Type{% endblocktrans%}</li>
            <li>{% blocktrans%}Chronic Conditions{% endblocktrans%}</li>
            <li>{% blocktrans%}Sleep{% endblocktrans%}</li>
            <li>{% blocktrans%}Emotions{% endblocktrans%}</li>
            <li>{% blocktrans%}Mood{% endblocktrans%}</li>
          </ul>
        </div>
      </div>

      <h3>{% blocktrans%}Genomic Section{% endblocktrans%}</h3>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="/static/img/services/23andme.png">
          <ul>
            <li>{% blocktrans%}Drug Response{% endblocktrans%}</li>
            <li>{% blocktrans%}Traits{% endblocktrans%}</li>
            <li>{% blocktrans%}Risks{% endblocktrans%}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  {% include "footer.include.html" %}
</div>
</body>
</html>