<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | Mission</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/mission.css" rel="stylesheet" />

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/static/js/funciones.js"></script>

</head>

<body>

<div id="container">

  <!--header-->
  {% include "header.include.html" %}
  <!--/header-->

  <div class="full_container plain_text learn-more">
    <div class="centered_container">

      <h2>OUR MISSION</h2>

      <p>Wikilife is a platform that collects and distributes health data over entire lifetimes, providing 
		individuals and the global scientiﬁc community with unprecedented access to detailed records 
		of health and lifestyle activity. The recorded data includes a detailed, extensive health and 
		lifestyle information about nutrition, physical activity, mood, sleeping, healthcare conditions 
		and treatments, laboratory analysis, medical imaging, psychological tests, IQ tests, and even 
		DNA information.

      <h3>Our Vision</h3>
      <div class="section group">
		<span>We are only beginning to understand how lifestyle choices affect individual health and well-being. Wikilife provides the global 
		health community a database that can be used by researchers, scientists and physicians around the globe to help discover new 
		scientiﬁc research behind healthy living. 
		We hope to collaborate with other organizations and developers to help expand our audience and provide insight into healthy 
		living for millions of people around the world. This project can profoundly impact advancements in health and wellness research,
		and ultimately yield a healthier global community thanks to the contribution of individual participants.
		</span>
        </div>

      <h3>Reference Database</h3>
      <div class="section group">
		<span>The Wikilife project provides the most extensive and comprehensive database of real-time health and lifestyle information
		available anywhere in the world.
		Health history, lifestyle choices, major life events, nutritional habits, spiritual practices and many other factors contribute to
		individual health and well-being. The Wikilife database provides unlimited access to information on a global scale, information
		that is invaluable to the medical community, researchers, educators, students, sociologists, psychologists, nutritionists and
		anyone else in interested in their own health. The possibilities for advancing research in health and lifestyle sciences are virtually
		limitless.
		</span>
        </div>

      <h3>Platform For Research</h3>
      <div class="section group">
		<span>The Wikilife database is an indispensable research platform for the global medical science community, giving project teams,
		researchers and user groups access to an always expanding database of invaluable health and lifestyle information.
		Physicians, scientists and other experts in the medical and health research fields are now provided an invaluable resource that
		provides free, unlimited access to global health information in an intuitive, real-time platform.
		</span>
        </div>

      <h3>Open Data</h3>
      <div class="section group">
		<span>The Wikilife project is committed to providing open and FREE access to its resources. Any individual can export aggregate data,
		statistics, studies and team collaborations to any personal computer or browser-enabled device.
		Users with iOS devices are encouraged to use our Wikilife app for an even more fluid user experience. The Wikilife database is
		available to everyone and serves to further the health, well-being and education of the global community.
		</span>
        </div>
          
    </div>
  </div>

  {% include "footer.include.html" %}
</div>
</body>
</html>