<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | Team</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/team.css" rel="stylesheet" />

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/static/js/funciones.js"></script>

</head>

<body>

<div id="container">

  <!--header-->
  {% include "header.include.html" %}
  <!--/header-->

  <div class="full_container plain_text learn-more">
    <div class="centered_container">

      <h2>THE TEAM</h2>

      <p>The Wikilife project is powered by our interdisciplinary team of talented innovators that
			includes scientists, designers, programmers and entrepreneurs who are passionate about
			raising awareness of global health issues.</p>

      <img src="/static/img/team/daniel.png">
      <h3>DANIEL NOFAL</h3>
      
      <h3 class="info">Founder</h3>
      <h3  class="info">dnofal@wikilife.org</h3>
      <div class="section group">
		<span>After years of thinking about it, and a few weeks after returning from <strong>TED</strong>, I decided to finally start the
			project and Geraldine came on-board. I am an entrepreneur, founder of <strong>IPLAN</strong> and <strong>Sustentator</strong> among many other projects.
			My interest in health began ten years ago while studying about physical conditioning, nutrition and the
			relationship with the environment. I am committed to move this project forward because it is possible,
			urgent and a wonderful exploration of the human condition.
		</span>
        </div>
	
	  <img src="/static/img/team/geraldine.png">
      <h3>GERALDINE GUERON, <span class="info">MSc, Ph.D.</span></h3>
      <h3 class="info">Founder</h3>
      <h3 class="info">ggueron@wikilife.org</h3>
      <div class="section group">
		<span>As co-founder, I began working at Wikilife in March, 2010. I'm a molecular biologist by profession, with a
			Master in Science and PhD in Biological Chemistry. My previous and present research focuses on discovering
			the role of oxidative stress and inflammation in prostate cancer. I've been a research fellow at the Laboratory
			of Cancer and Apoptosis at the Department of Biological Chemistry, University of Buenos Aires.
			Part of my PhD was completed at the Cell Membrane Biology Laboratory at the Biochemistry Department,
			Institute of Molecular and Cellular Biology, University of Leeds, UK. While at the Department of Organic
			Chemistry at University of Buenos Aires, my research focused on organic synthesis. I am very excited to
			become an active part of Wikilife and help promote this breakthrough global health database.
		</span>
        </div>
	  
	  <img src="/static/img/team/juan.png">
      <h3>Juan Gargiulo, <span class="info">MSc.</span></h3>
      <h3 class="info">CTO & Executive Director</h3>
      <h3 class="info">jgargiulo@wikilife.org</h3>
      <div class="section group last">
		<span>I was immediately attracted by this project because it combines my two passions: health and
			technology. I have a Master's degree in Computer Science from Drexel University and have been
			developing consumer oriented software in San Francisco and Silicon Valley for more than ten years.
			During the past fours years, I've been involved in several projects focused towards finding innovative
			solutions to improving people's health worldwide.
		</span>
        </div>
          
    </div>
  </div>

  {% include "footer.include.html" %}
</div>
</body>
</html>