{% load i18n %}
<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | Data</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/data.css" rel="stylesheet" />

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/static/js/funciones.js"></script>

</head>

<body>

<div id="container">

  <!--header-->
  {% include "header.include.html" %}
  <!--/header-->

  <div class="full_container plain_text learn-more">

    <div class="centered_container">

      <h2>{% trans "Datadonors Stats" %}</h2>

		<p>{% trans "Datadonors aggregates and shares all collected data by making it available to the general public. In this page you can download statistics currently available only in JSON format. More formats will be supported in the near future." %}</p>

		<ul class="list_variables">
		<li class="variables_card">
			<h3>{% trans "Level of Education" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>{% trans " manual input, Linkedin" %}<br/>
			<span>{% trans "Type:" %}</span>{% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span>{% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %} <br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/social/education/global/">JSON</a><br/>
			</div>
		</li>
		
		<li class="variables_card">
			<h3>{% trans "Work Experience" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>{% trans " manual input, Linkedin" %}<br/>
			<span>{% trans "Type:" %}</span> {% trans " count, sum and average"%}<br/>
			<span>{% trans "Time:" %}</span> {% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %}s <br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/social/work/global/">JSON</a><br/>
			</div>
		</li>
        <li class="variables_card">
			<h3>{% trans "Virtual life Reach" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  Twitter, Facebook, LinkedIn, Foursquare, Gmail<br/>
			<span>{% trans "Type:" %}</span> {% trans " count, sum and percentage"%}<br/>
			<span>{% trans "Time:" %}</span> {% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %}<br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/social/reach/global/">JSON</a><br/>
			</div>
		</li>
		<li class="variables_card">
			<h3>{% trans "Virtual life Sharing" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  Twitter, Facebook<br/>
			<span>{% trans "Type:" %}</span> {% trans " average" %} <br/>
			<span>{% trans "Time:" %}</span> {% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %}<br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/social/sharing/global/">JSON</a><br/>
			</div>
		</li>
		<li class="variables_card">
			<h3>{% trans "Steps" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  Runkepper, Nike+, Fitbit, Moves<br/>
			<span>{% trans "Type:" %}</span>{% trans " count, sum and average"%}<br/>
			<span>{% trans "Time:" %}</span> {% trans " since"%} {{last_year}}<br/>
			<span>{% trans "Population:" %}</span>  registered Wikilife users (Twitter Crawler) <br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="http://datadonors.org/static/tmp/steps.json">JSON</a>, 
			<a target="_blank" href="http://datadonors.org/static/tmp/steps.csv">CSV</a><br/>
			</div>
		</li>    

		<li class="variables_card">
			<h3>{% trans "Hours of exercise" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  Runkepper, Nike+, Fitbit<br/>
			<span>{% trans "Type:" %}</span>{% trans " average from last Sunday and daily"%}<br/>
			<span>{% trans "Time:" %}</span>  {% trans " since"%} {{last_sunday}}<br/>
			<span>{% trans "Population:" %}</span> {% trans "  registered Wikilife users (Twitter Crawler)"%} <br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/physical/exercise/hours/distribution/global/">JSON</a><br/>
			</div>
		</li>

		<li class="variables_card">
			<h3>{% trans "Distance" %} (Km)</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  Runkepper, Nike+, Fitbit<br/>
			<span>{% trans "Type:" %}</span> {% trans " count, sum and average"%}<br/>
			<span>{% trans "Time:" %}</span>  {% trans " since"%} {{last_year}}<br/>
			<span>{% trans "Population:" %}</span>  {% trans "  registered Wikilife users (Twitter Crawler)"%}<br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="http://datadonors.org/static/tmp/distance.json">JSON</a>,
			<a target="_blank" href="http://datadonors.org/static/tmp/distance.csv">CSV</a><br/>
			</div>
		</li>
        <li class="variables_card">
            <h3>{% trans "Calories Burned" %}</h3>
            <div class="detail">
            <span>{% trans "Source:" %}</span>  Runkepper, Nike+, Fitbit<br/>
            <span>{% trans "Type:" %}</span> {% trans " count, sum and average"%}<br/>
            <span>{% trans "Time:" %}</span>  {% trans " since"%} {{last_year}}<br/>
            <span>{% trans "Population:" %}</span>  {% trans "  registered Wikilife users (Twitter Crawler)"%}<br/>
            <span>{% trans "Format:" %}</span>  <a target="_blank" href="http://datadonors.org/static/tmp/calories.json">JSON</a>,
            <a target="_blank" href="http://datadonors.org/static/tmp/calories.csv">CSV</a><br/>
            </div>
        </li>
		<li class="variables_card">
			<h3>{% trans "Nutrients" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  Fatsecret, Withings, Fitbit<br/>
			<span>{% trans "Type:" %}</span>  {% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span>   {% trans " since"%} {{last_sunday}}<br/>
			<span>{% trans "Population:" %}</span>  {% trans "  registered Datadonors" %} <br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/nutrition/nutrients/global/distribution/">JSON</a><br/>
			</div>
		</li> 
		
		<li class="variables_card">
			<h3>{% trans "Conditions" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  {% trans " manual input" %}<br/>
			<span>{% trans "Type:" %}</span>  {% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span>{% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %}<br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/health/cronical_conditions/global/all/">JSON</a><br/>
			</div>
		</li>

		<li class="variables_card">
			<h3>{% trans "Complaints" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span> {% trans " manual input" %}<br/>
			<span>{% trans "Type:" %}</span>  {% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span>{% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %}<br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/health/complaints/global/all/">JSON</a><br/>
			</div>
		</li>
		
		<li class="variables_card">
			<h3>{% trans "Blood Type" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  {% trans " manual input" %}<br/>
			<span>{% trans "Type:" %}</span>  {% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span>{% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span> {% trans "  registered Datadonors" %}<br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/health/blood_type/global/distribution/">JSON</a><br/>
			</div>
		</li>

		<li class="variables_card">
			<h3>{% trans "Emotions" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  {% trans " manual input" %}<br/>
			<span>{% trans "Type:" %}</span>  {% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span>{% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %}<br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/health/emotions/global/all/">JSON</a><br/>
			</div>
		</li>
		
		<li class="variables_card">
			<h3>{% trans "Sleep" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  Runkeeper, Withings, Fitbit<br/>
			<span>{% trans "Type:" %}</span>{% trans " average from last Sunday and daily"%}<br/>
			<span>{% trans "Time:" %}</span>{% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %}<br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/health/sleep/global/distribution/">JSON</a><br/>
			</div>
		</li>
		
		<li class="variables_card">
			<h3>{% trans "Health Risks" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  23 and Me<br/>
			<span>{% trans "Type:" %}</span>  {% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span>{% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %} <br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/genomics/risks/global/">JSON</a><br/>
			</div>
		</li>

		<li class="variables_card">
			<h3>{% trans "Drugs Response" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  23 and Me<br/>
			<span>{% trans "Type:" %}</span>  {% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span> {% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>{% trans "  registered Datadonors" %} <br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/genomics/drugs/global/">JSON</a><br/>
			</div>
		</li>
		
		<li class="variables_card">
			<h3>{% trans "Traits" %}</h3>
			<div class="detail">
			<span>{% trans "Source:" %}</span>  23 and Me<br/>
			<span>{% trans "Type:" %}</span>  {% trans " percentage" %}<br/>
			<span>{% trans "Time:" %}</span>{% trans "  since 2014-01-01" %}<br/>
			<span>{% trans "Population:" %}</span>  {% trans "  registered Datadonors" %} <br/>
			<span>{% trans "Format:" %}</span>  <a target="_blank" href="/genomics/traits/global/">JSON</a><br/>
			</div>
		</li>
        <li class="variables_card">
            <h3>{% trans "Exercise" %}</h3>
            <div class="detail">
            <span>{% trans "Source:" %}</span>  Runkepper, Nike+, Fitbit, Withings<br/>
            <span>{% trans "Type:" %}</span>  {% trans " date, user, distance, step, calories burned"%}<br/>
            <span>{% trans "Time:" %}</span>{% trans "  since 2012-01-01" %}<br/>
            <span>{% trans "Population:" %}</span>  {% trans "  registered Wikilife users (Twitter Crawler)"%} <br/>
            <span>{% trans "Format:" %}</span>  <a target="_blank" href="/static/datadonors.tar.gz">CSV</a><br/>
            </div>
        </li>         
        </ul>
         <!-- h3>Physical Data</h3>
        </ul>
         <h3>Nutrition Data</h3>
        <ul>
        <li><a>Nutrients</a></li>
        </ul>
        <h3>Health Data</h3>
        <ul>
        <li><a>Complaints</a></li>
        <li><a>Conditions</a></li>
        <li><a>Blood type</a></li>
        <li><a>Mood</a></li>
        <li><a>Sleep</a></li>
        </ul>   
 
         <h3>Genetic Data</h3>
        <ul>
        <li><a>Risks</a></li>
        <li><a>Trails</a></li>
        <li><a>Drug response</a></li>

        </ul --> 
    </div>
  </div>

  {% include "footer.include.html" %}
</div>
</body>
</html>