<!DOCTYPE html>
<html>

<head>

  <title>Datadonors | Data</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  <!-- Styles -->
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/footer.css" rel="stylesheet" />
  <link href="/static/css/data.css" rel="stylesheet" />

  <!-- Javascript -->
<script type="text/javascript" src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/static/js/funciones.js"></script>

</head>

<body>

<div id="container">

  <!--header-->
  {% include "header.include.html" %}
  <!--/header-->

  <div class="full_container plain_text learn-more">
    <div class="centered_container">

      <h2>Downlaod our data</h2>

      <p>Wikilife through DataDonors provides a platform that collects and distributes health data over entire lifetimes, providing 
		individuals and the global scientiﬁc community with unprecedented access to detailed records 
		of health and lifestyle activity. The recorded data includes a detailed, extensive health and 
		lifestyle information about nutrition, physical activity, mood, sleeping, healthcare conditions 
		and treatments, laboratory analysis, medical imaging, psychological tests, IQ tests, and even 
		DNA information.</p>

     
        <h3>Social Data</h3>
        <ul>
        <li><a target="_blank" href="/social/education/global/">Level of Education from manual input and LinkedIn</a></li>
        <li><a target="_blank" href="/social/work/global/" >Work Experience from manual input and LinkedIn</a></li>
        <li><a target="_blank" href="/social/reach/global/" >Virtual life Reach (avg. contacts) from Twitter, Facebook, LinkedInd, Foursquare and Gmail</a></li>
        <li><a target="_blank" href="/social/sharing/global/" >Virtual life Sharing (avg. Tweets, Retweets, likes and post per week ) from Twitter and Facebook</a></li>
        </ul>
        
         <h3>Physical Data</h3>
        <ul>
        <li><a>Steps</a></li>
        <li><a>Hours</a></li>
        <li><a>Miles</a></li>
        </ul>
         <h3>Nutrition Data</h3>
        <ul>
        <li><a>Nutrients</a></li>
        </ul>
        <h3>Health Data</h3>
        <ul>
        <li><a>Complaints</a></li>
        <li><a>Conditions</a></li>
        <li><a>Blood type</a></li>
        <li><a>Mood</a></li>
        <li><a>Sleep</a></li>
        </ul>   
 
         <h3>Genetic Data</h3>
        <ul>
        <li><a>Risks</a></li>
        <li><a>Trails</a></li>
        <li><a>Drug response</a></li>

        </ul> 
    </div>
  </div>

  {% include "footer.include.html" %}
</div>
</body>
</html>