{% load i18n %}
<!DOCTYPE html>
<html>

<head>

<title>Datadonors | Data</title>

<!-- Metatags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=1024, initial-scale=1.0">

<!-- Iconos -->
<link rel="shortcut icon" type="image/x-icon"
	href="/static/img/favicon.ico" />

<!-- Styles -->
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/footer.css" rel="stylesheet" />
<link href="/static/css/data.css" rel="stylesheet" />

<!-- Javascript -->
<script type="text/javascript"
	src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
    href="http://cdn.datatables.net/1.10.6/css/jquery.dataTables.css">

<link rel="stylesheet" type="text/css"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
    href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css">



<!-- jQuery -->
<script type="text/javascript" charset="utf8"
	src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8"
	src="http://cdn.datatables.net/1.10.6/js/jquery.dataTables.js"></script>
	
	<script type="text/javascript">
    $(document).ready(function() {
        $('#table_id').DataTable();
        $('#table_id tbody')
        .on( 'mouseover', 'td', function () {
            var colIdx = table.cell(this).index().column;
 
            if ( colIdx !== lastIdx ) {
                $( table.cells().nodes() ).removeClass( 'highlight' );
                $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
            }
        } )
        .on( 'mouseleave', function () {
            $( table.cells().nodes() ).removeClass( 'highlight' );
        } );
    });
</script>
<style>
table.dataTable thead .sorting {
    background-image: none !important;
}
table.dataTable thead .sorting_asc {
    background-image: none !important;
}
table.dataTable thead .sorting_desc {
    background-image: none !important;
}
</style>
</head>


<body>

	<div id="container">

		<!--header-->
		{% include "header.include.html" %}
		<!--/header-->

		<div class="full_container plain_text learn-more">

			<div class="centered_container">

				<h2>{% trans "Exercise data" %}</h2>

				<p>{% trans "Datadonors aggregates and shares all collected data by making it available to the general public." %}</p>

                <p><a target="_blank" href="/static/datadonors.csv">Download</a></p>
				<table id="table_id" class="display">
					<thead>
						<tr>
							<th>Date</th>
							<th>UserId</th>
							<th>Steps</th>
							<th>Distance(KM)</th>
							<th>Calories</th>
						</tr>
					</thead>
					<tbody>
					{% for d in data %}
						<tr>
							<td>{{d.0}}</td>
							<td>{{d.1}}</td>
							<td>{{d.2}}</td>
							<td>{{d.3}}</td>
							<td>{{d.4}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

			</div>
		</div>

		{% include "footer.include.html" %}
	</div>
</body>
</html>