<!--login_container-->
<div id="error_container" class="reveal-modal">

  <h1></h1>
  <h2>Login Error</h2>


  <div class="close_login">
    <a href="#" id="close_login">close</a>
  </div>

  <p>Sorry, this account is not related to DataDonors. Please, try another or create one.</p>

  <div style="clear: both;"></div>
  <!-- End: login-bubbles-->

  <div style="clear: both;"></div>
</div>
<!--/login_container-->

<script>
  $(function() {
    $('a#close_login').on('click', function(event) {
      event.preventDefault();
      $('#error_container').fadeOut();
    });
  });
</script>