<!--login_container-->
<link rel="stylesheet" href="/static/css/gender.css" />

<div id="gender_container" class="reveal-modal">


	<h1>Oops!</h1>
	<h2>select your gender</h2>

	<p>We need didn't get it form your linked accounts</p>

	<div class="login-bubbles">
		<ul>
			<li><a id="gender" href="/social/user/gender/m/" class="female">female</a></li>
			<li><a id="gender" href="/social/user/gender/f/" class="male">male</a></li>

		</ul>

		<div style="clear: both;"></div>
	</div>
	<!-- End: login-bubbles-->

	<div style="clear: both;"></div>
</div>
<!--/login_container-->


