{% load i18n %}
{% if login_error %}
<script>
  console.log("accocioation failed.")
  $(function () {
      $('#login_container').reveal({
           animation: 'fadeAndPop',
           animationspeed: 300,
           closeonbackgroundclick: true,
           dismissmodalclass: 'close_login'
      });
  });
</script>
{% endif %}

<!--login_container-->
<div id="login_container" class="reveal-modal">

	<h1>{% blocktrans%}Login{% endblocktrans%}</h1>
	<h2>{% blocktrans%}Welcome back{% endblocktrans%}</h2>

	<div class="close_login">
		<a href="#" id="close_login">{% blocktrans%}close{% endblocktrans%}</a>
	</div>

{% if login_error %}
  <p class="error">{% blocktrans%}Sorry, this account is not related to DataDonors.<br>Please, try another or <a href="wizard" style="color: white">create one</a>.{% endblocktrans%}</p>
{% else %}
  <p>{% blocktrans%}use any of these services to login{% endblocktrans%}</p>
{% endif %}

	<div class="login-bubbles">
		<ul>
			<li><a href="http://datadonors.org{% url "socialauth_begin" "twitter" %}?from_login=true" class="twitter">twitter</a></li>
			<li><a href="http://datadonors.org{% url "socialauth_begin" "facebook" %}?from_login=true" class="facebook">facebook</a></li>
			<li><a href="http://datadonors.org{% url "socialauth_begin" "google" %}?from_login=true" class="gmail">gmail</a></li>

		</ul>

		<div style="clear: both;"></div>
	</div>
	<!-- End: login-bubbles-->

	<div style="clear: both;"></div>
</div>
<!--/login_container-->

<link rel="stylesheet" href="http://datadonors.org/static/css/login.css" />

<script>
  $(function() {
    $('a#close_login').on('click', function(event) {
      event.preventDefault();
      $('#login_container').fadeOut();
    });
  });
</script>