<!--login_container-->
<div id="login_container" class="reveal-modal">


	<h1>Login</h1>
	<h2>Welcome back</h2>


	<div class="close_login">
		<a href="#" id="close_login">close</a>
	</div>

	<p>use any of these services to login</p>

	<div class="login-bubbles">
		<ul>
			<li><a href="{% url "socialauth_begin" "twitter" %}" class="twitter">twitter</a></li>
			<li><a href="{% url "socialauth_begin" "facebook" %}" class="facebook">facebook</a></li>
			<li><a href="{% url "socialauth_begin" "google" %}" class="gmail">gmail</a></li>

		</ul>

		<div style="clear: both;"></div>
	</div>
	<!-- End: login-bubbles-->

	<div style="clear: both;"></div>
</div>
<!--/login_container-->

<link rel="stylesheet" href="/static/css/login.css" />

<script>
  $(function() {
    $('a#close_login').on('click', function(event) {
      event.preventDefault();
      $('#login_container').fadeOut();
    });
  });
</script>