
#banner {
	background: #3FD1CA;
	height: 100px;
	width: 20%;
	z-index: 600;
	margin-top: 29px;
}

#balloon{
	width:200px;
	height:515px;
	background:url(sprite.png) no-repeat -120px -120px;
	position:absolute;
	bottom:-200px;
	left:10%;
	z-index:5;
}

.img_container {
	display: block;
	background-image: url("../img/BETA-SMALL.png");
	background-repeat: no-repeat;
}
