.learn-more {
  background-color: #FAFAFB;
  position: relative;
}

div.learn-more p {
  font-size: 19px !important;
  line-height: 26px;
  color: #5B6C7E;
}


div.learn-more h3 {
  font-size: 21px !important;
  margin-top: 60px !important;
  color: #5B6C7E !important;
  font-size: 19px !important;
    font-weight: bold !important;
}

div.learn-more h3.info {
	font-family: "Gotham-Ultra";
}

div.learn-more span.info {
	font-family: "Omnes-Semibold";
	font-size: 18px !important;
	font-weight: normal;
}

.plain_text .centered_container h2 {
    color: #5B6C7E !important;
    font-family: "Gotham-Ultra";
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


div.learn-more ul  li:before{
  content: "·";
  font-size: 20px;
  margin-right: 8px;
}

div.learn-more div.col.span_1_of_3 {
  padding-left: 81px;
  margin-right: -81px;
  position: relative;
  margin-bottom: 20px;
}

.group span{
	 font-family: 'Omnes-Semibold';
    font-size: 18px !important;
    color: #5B6C7E;
    line-height: 24px;
}

.plain_text .centered_container {
    padding: 100px 0;
    width: 800px;
}

.group{
	margin-bottom: 60px !important;
	margin-top: 10px !important;
}
