.learn-more {
  background-color: #E46666;
  position: relative;
}

div.learn-more p {
  font-size: 19px !important;
  line-height: 26px;
}

div.learn-more h3 {
	//color: #e46666 !important;
    font-size: 21px !important;
    margin-bottom: 15px !important;
    margin-left: 5px !important;
    margin-top: 15px !important;
}


.plain_text .centered_container ul li a{
    color: #fff !important;
    font-family: 'Omnes-Semibold';
    font-size: 14px;
    line-height: 22px;
}

.variables_card{
	display: inline-table;
    margin-right: 20px;
    width: 240px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    margin-bottom: 20px !important;
    padding-left: 0px !important;
    //background-color: #ffffff;



}
.detail a {
    text-decoration: underline;
}
span{
	font-weight: bold;
}
.plain_text .centered_container ul li {
	//color: #e46666;
	width: 243px !important;
    font-family: 'Omnes-Semibold';
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    padding-left: 70px;
    height: 170px;
}

ul.list_variables{
	 list-style: none outside none !important;
}
.detail{
font-size: 12px;
    margin-left: 5px;
    font-family: Helvetica;
}



div.learn-more div.col.span_1_of_3 {
  padding-left: 81px;
  margin-right: -81px;
  position: relative;
  margin-bottom: 20px;
}

.group span{
	 font-family: 'Omnes-Semibold';
    font-size: 14px !important;
    color: #FFFFFF;
    line-height: 24px;
}

.plain_text .centered_container {
    padding: 100px 0;
    width: 800px;
}