@font-face {
    font-family: 'gotham-med';
    src: url('../fonts/Gotham-Medium.html');
    src: local('☺'), url('fonts/Gotham-Medium.woff') format('woff'),
        url('fonts/Gotham-Medium.html') format('truetype'),
        url('fonts/Gotham-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-bold';
    src: url('fonts/gotham-bold.eot');
    src: url('fonts/gotham-boldd41d.eot?#iefix') format('embedded-opentype'),
        url('fonts/gotham-bold.woff') format('woff'),
        url('fonts/gotham-bold.html') format('truetype'),
        url('fonts/gotham-bold.svg#gotham-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamultra';
    src: url('fonts/GothamUltra.eot');
    src: url('fonts/GothamUltrad41d.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamUltra.woff') format('woff'),
        url('fonts/GothamUltra.html') format('truetype'),
        url('fonts/GothamUltra.svg#GothamUltra') format('svg');
    font-weight: normal;
    font-style: normal;
}

header .nav {
	margin-bottom: -14px;
	margin-top: 40px;
}

header .nav a {
	display: inline;
	margin: 0 10px;
	font-size: 1.6em;
	font-family: 'gothamultra';
	text-transform: uppercase;
	color: #8E929C;
	/*  text-transform:uppercase;*/
}

header .nav a:active {
	color: ##424858;
}

header #top {
	height: 5px;
	width: 100%;
}

#lan {
    color: #8e929c;
    float: right;
    font-family: gothamultra;
    font-size: 11px;
    margin-top: 12px;
    text-decoration: none;
    width: 65px;
    cursor: pointer;
}
#lan a{
	color: #8e929c;

}

header #top .col-3 {
	background: #8b44e8;
	float: left;
	height: 5px;
	width: 33.33%;
}

header #top .col-3.center {
	background: #00f1e8;
}

header #top .col-3.right {
	background: #ee6867;
}

.container-header {
	position: relative;
	height: 100px;
	width: 100%;
	font-size: 10px;
}

header {
	background: #fff;
	height: 100px;
	width: 100%;
	z-index: 600;
	position: fixed;
    top: 0;
}

header.fixed {
	position: fixed;
	top: 0;
}

header,nav {
	display: block;
}

header h1 {
	float: left;
	margin: 25px 0 0 20px;
}

header #center-nav {
	position: absolute;
	right: 25px;
}

header #wiki-nav {
    color: #8e929c !important;
    font-size: 13px;
    margin-top: 75px;
    position: absolute;
    right: 23px;
    width: 210px;
    z-index: 66;
}
header #wiki-nav-d {
    color: #8e929c !important;
    font-size: 13px;
    margin-top: 63px;
    position: absolute;
    right: -153px;
    width: 210px;
    z-index: 67;
}
header .wiki-nav {
	margin-bottom: -14px;
	font-family: Arial;
}

#banner {
    float: left;
    margin-left: 15.5% !important;
    margin-top: 20px;
    width: 474px;
}
.bottom-h {
	margin-top: 95px;
	background: #000;
	height: 5px;
	position: absolute;
	opacity: 0.2;
	filter: alpha(opacity = 20); /* For IE8 and earlier */
	width: 100%;
	z-index: 1;
}