@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
	#logos
	{
		background-size:900px;	
		
	}
	body .center-v
	{
		top:320px;margin-top:0;	
	}
	#second, .row, #third
	{
		height:768px;	
	}
	#second .vertical-center span
	{
	font-size:17px;
	
	}
	#second .middle img
	{
		min-width:500px;	
		
	}
	
	body #second h3
	{
	top:140px;	
	}
	#howtoshare .flex-viewport
	{
	top:100px
	/*	background:red;	*/
	}
	#howtoshare h2
	{
		margin-top: 30px;
	}
	#howtoshare h3
	{
		margin-bottom:20px;	
	}
	#second .vertical-center
	{
		font-size: 20px;
	}
	#second .center-v
	{
		margin-top:-170px	
	}
	#four, #whatfor, #donatedd
	{
		height:672px;
	}
	#donors.scrollsections
	{
		height:672px;
		
	}
	#section-counter, #section-marcar
	{
		
		height:300px
	}
#howtoshare 
{

height:672px;
display:block

}
#four .center-v
{
	min-width:900px;
}
#howtoshare .flex-viewport 
{
height:672px;

width:100%;	
}
#howtoshare .flex-viewport .slides
{
	top:00px;
	margin-top:0;

/*	background:red;	*/
}
	.bottom-donate .half .box .left 
	{
		margin-left:20px;	
	}
	.bottom-donate .half .box .right{
		margin-right:20px;
		}
	#four h2
	{
	top:0
	}
	#four .subtitle
	{
		top:20px;
	}
	#four .center-v
	{
		top:70px;
	}
	#section-counter .heading-row
	{
	top:0;	
	}
	#section-counter .heading-row {
padding-top: 125px;
}
	#section-counter .center-v
	{
	top:40px;	
	}
	#third
	{
		background:url(../img/ipad-h.jpg);
		height:672px;
		position:relative;	
	}
	.contenedor
	{
		height:672px;	
	}
	.contenedor-to
	{
		width:100%
		}
	#last
	{
	height:672px;	
	}
	#howtoshare #timeline
	{
		bottom:80px;	
	}
	.slide-1 .footer-slide
	{
		margin-top: -35px;
		position:relative;
		z-index:100;	
	}
	#header-top h2
	{
		font-size: 75px;
	}
}