
/* RESTET */

/* @group RESET
--------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* @end */

/* @group FONTFACES
--------------------------------------- */

@font-face {
    font-family: "Gotham-Ultra";
    src: url('fonts/gotham_ultra.eot');
    src: url('fonts/gotham_ultra.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/gotham_ultra.svg#Gotham-Ultra') format('svg'),
    	 url('fonts/gotham_ultra.woff') format('woff'),
    	 url('fonts/gotham_ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-bold';
    src: url('fonts/gotham-bold.eot');
    src: url('fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-bold.woff') format('woff'),
         url('fonts/gotham-bold.ttf') format('truetype'),
         url('fonts/gotham-bold.svg#gotham-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Omnes-Semibold';
    src: url('fonts/Omnes-Semibold.eot');
    src: url('fonts/Omnes-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Omnes-Semibold.woff') format('woff'),
         url('fonts/Omnes-Semibold.ttf') format('truetype'),
         url('fonts/Omnes-Semibold.svg#Omnes-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Omnes-bold';
	src: url('fonts/omnes_bold.eot');
	src: local('☺'), url('fonts/omnes_bold.woff') format('woff'), url('fonts/omnes_bold.ttf') format('truetype'), url('fonts/omnes_bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* @end */

/* @group BODY
--------------------------------------- */
body, html {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased!important;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/* @end */

/* @group PRINCIPAL CONTAINERS
--------------------------------------- */

#container {
	width: 100%;
	min-width: 1190px;
	overflow: hidden;
}

/* --- full container */
.full_container {
	width: 100%;
	min-width: 1190px;
}
.full_container .centered_container {
	width: 1190px;
	margin: 0 auto;
}

/* @end */

/* @group HEADER
--------------------------------------- */

#header {
	height: 136px;
	background-color: white;
	border-bottom: 3px solid #55AAAA;
	background-image: url(../img/header/line_header.jpg);
	background-position: top;
	background-repeat: repeat-x;
}

/* --- logotipo */
#header .logo {
	width: 184px;
	height: 65px;
	float: left;
	margin-top: 40px;
}
#header .logo h1 {
	width: 184px;
	height: 65px;
	background-image: url(../img/header/logo.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
#header .logo h1 a {
	width: 184px;
	height: 65px;
	background-image: url(../img/header/logo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

/* --- header text */
#header .header_text {
	width: auto;
	text-align: center;	
	float: left;
	margin-top: 62px;
	margin-left: 190px;
}
#header .header_text p {
	font-size: 19px;
	color: #3F4B5B;
	font-family: 'Omnes-Semibold';
}

/* --- social header */
#header .header_social {
	float: right;
	margin-top: 53px;
}
#header .header_social ul {
	width: 100%;
}
#header .header_social ul li {
	width: auto;
	height: auto;
	float: left;
	margin-left: 10px;
}
#header .header_social ul li a {
	width: 35px;
	height: 35px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
#header .header_social ul li a:hover {
	opacity: 0.7;
}
#header .header_social ul li a.twitter {
	background-image: url(../img/header/twitter.png);
}
#header .header_social ul li a.facebook {
	background-image: url(../img/header/facebook.png);
}
#header .header_social ul li a.email {
	background-image: url(../img/header/email.png);
}

/* @end */

/* @group PRESENTATION
--------------------------------------- */

.presentation {
	background-color: #41d2cb;
	padding: 65px 0px 65px 0px;
}
.presentation .centered_container {
	text-align: center;
}
.presentation .centered_container h3 {
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
	font: 35px 'Gotham-Ultra';
	font-weight: 700;
	letter-spacing: -1px;
	margin-bottom: -10px;
}
.presentation .centered_container h2 {
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
	font: 75px 'Gotham-Ultra';
	letter-spacing: -1px;
	margin-bottom: 10px;
}
.presentation .centered_container p {
	font-size: 19px;
	color: #3E4A5A;
	font-family: 'Omnes-Semibold';
}

/* @end */

/* @group BIG SOCIAL LOGIN
--------------------------------------- */

.big_social_login {
	background-color: #3F4B5B;
	z-index: 9999 !important;
	border-top: 3px solid #323C48;
}
.big_social_login .centered_container {
	text-align: center;
	position: relative;
	background-color: #3F4B5B;
	-webkit-transition: background-color 2s;
}
.big_social_login .arrow_bottom {
	position: absolute;
	width: 17px;
	height: 8px;
	bottom: -7px;
	background-image: url(../img/big_social_nav/arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	left: 50%;
	margin-left: -10px;
	z-index: 10;
}

/* trigger big nav*/
.trigger_social_choice {
	width: 100%;
	overflow: hidden;
	height: 115px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 1;
}
.trigger_social_choice.off {
	height: 0px;
	opacity: 0;
}
.trigger_social_choice ul {
	width: 100%;
	display: inline-block;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
	margin: 10px 0px 10px 0px;
}
.trigger_social_choice ul:hover {
	opacity: 0.7;
}
.trigger_social_choice ul:hover li a.ico_trigger {
	opacity: 0.7;
}
.trigger_social_choice ul li {
	display: inline-table;
	overflow: hidden;
}
.trigger_social_choice ul li a {
	line-height: 91px;
	height: 91px;
	display: inline-block;
	font-family: 'Omnes-Semibold';
	color: #fff;
	font-size: 16px;
}
.trigger_social_choice ul li a.ico_trigger {
	height: 91px;
	width: 91px;
	text-indent: -9999px;
	display: inline-block;
	background-image: url(../img/big_social_nav/trigger_social.png);
	margin: 0px 10px 0px 10px;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

/* navegacion */
.big_social_login .social_choice {
	width: 100%;
	height: 0px;
	/*height: 251px;*/
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	background-color: #3F4B5B;
	position: relative;
	opacity: 0;
}
.big_social_login .social_choice.on {
	height: 251px;
	opacity: 1;
}
.big_social_login .social_choice h2 {
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Omnes-Semibold';
	margin-bottom: 25px;
	margin-top: 33px;
}

/* --- social networks nav */
.big_social_login .social_choice ul {
	width: 100%;
	text-align: center;
	background-color: #3F4B5B;
	position: relative;
	z-index: 20;
        height:127px;
        overflow: hidden;
}
.big_social_login .social_choice ul.physical_networks li {
        margin: 0px 2px 0px 2px;
}
.big_social_login .social_choice ul li {
	display: inline-table;
	margin: 0px 8px 0px 8px;
}
.big_social_login .social_choice ul li a {
	text-indent: -9999px;
	width: 124px;
	height: 124px;
	display: inline-block;
	background-repeat: no-repeat;
}

/* --- PHYSICAL NETWORKS */
.big_social_login .social_choice ul li a.fatsecret {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: left bottom;
}
.big_social_login .social_choice ul li a.fatsecret:hover {
	background-position: left 2px;
}
.big_social_login .social_choice ul li.active a.fatsecret {
	background-position: left 2px;
}

.big_social_login .social_choice ul li a.myfitness {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: -138px bottom;
}
.big_social_login .social_choice ul li a.myfitness:hover {
	background-position: -138px 2px;
}
.big_social_login .social_choice ul li.active a.myfitness {
	background-position: -138px 2px;
}

.big_social_login .social_choice ul li a.bodymedia {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: -276px bottom;
}
.big_social_login .social_choice ul li a.bodymedia:hover {
	background-position: -276px 2px;
}
.big_social_login .social_choice ul li.active a.bodymedia {
	background-position: -276px 2px;
}

.big_social_login .social_choice ul li a.dailymile {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: -414px bottom;
}
.big_social_login .social_choice ul li a.dailymile:hover {
	background-position: -414px 2px;
}
.big_social_login .social_choice ul li.active a.dailymile {
	background-position: -414px 2px;
}

.big_social_login .social_choice ul li a.runkeeper {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: -552px bottom;
}
.big_social_login .social_choice ul li a.runkeeper:hover {
	background-position: -552px 2px;
}
.big_social_login .social_choice ul li.active a.runkeeper {
	background-position: -552px 2px;
}

.big_social_login .social_choice ul li a.nike {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: -690px bottom;
}
.big_social_login .social_choice ul li a.nike:hover {
	background-position: -690px 2px;
}
.big_social_login .social_choice ul li.active a.nike {
	background-position: -690px 2px;
}

.big_social_login .social_choice ul li a.fitbit {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: -828px bottom;
}
.big_social_login .social_choice ul li a.fitbit:hover {
	background-position: -828px 2px;
}
.big_social_login .social_choice ul li.active a.fitbit {
	background-position: -828px 2px;
}

.big_social_login .social_choice ul li a.jewbone {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: -967px bottom;
}
.big_social_login .social_choice ul li a.jewbone:hover {
	background-position: -967px 2px;
}
.big_social_login .social_choice ul li.active a.jewbone {
	background-position: -967px 2px;
}

.big_social_login .social_choice ul li a.ihealth {
	background-image: url(../img/big_social_nav/physical_networks.png);
	background-position: -1105px bottom;
}
.big_social_login .social_choice ul li a.ihealth:hover {
	background-position: -1105px 2px;
}
.big_social_login .social_choice ul li.active a.ihealth {
	background-position: -1105px 2px;
}

/* --- SOCIAL NETWORKS */
.big_social_login .social_choice ul li a.twitter {
	background-image: url(../img/big_social_nav/social.png);
	background-position: left bottom;
}
.big_social_login .social_choice ul li a.twitter:hover {
	background-position: left 3px;
}
.big_social_login .social_choice ul li.active a.twitter {
	background-position: left 3px;
}

.big_social_login .social_choice ul li a.facebook {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -140px bottom;
}
.big_social_login .social_choice ul li a.facebook:hover {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -140px 3px;
}
.big_social_login .social_choice ul li.active a.facebook {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -140px 3px;
}

.big_social_login .social_choice ul li a.linkedin {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -280px bottom;
}
.big_social_login .social_choice ul li a.linkedin:hover {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -280px 3px;
}
.big_social_login .social_choice ul li.active a.linkedin {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -280px 3px;
}

.big_social_login .social_choice ul li a.gmail {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -420px bottom;
}
.big_social_login .social_choice ul li a.gmail:hover {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -420px 3px;
}
.big_social_login .social_choice ul li.active a.gmail {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -420px 3px;
}

.big_social_login .social_choice ul li a.foursquare {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -560px bottom;
}
.big_social_login .social_choice ul li a.foursquare:hover {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -560px 3px;
}
.big_social_login .social_choice ul li.active a.foursquare {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -560px 3px;
}

.big_social_login .social_choice ul li a.evernote {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -700px bottom;
}
.big_social_login .social_choice ul li a.evernote:hover {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -700px 3px;
}
.big_social_login .social_choice ul li.active a.evernote {
	background-image: url(../img/big_social_nav/social.png);
	background-position: -700px 3px;
}

/* --- confirm networks */
.big_social_login .confirm_social {
	position: absolute;
	width: 167px;
	height: 0px;
	bottom: -31px;
	left: 50%;
	margin-left: -86px;
	z-index: 12;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 0;
	overflow: hidden;
}
.big_social_login .confirm_social a {
	width: 134px;
	height: 69px;
	line-height: 71px;
	padding-right: 33px;
	text-align: right;
	display: inline-block;
	background-image: url(../img/big_social_nav/done.png);
	background-position: center top;
	background-repeat: no-repeat; 
	color: #fff;
	font-family: 'Omnes-Semibold';
	font-size: 18px;
}
.big_social_login .confirm_social a:hover {
	color: #424C5A;
	background-position: center -68px;
}
.big_social_login .confirm_social.on {
	height: 70px;
	opacity: 1;
}

/* --- close nav */
.big_social_login .social_choice .close_big_nav {
	width: 58px;
	height: 58px;
	position: absolute;
	right: 0px;
	top: 12px;
	z-index: 21;
}
.big_social_login .social_choice .close_big_nav a {
	width: 58px;
	height: 58px;
	display: inline-block;
	background-image: url(../img/big_social_nav/close.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
	text-indent: -9999px;
}
.big_social_login .social_choice .close_big_nav a:hover {
	opacity: 0.7;
}

/* @end */

/* @group EMAIL SHARE
--------------------------------------- */

#email_container {
	width: 100%;
	background-image: url(../img/email_share/trans.png);
	background-position: center;
	background-repeat: repeat;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99999;
	display: none;
}
#email_container .email_container {
	width: 666px;
	min-height: 380px;
	background-color: #FF866D;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -190px;
	margin-left: -330px;
	-moz-box-shadow: 0 0 30px rgba(5, 5, 5, 0.4);
	-webkit-box-shadow: 0 0 30px rgba(5, 5, 5, 0.4);
	box-shadow: 0 0 30px rgba(5, 5, 5, 0.4);
	overflow: hidden;
}

/* --- top */
#email_container .email_container .top {
	width: 100%;
	text-align: center;
	padding: 35px 0px 17px 0px;
	position: relative;
}
#email_container .email_container .top h2 {
	font-size: 27px;
	color: #FFFFFF;
	font-family: 'Omnes-Semibold';
}

/* --- close email share */
#email_container .email_container .top .close_email {
	position: absolute;
	right: 25px;
	top: 25px;
	width: 16px;
	height: 16px;
}
#email_container .email_container .top .close_email a {
	width: 16px;
	height: 16px;
	display: inline-block;
	text-indent: -9999px;
	background-image: url(../img/email_share/close_email.png);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
#email_container .email_container .top .close_email a:hover {
	opacity: 0.5;
}

/* --- formulario */
#email_container .email_container .bottom {
	width: 100%;
	padding-top: 35px;
	background-image: url(../img/email_share/arrow_w.png);
	background-position: top;
	background-repeat: no-repeat;
}
#email_container .email_container .bottom .form_center {
	width: 380px;
	height: auto;
	margin: 0 auto;
}
#email_container .email_container .bottom .form_center .estante {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
#email_container .email_container .bottom .form_center .estante p {
	width: 95px;
	float: left;
	line-height: 33px;
	color: #fff;
	font-size: 21px;
	font-family: 'Omnes-Semibold';
}
#email_container .email_container .bottom .form_center .estante .input {
	width: 280px;
	float: right;
}
#email_container .email_container .bottom .form_center .estante .input input[type="text"] {
	background-color: #fff;
	border: 0px none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 96%;
	padding: 3% 2% 3% 2%;
	outline: none;
	color: #959595;
}
#email_container .email_container .bottom .form_center .estante .input textarea {
	background-color: #FFFFFF;
	border: 0px none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 96%;
	padding: 2%;
	height: 100px;
	outline: none;
	color: #959595;
}

#email_container .email_container .bottom .form_center .estante input[type="submit"] {
	float: right;
	background-color: #FFA593;
	border: 1px solid #FFE8E4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-family: 'Omnes-Semibold'!important;
	border-top: 3px solid #FFD2C8;
	padding: 3px 20px 3px 20px;
	font-weight: 100!important;
	font-size: 12px;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
#email_container .email_container .bottom .form_center .estante input[type="submit"]:hover {
	color: #FFA593;
	background-color: #fff;
	border-top: 3px solid #fff;
}


/* @end */



/* SOCIAL NETWORKS
------------------------------------------------------------
------------------------------------------------------------ */


/* @group STEP ONE
--------------------------------------- */

.step_one {
	background-color: #f7f2ee;
	position: relative;
}
.step_one .centered_container {
	width: 930px;
	min-height: 720px;
}

/* --- nav steps fixed */

.step_one .centered_container .nav_steps {
	position: absolute;
	width: 54px;
	height: auto;
	position: absolute;
	top: 140px;
	left: 20px;
	z-index: 9999;
	-webkit-transition: left 1s,top 0.4s;
	-moz-transition: left 1s,top 0.4s;
	transition: left 1s,top 0.4s;
}
.step_one .centered_container .nav_steps.fixed {
	position: fixed;
}
.step_one .centered_container .nav_steps.social_chose_open {
	top: 285px;
}


.step_one .centered_container .nav_steps > ul {
	width: 100%;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}
.step_one .centered_container .nav_steps > ul li {
	width: 100%;
	height: 59px;
	text-align: center;
}
.step_one .centered_container .nav_steps > ul li:first-child {
	border-top: 0px none!important;
}
.step_one .centered_container .nav_steps > ul li a {
	width: 100%;
	line-height: 59px;
	text-align: center;
	display: inline-block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

.step_one .centered_container .nav_steps > ul li.vacio_top {
	visibility: hidden;
	height: 0px;
}
.step_one .centered_container .nav_steps > ul li.vacio_top:hover {
	visibility: hidden;
}

.step_one .centered_container .nav_steps > ul li a.nav_one {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: left top;
}
.step_one .centered_container .nav_steps > ul li a.nav_one:hover {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: -96px top;
}
.step_one .centered_container .nav_steps > ul li.active a.nav_one {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: -96px top;
}

.step_one .centered_container .nav_steps > ul li a.nav_two {
	background-image: url(../img/step_1/nav_fixed.png);	
	background-position: left -59px;
}
.step_one .centered_container .nav_steps > ul li a.nav_two:hover {
	background-image: url(../img/step_1/nav_fixed.png);	
	background-position: -96px -59px;
}
.step_one .centered_container .nav_steps > ul li.active a.nav_two {
	background-image: url(../img/step_1/nav_fixed.png);	
	background-position: -96px -59px;
}

.step_one .centered_container .nav_steps > ul li a.nav_three {
	background-image: url(../img/step_1/nav_fixed.png);	
	background-position: left -118px;	
}
.step_one .centered_container .nav_steps > ul li a.nav_three:hover {
	background-image: url(../img/step_1/nav_fixed.png);	
	background-position: -96px -118px;	
}
.step_one .centered_container .nav_steps > ul li.active a.nav_three {
	background-image: url(../img/step_1/nav_fixed.png);	
	background-position: -96px -118px;	
}

.step_one .centered_container .nav_steps > ul li a.nav_four {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: left -177px;
}
.step_one .centered_container .nav_steps > ul li a.nav_four:hover {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: -96px -177px;	
}
.step_one .centered_container .nav_steps > ul li.active a.nav_four {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: -96px -177px;		
}

.step_one .centered_container .nav_steps > ul li.last{
	height: 63px;
}
.step_one .centered_container .nav_steps > ul li a.nav_five {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: left -237px;
	line-height: 63px!important;
}
.step_one .centered_container .nav_steps > ul li a.nav_five:hover {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: -96px -237px;	
}
.step_one .centered_container .nav_steps > ul li.active a.nav_five {
	background-image: url(../img/step_1/nav_fixed.png);
	background-position: -96px -237px;		
}

/* --- social sharing */
.step_one .centered_container .nav_steps .trigger_social {
	width: 55px;
	height: 59px;
	margin-top: 10px;
	overflow: hidden;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.step_one .centered_container .nav_steps .trigger_social ul {
	width: 100%;
}
.step_one .centered_container .nav_steps .trigger_social ul li {
	width: 60px;
	height: 59px;
	overflow: hidden;
}
.step_one .centered_container .nav_steps .trigger_social ul li a {
	width: 56px;
	line-height: 59px;
	display: inline-block;
	text-indent: -9999px;
	background-image: url(../img/step_1/social_sprite.png);
}
.step_one .centered_container .nav_steps .trigger_social ul li:first-child a {
	background-position: left -1px;
	background-repeat: no-repeat;
}
.step_one .centered_container .nav_steps .trigger_social.active ul li:first-child a {
	background-position: -168px top!important;
}
.step_one .centered_container .nav_steps .trigger_social ul li.last {
	height: 63px;
}

/* ------- facebook */
.step_one .centered_container .nav_steps .trigger_social ul li a.facebook {
	background-position: -168px 182px;
}
.step_one .centered_container .nav_steps .trigger_social ul li a.facebook:hover {
	background-position: -296px 182px;
}

/* ------- twitter */
.step_one .centered_container .nav_steps .trigger_social ul li a.twitter {
	background-position: -168px 123px;
}
.step_one .centered_container .nav_steps .trigger_social ul li a.twitter:hover {
	background-position: -296px 123px;
}

/* ------- email */
.step_one .centered_container .nav_steps .trigger_social ul li.last a.email {
	background-position: -168px 64px;
	line-height: 63px!important;
}
.step_one .centered_container .nav_steps .trigger_social ul li.last a.email:hover {
	background-position: -296px 64px;
}

/* --- graph */

/* ------- top*/
.step_one .centered_container .top {
	width: 100%;
	padding: 40px 0px 40px 0px;
	text-align: center;
}
.step_one .centered_container .top img {
	margin-bottom: 10px;
}
.step_one .centered_container .top h2 {
	font-family: 'Gotham-Ultra';
	font-size: 36px;
	line-height: 36px;
	color: #5B6D7F;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.step_one .centered_container .top p {
	font-size: 18px;
	color: #8A95A0;
	font-family: 'Omnes-Semibold';
	margin-top: 10px;
}

/* -------- bottom */
.step_one .centered_container .bottom .bloque {
	width: 400px;
	min-height: 390px;
}
.step_one .centered_container .bottom .bloque.left {
	float: left;
}
.step_one .centered_container .bottom .bloque.right {
	float: right;
}

/* @end */

/* @group STEP TWO
--------------------------------------- */

.step_two {
	background-color: #ffffff;
}
.step_two .centered_container {
	width: 1060px;
	min-height: 540px;
	padding-bottom: 110px;
}

/* --- top */
.step_two .centered_container .top {
	width: 100%;
	padding: 50px 0px 80px 0px;
	text-align: center;
}
.step_two .centered_container .top h2 {
	font-family: 'Gotham-Ultra';
	font-size: 30px;
	line-height: 30px;
	color: #5B6D7F;
	letter-spacing: 0px;
}
.step_two .centered_container .top p {
	font-size: 18px;
	color: #8D99A6;
	font-family: 'Omnes-Semibold';
	margin-top: 8px;
}

/* --- bottom */
.step_two .centered_container .bottom {
	width: 100%;
}
.step_two .centered_container .bottom .block {
	width: 460px;
}
.step_two .centered_container .bottom .block.left {
	float: left;
}
.step_two .centered_container .bottom .block.right {
	float: right;
}

/* ------ title */
.step_two .centered_container .bottom .block .title_graph {
	text-align: left;
	border-bottom: 1px solid #E7E8E9;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.step_two .centered_container .bottom .block .title_graph h2 {
	color: #9099A5;
	font-size: 18px;
	font-family: 'Omnes-Semibold';
}

/* ------ graphs */
.step_two .centered_container .bottom .block .graph {
	width: 210px;
	height: auto;
	position: relative;
}
.step_two .centered_container .bottom .block .graph.left {
	float: left;
}
.step_two .centered_container .bottom .block .graph.right {
	float: right;
}
.step_two .centered_container .bottom .block .graph .img_top {
	min-height: 205px;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
	padding-top: 25px;
}
.step_two .centered_container .bottom .block .graph .img_top .social_t_p {
	position: absolute;
	width: auto;
	height: 70px;
	z-index: 10;
	left: 0px;
	top: 0px;
	text-align: left;
}
.step_two .centered_container .bottom .block .graph .img_top .social_t_p h2 {
	font-family: 'Gotham-Ultra';
	font-size: 16px;
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 5px;
	color: #616D7D;
}
.step_two .centered_container .bottom .block .graph .text_graph {
	width: 100%;
}
.step_two .centered_container .bottom .block .graph .text_graph ul {
	width: 100%;
	text-align: center;
}
.step_two .centered_container .bottom .block .graph .text_graph ul li {
	display: inline-table;
	margin-left: 6px;
}
.step_two .centered_container .bottom .block .graph .text_graph ul li:first-child {
	margin-left: 0px;
}
.step_two .centered_container .bottom .block .graph .text_graph ul li h2 {
	width: 45%;
	font-family: 'Omnes-Semibold';
	font-size: 58px;
}
.step_two .centered_container .bottom .block .graph .text_graph ul li h2 span {
	font-size: 18px;
}
.step_two .centered_container .bottom .block .graph .text_graph ul li h2.color_one {
	color: #7737c7;
}
.step_two .centered_container .bottom .block .graph .text_graph ul li h2.color_two {
	color: #e56666;
}

/* @end */

/* @group STEP THREE
--------------------------------------- */

.step_three {
	background-color: #f7f2ed;
}
.step_three .centered_container {
	width: 900px;
}

/* --- top */
.step_three .centered_container .top {
	width: 100%;
	padding: 60px 0px 50px 0px;
	text-align: center;
}
.step_three .centered_container .top h2 {
	font-family: 'Gotham-Ultra';
	font-size: 30px;
	line-height: 30px;
	color: #5B6D7F;
}
.step_three .centered_container .top p {
	font-size: 18px;
	color: #808080;
	font-family: 'Omnes-Semibold';
	margin-top: 8px;
}

/* --- bottom */
.step_three .centered_container .bottom {
	position: relative;
}
.step_three .centered_container .bottom .block {
	float: left;
	width: 50%;
	height: 371px;
}
.step_three .centered_container .bottom .block.left {
	overflow: hidden;
}
.step_three .centered_container .bottom .block.left img {
	float: right;
}
.step_three .centered_container .bottom .block.right ul {
	width: 100%;
	margin-top: 7px;
}
.step_three .centered_container .bottom .block.right ul li {
	width: 97%;
	height: 45px;
	padding-top: 2px;
	padding-left: 0%;
	position: relative;
}
.step_three .centered_container .bottom .block.right ul li h2 {
	font-family: 'Omnes-Semibold';
	font-size: 42px;
	text-transform: uppercase;
	display: block;
	width: 76px;
	float: left;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	cursor: default;
}
.step_three .centered_container .bottom .block.right ul li h2 span {
	font-size: 24px;
}
.step_three .centered_container .bottom .block.right ul li h2.color_one {
	color: #7737c7;
}
.step_three .centered_container .bottom .block.right ul li a {
	position: relative;
	line-height: 40px;
	height: 40px;
	display: inline-block;
}
.step_three .centered_container .bottom .block.right ul li a span {
	float: left;
	font-family: 'Omnes-Semibold';
	color: 18px;
	color: #5B6D7F;
	font-size: 20px;
	display: inline-block;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	line-height: 40px;
	height: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	padding: 0px 20px 0px 20px;
	position: relative;
	z-index: 0;
	-webkit-backface-visibility: hidden;
}
.step_three .centered_container .bottom .block.right ul li a span:hover {
	color: #fff;
	text-shadow: 0 1px 0 #25a09a;
	background-color: #40D2CB;
	-moz-box-shadow: 0 2px 0 #B9B5B2;
	-webkit-box-shadow: 0 2px 0 #B9B5B2;
	box-shadow: 0 2px 0 #B9B5B2;
}
.step_three .centered_container .bottom .block.right ul li.active > h2 {
	color: #e56666!important;
}
.step_three .centered_container .bottom .block.right ul li:hover a span {
	color: #fff;
	text-shadow: 0 1px 0 #25a09a;
	background-color: #40D2CB;
	-moz-box-shadow: 0 2px 0 #B9B5B2;
	-webkit-box-shadow: 0 2px 0 #B9B5B2;
	box-shadow: 0 2px 0 #B9B5B2;
}

/* --- popup */
.step_three .centered_container .bottom .block.right ul li a .this_lvl {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	right: -200px;
	/*height: 41px;*/
	height: 0px;
	width: 145px;
	background-image: url(../img/step_3/globo.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 65px;
	overflow: hidden;
	cursor: default;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 0;
	z-index: 10;
}
.step_three .centered_container .bottom .block.right ul li.active a .this_lvl {
	height: 41px;
	opacity: 1;
}
.step_three .centered_container .bottom .block.right ul li a .this_lvl h2 {
	line-height: 41px;
	height: 41px;
	color: #fff;
	font-family: 'Omnes-Semibold';
	font-size: 17px;
	text-transform: none;
	width: auto;
}


/* --- hat */
.step_three .centered_container .bottom .hat_bottom {
	width: 82px;
	height: 81px;
	position: absolute;
	left: 50%;
	margin-left: -57px;
	background-image: url(../img/step_3/hat_gray.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 81px 81px;
	bottom: -44px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.step_three .centered_container .bottom .hat_bottom.red {
	background-image: url(../img/step_3/hat_red.png);
}
.step_three .centered_container .bottom .hat_bottom .pre_load_red {
	background-image: url(../img/step_3/hat_red.png);
	height: 0px;
	overflow: hidden;
}

/* @end */

/* @group STEP FOUR
--------------------------------------- */

.step_four {
	background-color: #fff;
}
.step_four .centered_container {
	width: 1093px;
	padding-top: 60px;
	padding-bottom: 100px;
}

/* --- top */
.step_four .centered_container .top {
	width: 100%;
	padding: 70px 0px 50px 0px;
	text-align: center;
}
.step_four .centered_container .top h2 {
	font-family: 'Gotham-Ultra';
	font-size: 30px;
	line-height: 30px;
	color: #5B6D7F;
}
.step_four .centered_container .top p {
	font-size: 18px;
	color: #808080;
	font-family: 'Omnes-Semibold';
	margin-top: 8px;
}

/* --- bottom */
.step_four .centered_container .bottom {
	width: 100%;
	height: 423px;
}

/* --- datos graph */
.step_four .centered_container .datos_graph {
	width: 1037px;
	margin-top: 0px;
	margin-left: 51px;
	position: relative;
}
.step_four .centered_container .datos_graph ul {
	width: 100%;
}
.step_four .centered_container .datos_graph ul li {
	width: 200px;
	float: left;
	margin-left: 9px;
	text-align: center;
}
.step_four .centered_container .datos_graph ul li.last {
	float: right;
}
.step_four .centered_container .datos_graph ul li:first-child {
	margin-left: 0px;
}
.step_four .centered_container .datos_graph ul li a {
	color: #5B6D7F;
	font-size: 25px;
	font-family: 'Gotham-Ultra';
	display: inline-block;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	padding: 10px 20px 8px 20px;
}
.step_four .centered_container .datos_graph ul li a:hover {
	color: #fff;
	text-shadow: 0 1px 0 #25a09a;
	background-color: #40D2CB;
	-moz-box-shadow: 0 2px 0 #B9B5B2;
	-webkit-box-shadow: 0 2px 0 #B9B5B2;
	box-shadow: 0 2px 0 #B9B5B2;
}

.step_four .centered_container .datos_graph .age_input {
	width: 200px;
	height: 0px;
	background-color: #3D4A5A;
	position: absolute;
	-webkit-transition: opacity 0.4s, left 0.4s;
	-moz-transition: opacity 0.4s, left 0.4s;
	transition: opacity 0.4s, left 0.4s;
	height: 0px;
	opacity: 0;
	left: 50%;
	margin-left: -100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.step_four .centered_container .datos_graph .age_input .arrow_bottom_age {
	width: 41px;
	height: 21px;
	background-image: url(../img/step_4/bottom_globo.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -20px;
}
.step_four .centered_container .datos_graph .age_input .age_centered {
	width: 88%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	overflow: hidden;
	height: 0px;
}
.step_four .centered_container .datos_graph .age_input .age_centered h2 {
	color: #fff;
	font-family: 'Omnes-Semibold';
	font-size: 18px;
	text-transform: none;
	width: auto;
	margin-bottom: 12px;
}
.step_four .centered_container .datos_graph .age_input .age_centered input[type="text"] {
	width: 94%;
	padding: 7px 3% 7px 3%;
	margin: 0px;
	border: 0px none;
	outline: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Omnes-Semibold'!important;
	text-align: center;
}
.step_four .centered_container .datos_graph .age_input.active {
	height: 87px;
	opacity: 1;
	top: -100px;
	margin: auto;
	overflow: visible;
}
.step_four .centered_container .datos_graph .age_input.active .age_centered {
	height: 63px;
}
.step_four .centered_container .datos_graph .age_bottom {
	position: absolute;
	bottom: 16px;
	right: -50px;
}
.step_four .centered_container .datos_graph .age_bottom h2 {
	font-family: 'Omnes-Semibold'!important;
	color: #AEB7C0;
	font-size: 18px;
}

/* @end */


/* FITNESS DEVICES
------------------------------------------------------------
------------------------------------------------------------ */


/* @group STEP FIVE
--------------------------------------- */

.step_five {
	background-color: #F7F2ED;
	height: 835px;
}
.step_five .centered_container {
	width: 1000px;
	padding-bottom: 60px;
}

/* ------- top */
.step_five .centered_container .top {
	width: 100%;
	padding: 40px 0px 40px 0px;
	text-align: center;
}
.step_five .centered_container .top img {
	margin-bottom: 10px;
}
.step_five .centered_container .top h2 {
	font-family: 'Gotham-Ultra';
	font-size: 36px;
	line-height: 36px;
	color: #5B6D7F;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.step_five .centered_container .top p {
	font-size: 18px;
	color: #8A95A0;
	font-family: 'Omnes-Semibold';
	margin-top: 10px;
}

/* -------- three graphs */
.step_five .centered_container .three_graphs {
	width: 100%;
	margin: 40px 0px 70px 0px;
	text-align: center;
    height:330px;
}
.step_five .centered_container .three_graphs .graph {
	width: 225px;
	min-height: 320px;
	display: inline-table;
}
.step_five .centered_container .three_graphs .graph.center {
	margin: 0px 90px 0px 90px;
}
.step_five .centered_container .three_graphs .graph .container_graph {
	width: 100%;
	margin: 0px 0px 10px 0px;
}
.step_five .centered_container .three_graphs .graph .text_container {
	width: 170px;
	margin: 0 auto;
	height: 20px;
}
.step_five .centered_container .three_graphs .graph .text_container > h2 {
	color: #808080;
	border-bottom: 2px solid #E0DDDA;
	padding-bottom: 4px;
	text-align: left;
	margin-bottom: 5px;
	font-size: 18px;
	font-family: 'Omnes-Semibold';
}
.step_five .centered_container .three_graphs .graph .text_container ul {
	width: 100%;
	text-align: center;
}
.step_five .centered_container .three_graphs .graph .text_container ul li {
	display: inline-table;
	margin-left: 6px;
}
.step_five .centered_container .three_graphs .graph .text_container ul li:first-child {
	margin-left: 0px;
}
.step_five .centered_container .three_graphs .graph .text_container ul li h2 {
	width: 45%;
	font-family: 'Omnes-Semibold';
	font-size: 58px;
}
.step_five .centered_container .three_graphs .graph .text_container ul li h2 span {
	font-size: 18px;
}
.step_five .centered_container .three_graphs .graph .text_container ul li h2.color_one {
	color: #7737c7;
}
.step_five .centered_container .three_graphs .graph .text_container ul li h2.color_two {
	color: #e56666;
}

/* -------- you cards */
.step_five .centered_container .you_cards {
	width: auto;
	height: 70px;
}
.step_five .centered_container .you_cards ul {
	width: auto;
	height: 70px;
}
.step_five .centered_container .you_cards ul li {
	float: left;
	border-left: 1px solid #F9F6F5;
	height: 70px;
	display: table;
	width: 165px;
	padding: 0px 30px 0px 30px;
	text-align: left;
	background-color: #F0E8E4;
}
.step_five .centered_container .you_cards ul li:first-child {
	width: 92px;
	padding: 0px;
	text-align: center;
	background-image: url(../img/step_5/cards_you.png);
	background-position: left top;
	background-repeat: no-repeat;
	position: relative;
	margin-right: -10px;
}
.step_five .centered_container .you_cards ul li:first-child p {
	position: absolute;
	top: 41px;
        left: 28px;
	color: #FFFFFF;
}
.step_five .centered_container .you_cards ul li p {
	display: table-cell;
	vertical-align: middle;
	color: #ACB6BF;
	font-family: 'Omnes-Semibold';
	font-size: 18px;
}
.step_five .centered_container .you_cards ul li p span {
	color: #8C99A6;
}

/* @end */

/* @group STEP SIX
--------------------------------------- */

.step_six {
	background-color: #FFFFFF;
}
.step_six .centered_container {
	width: 1121px;
	padding: 60px 0px 40px 0px;
}

/* --- top */
.step_six .centered_container .top {
	width: 100%;
	text-align: center;
}
.step_six .centered_container .top h2 {
	font-family: 'Gotham-Ultra';
	font-size: 30px;
	line-height: 30px;
	color: #5B6D7F;
}
.step_six .centered_container .top p {
	font-size: 18px;
	color: #808080;
	font-family: 'Omnes-Semibold';
	margin-top: 8px;
}

/* --- big_graph */
.step_six .centered_container .big_graph {
	width: 100%;
	height: 423px;
	margin: 40px 0px 50px 0px;
}

/* --- stast_bottom */
.step_six .centered_container .stats_bottom {
	width: 100%;
}
.step_six .centered_container .stats_bottom .bloq {
	width: 450px;
}
.step_six .centered_container .stats_bottom .bloq > h2 {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #CDCECF;
	padding-bottom: 11px;
	font-size: 20px;
	font-family: 'Omnes-Semibold';
}
.step_six .centered_container .stats_bottom .bloq .number_stat {
	width: 100%;
	height: auto;
	padding: 20px 0px 20px 0px;
	position: relative;
	text-align: left;
}
.step_six .centered_container .stats_bottom .bloq .number_stat h2 {
	font-size: 120px;
	font-family: 'Omnes-Semibold';
	letter-spacing: -2px;
}
.step_six .centered_container .stats_bottom .bloq .number_stat .ico_right {
	width: 89px;
	height: 78px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	right: 10px;
}

/* ------ left */
.step_six .centered_container .stats_bottom .bloq.left {
	float: left;
	margin-left: 60px;
}
.step_six .centered_container .stats_bottom .bloq.left .number_stat .ico_right {
	background-image: url(../img/step_6/steps_day.png);
}
.step_six .centered_container .stats_bottom .bloq.left .number_stat h2 {
	color: #7737c7;
}
.step_six .centered_container .stats_bottom .bloq.left > h2 {
	color: #7737c7;
}

/* ------ right */
.step_six .centered_container .stats_bottom .bloq.right {
	float: right;
	margin-right: 60px;
}
.step_six .centered_container .stats_bottom .bloq.right .number_stat .ico_right {
	background-image: url(../img/step_6/step_day.png);
}
.step_six .centered_container .stats_bottom .bloq.right .number_stat h2 {
	color: #e56666;
}
.step_six .centered_container .stats_bottom .bloq.right > h2 {
	color: #e56666;
}

/* @end */

/* @group STEP SEVEN
--------------------------------------- */

.step_seven {
	background-color: #F7F2ED;
	height: 898px;
}
.step_seven .centered_container {
	width: 1100px;
	padding: 80px 0px 80px 0px;
}
.step_seven .centered_container .bloq {
	width: 530px;
	min-height: 700px;
}
.step_seven .centered_container .bloq.left {
	float: left;
}
.step_seven .centered_container .bloq.right {
	float: right;
}
.step_seven .centered_container .bloq .top {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.step_seven .centered_container .bloq .top h2 {
	font-family: 'Gotham-Ultra';
	font-size: 30px;
	line-height: 30px;
	color: #5B6D7F;
}
.step_seven .centered_container .bloq .top p {
	font-size: 18px;
	color: #808080;
	font-family: 'Omnes-Semibold';
	margin-top: 8px;
}
.step_seven .centered_container .bloq .graph_container {
	width: 100%;
	margin-bottom: 40px;
}

/* --- stats */
.step_seven .centered_container .bloq .text_container {
	width: 100%;
}
.step_seven .centered_container .bloq .text_container .stats {
	width: 236px;
}
.step_seven .centered_container .bloq .text_container .stats.left {
	float: left;
}
.step_seven .centered_container .bloq .text_container .stats.right {
	float: right;
}
.step_seven .centered_container .bloq .text_container .stats > h2 {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #CAC8C7;
	padding-bottom: 11px;
	font-size: 18px;
	font-family: 'Omnes-Semibold';
}
.step_seven .centered_container .bloq .text_container .stats .number_stat {
	width: 100%;
	height: auto;
	padding: 10px 0px 10px 0px;
	position: relative;
	text-align: left;
}
.step_seven .centered_container .bloq .text_container .stats .number_stat h2 {
	font-size: 122px;
	font-family: 'Omnes-Semibold';
        width:155px;
        text-align: right;
}
.step_seven .centered_container .bloq .text_container .stats .number_stat .ico_right {
	width: 67px;
	height: 69px;
	position: absolute;
	top: 50%;
	margin-top: -36px;
	right: 5px;
	background-repeat: no-repeat;
	background-position: center;
}
.step_seven .centered_container .bloq .text_container .stats .number_stat .ico_right.one {
	background-image: url(../img/step_7/ico_1.png);
}
.step_seven .centered_container .bloq .text_container .stats .number_stat .ico_right.two {
	background-image: url(../img/step_7/ico_2.png);
}
.step_seven .centered_container .bloq .text_container .stats .number_stat .ico_right.three {
	background-image: url(../img/step_7/ico_3.png);
}
.step_seven .centered_container .bloq .text_container .stats .number_stat .ico_right.four {
	background-image: url(../img/step_7/ico_4.png);
}

/* --- color_one */
.step_seven .centered_container .bloq .text_container .stats.color_one > h2 {
	color: #7737c7;
} 
.step_seven .centered_container .bloq .text_container .stats.color_one .number_stat h2 {
	color: #7737c7;
}

/* --- color_two */
.step_seven .centered_container .bloq .text_container .stats.color_two > h2 {
	color: #e56666;
} 
.step_seven .centered_container .bloq .text_container .stats.color_two .number_stat h2 {
	color: #e56666;
}


/* @end */



/* NUTRITION DEVICES
------------------------------------------------------------
------------------------------------------------------------ */



/* @group STEP EIGHT
--------------------------------------- */

.step_eight {
	background-color: #f7f2ee;
	position: relative;
}
.step_eight .centered_container {
	width: 930px;
	min-height: 900px;
}

/* ------- top*/
.step_eight .centered_container .top {
	width: 100%;
	padding: 40px 0px 40px 0px;
	text-align: center;
}
.step_eight .centered_container .top img {
	margin-bottom: 10px;
}
.step_eight .centered_container .top h2 {
	font-family: 'Gotham-Ultra';
	font-size: 36px;
	line-height: 36px;
	color: #5B6D7F;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.step_eight .centered_container .top p {
	font-size: 18px;
	color: #8A95A0;
	font-family: 'Omnes-Semibold';
	margin-top: 10px;
}

/* @end */



