@media only screen and (min-height: 800px)
{	
	#header-top h2
	{
		font-size:86px;	
	}
	
	
	#four .contenido h3
	{
		font-size: 26px;	
		
	}
	#four .contenido p
	{
		font-size: 23px;	
	}
	#how-to-share h3
	{
		margin-bottom:50px;	
	}
	
	#second .center-v
	{
		height: 500px;
		margin-top:-220px;
	}
	#four .center-v
	{
		margin-top:-150px;
	}
	#section-counter .center-v
	{
		margin-top:-200px;
	}
 	body #four 
	{
	
	}
	body #four h2
	{
		margin-top: 160px;
	}
	#four .subtitle
	{
		margin-top: 230px;
	}
	#howtoshare .flexslider .slides .slide
	{
		height:500px;
		
		
	}
	#howtoshare h3
	{
		margin-bottom:20px;	
	}
	#section-counter .center-v
	{
	
	
	height:490px;	
	}
	#section-counter .center-v .marcas-container
	{
		padding-top:0;
		padding-bottom:140px;
	}
	#section-counter .center-v  .marcas-container.data-shared
	{
	padding-bottom:0;	
	}
	#section-counter .data-shared h3 
	{
		padding-bottom:10px;	
	}
	.marcas-container .right h5
	{
		margin-top: 15px;	
	}
}
@media only screen and (min-height: 800px) and (max-width: 1290px)
{
	body #four .contenido
	{
		width: 270px;
	}
	#second .vertical-center span
	{
		padding: 2% 10%;	
	}
	#four .center-v .contenido p
	{
		font-size:22px;	
	}
}
@media only screen and (min-width: 1400px) 
{
	#four .contenido
	{
		width: 300px;
	}
}