@media only screen and (max-height: 650px)
{
	body #second h3
	{
		top:140px;
		
	}
	#logos
	{
		bottom:20px; 	
	}
	#section-counter .heading-row
	{
	padding-top:130px;	
	}
	.slide-1 .circle
	{
		margin-top:10px;	
	}
	.slide-1 .footer-slide
	{
		margin-top:-35px;	
	}
	#header-top h2
	{
		font-size:70px;
	}
	#four .subtitle
	{
		margin-top: 215px;
	}
	#second .center-v
	{
		height:300px;
	margin-top: -180px;
	}
	#second .vertical-center
	{
		font-size:19px;	
		margin-top:70px;
	}
	#four .center-v
	{
		margin-top:-80px;	
	}
	#section-counter h4, #section-counter .data-shared h4
	{
	font-size:15px;	
	}
	#howtoshare .flex-viewport .slides
	{
	margin-top: -220px;	
	}
	.marcas-container
	{
		margin: 20px auto 0 auto;
		padding-top: 90px;
padding-bottom: 10px;
	}
	.bottom-donate .half .box .left
	{
		margin-left:20px;	
	}
	.bottom-donate .half .box .right
	{
		margin-right:20px;	
	}
	#section-counter h3
	{
	font-size: 185px;	
	}
	#section-counter h4
	{
		float:left;
		margin-left:20px
	}
	#section-counter .data-shared h3 span, #section-counter .data-shared h3
	{
		font-size: 125px;
	}
	#section-counter .data-shared h4
	{
		float:left;	
	}
	#howtoshare #timeline
	{
		bottom:60px;	
	}
	#logos
	{
		background-size:1000px;	
		
	}
}