/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 1000;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -260px;
		width: 520px;
		background-color: #E46565;
		position: absolute;
		z-index: 10000;
		padding: 6px 20px 8px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		

	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 15px;
		right: 18px;
		color: #ffffff;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		cursor: pointer;
		} 

	.reveal-modal h1 {
		font-size: 33px;
		font-family: 'Omnes-Semibold';
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		cursor: pointer;
		color: #ffffff;
		
		} 
	.reveal-modal span {
		font-size: 16px;
		font-family: 'Omnes-Semibold';
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		cursor: pointer;
		color: #ffffff;
		position: relative;
		padding-right: 25px !important;
		left: 20px;
		top: 21px !important;
		
		} 



/* @group LOGIN CONTAINER
--------------------------------------- */

#login_container {
    padding: 0 !important;
    background-color: #3f4a5a;
    width: 800px;
    margin-left: -400px;
    height: 440px;
    top: 50%;
    margin-top: -220px;
}

#login_container p {
	text-align: center;
	color: #9c9ea1;
	font-weight: bold;
	font-size: 1.6em;
}

/* close */
#login_container .close_login {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 30px;
    right: 30px;
}
#login_container .close_login a {
    display: inline-block;
    width: 57px;
    height: 57px;
    text-indent: -9999px;
    background-image: url(../img/header/exit.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
#login_container .close_login a:hover {
    opacity: 0.5;
}

#login_container .social_center .top {
    text-align: center;
    width: 100%;
}
#login_container h1 {
    color: rgb(63, 209, 202);
    font-family: "gothamultra";
    margin-bottom: 1.1em;
    margin-top: 5em;
    font-size: 18px;
    text-align: center;
    float: none;
}

#login_container h2 {
    color: #fff;
    font-family: "gothamultra";
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}
#login_container .social_center .top p {
    font-family: 'Omnes-Semibold';
    font-size: 18px;
}

#login_container .login-bubbles {
    width: 100%;
    margin-top: 50px;
}
#login_container .login-bubbles ul {
    width: 100%;
    text-align: center;
}
#login_container .login-bubbles ul li {
    width: 124px;
    line-height: 124px;
    display: inline-table;
    margin: 0px 5px 0px 5px;
}
#login_container  .login-bubbles ul li a {
    /*text-indent: 9999px;*/
    font-size: 0;
    width: 124px;
    height: 124px;
    display: inline-block;
    background-repeat: no-repeat;
}

#login_container  .login-bubbles ul li a.twitter {
    background-image: url(../img/big_social_nav/social.png);
    background-position: left bottom;
}
#login_container  .login-bubbles ul li a.twitter:hover {
    background-position: left 3px;
}
#login_container  .login-bubbles ul li.active a.twitter {
    background-position: left 3px;
}

#login_container  .login-bubbles ul li a.facebook {
    background-image: url(../img/big_social_nav/social.png);
    background-position: -140px bottom;
}
#login_container  .login-bubbles ul li a.facebook:hover {
    background-image: url(../img/big_social_nav/social.png);
    background-position: -140px 3px;
}
#login_container  .login-bubbles ul li.active a.facebook {
    background-image: url(../img/big_social_nav/social.png);
    background-position: -140px 3px;
}

#login_container  .login-bubbles ul li a.gmail {
    background-image: url(../img/big_social_nav/social.png);
    background-position: -420px bottom;
}
#login_container  .login-bubbles ul li a.gmail:hover {
    background-image: url(../img/big_social_nav/social.png);
    background-position: -420px 3px;
}
#login_container  .login-bubbles ul li.active a.gmail {
    background-image: url(../img/big_social_nav/social.png);
    background-position: -420px 3px;
}

/* @end */  