/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration:none;
}
.clear { clear:both; }
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form input
{
	margin:0px;
}


.inner-redes .circle, .social-network-bubble {
	opacity: 0.2;
	background-color: #a9a9a9;
	float: left;
	height: 120px;
	margin-right: 20px;
	width: 120px;
	-webkit-border-radius: 225px;
	-moz-border-radius: 225px;
	border-radius: 225px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	background-repeat: no-repeat;
	background-position: center 35px;
}

#slide-4 .inner-redes .circle.twitter, .social-network-bubble.twitter {
	background-image: url(../img/network-twitter.png);
}

#slide-4 .inner-redes .circle.facebook, .social-network-bubble.facebook {
	background-image: url(../img/network-facebook.png);
}

#slide-4 .inner-redes .circle.gmail, .social-network-bubble.gmail {
	background-image: url(../img/logo_g%2b.png);
}

.full_container {
	width: 100%;
	min-width: 1190px;
}
.full_container .centered_container {
	width: 1190px;
	margin: 0 auto;
}

.error {
	color: #f06664 !important;
}

.mydata {
	color: #8e929c;
	font-size: 13px;
	margin-right: 56px;
}
header h2 {
	left: 44%;
	top: 23px;
	position: absolute;
}
#news {
	width: 0px;
	height: 0px;
	border-width: 0 620px 470px;
	border-color: transparent #063f61 transparent transparent;
	border-style: solid;
	float: right;
	position: absolute !important;
	border-top-width: 0px;
	right: 0;
	top: 0;
	z-index: 100 !important;
}
#news_content_c {
	font-family: "Omnes-Semibold";
	font-size: 16px;
}
#news_content {
	background-color: #063f61;
	color: white;
	cursor: pointer !important;
	float: right;
	font-family: gothamultra;
	font-size: 30px;
	height: 140px;
	padding-left: 30px;
	padding-top: 25px;
	position: absolute !important;
	top: 120px;
	width: 200px !important;
	z-index: 101;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 10px;
}
#news_content img {
	cursor: pointer !important;
	margin-left: 35px;
	width: 108px;
}
#news_content img:hover {
	cursor: pointer !important;
}
#news_content_2 {
	background-color: #EF6C6C;
	color: white;
	cursor: pointer;
	float: right;
	font-family: gothamultra;
	font-size: 30px;
	height: 140px;
	padding-left: 30px;
	padding-top: 25px;
	position: absolute !important;
	top: 420px;
	width: 200px !important;
	z-index: 102;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 10px;
}
#news_content_2 img {
	cursor: pointer !important;
	margin-left: 0px;
	margin-top: 5px;
	width: 180px;
}
#news_content_2 img:hover {
	cursor: pointer !important;
}

#home {
  background: #000000;
}
#about {
  background: #3E4959;
  height:100%;
}
#whatfor {
  background: #ff826e;
}
#donors {
  background: #ffffff;
}
#howtoshare {
  background: #f6f1ec;
}

div.full-screen.seccion {
    position: relative;
}

img.goto {
  position: absolute;
  bottom: -33.5px;
  left: 50%;
  margin-left: -33.5px;
  z-index: 200;
}
/* @group FOOTER
--------------------------------------- */

#footer {
    background-color: #f5f0eb;
    padding: 30px 0px 30px 0px;
}
#footer .centered_container {
    width: 1050px;
}

/* --- logotipo */
#footer .navegacion_footer {
    float: left;
    margin-top: 1px;
}
#footer .navegacion_footer ul {
    text-align: left;
}
#footer .navegacion_footer ul li {
    display: inline-table;
    font-family: 'Omnes-Semibold';
    font-size: 16px;
    margin: 5px 0px 5px 0px;
    color: #848587;
}
#footer .navegacion_footer ul li:first-child {
    margin-left: 0px;
}
#footer .navegacion_footer ul li a {
    display: inline;
    font-size: 16px;
    font-family: 'Omnes-Semibold';
    color: #848587;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    transition: color 0.4s;
}
#footer .navegacion_footer ul li a:hover {
    color: #424858;
}

/* --- social header */
#footer .footer_social {
    float: right;
    position: relative;
}
#footer .footer_social ul {
    width: 100%;
}
#footer .footer_social ul li {
    width: auto;
    height: auto;
    float: left;
    margin-left: 10px;
}
#footer .footer_social ul li a {
    width: 27px;
    height: 27px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
    background-image: url(../img/header/footer_social_new.png);
}
#footer .footer_social ul li a.twitter {
    background-position: -41px top;
}
#footer .footer_social ul li a.twitter:hover {
    background-position: -41px -30px;
}
#footer .footer_social ul li a.facebook {
    background-position: 1px top;
}
#footer .footer_social ul li a.facebook:hover {
    background-position: 1px -30px;
}
#footer .footer_social ul li a.email {
    background-position: -83px top;
}
#footer .footer_social ul li a.email:hover {
    background-position: -83px -30px;
}
#footer .footer_social ul li a.e_mail {
    background-position: -83px top;
}
#footer .footer_social ul li a.e_mail:hover {
    background-position: -83px -30px;
}
#scrollsections-navigation { display:none; }


@media screen and (max-width:1200px) {
	#footer .centered_container {
		width:auto;
		margin:0 20px;
	}
	.full_container {
		min-width:auto;
	}

}

@media screen and (max-width:993px) {
	#news_content_2 {
	width:160px !important;
}
#news_content_2 img {
		width:90%;
}

}

.bottom-donate .half { min-height:300px;}

/* @end */