
/* 

	DataDonor

*/

/* FONTS */

#section-marcar  ,  #four-heading ,  #how-it-works
{
	display:none;
}

@font-face {
	font-family: 'gotham-med';
	src: url('/static/css/fonts/Gotham-Medium.eot');
	src: local('☺'), url('/static/css/fonts/Gotham-Medium.woff') format('woff'), url('/static/css/fonts/Gotham-Medium.ttf') format('truetype'), url('/static/css/fonts/Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'gotham-bold';
    src: url('/static/css/fonts/gotham-bold.eot');
    src: url('/static/css/fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/gotham-bold.woff') format('woff'),
         url('/static/css/fonts/gotham-bold.ttf') format('truetype'),
         url('/static/css/fonts/gotham-bold.svg#gotham-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothamultra';
    src: url('/static/css/fonts/GothamUltra.eot');
    src: url('/static/css/fonts/GothamUltra.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/GothamUltra.woff') format('woff'),
         url('/static/css/fonts/GothamUltra.ttf') format('truetype'),
         url('/static/css/fonts/GothamUltra.svg#GothamUltra') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Omnes-Semibold';
    src: url('/static/css/fonts/Omnes-Semibold.eot');
    src: url('/static/css/fonts/Omnes-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Omnes-Semibold.woff') format('woff'),
         url('/static/css/fonts/Omnes-Semibold.ttf') format('truetype'),
         url('/static/css/fonts/Omnes-Semibold.svg#Omnes-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
header, nav, section, article, aside, footer{ display:block;}

.cont-next
{
	margin: 0 auto;
	width: 252px;
}
.cont-next .next, .cont-next .done
{
	float:right;
	color:#2f3947
}
.cont-next .back
{
	float:left;
	background:url(../img/bg-back.png) no-repeat left center;
	padding: 15px 35px 15px 50px;
	display: block;
	/*display:none;*/
	
	color:#fff;
	font-family: 'Omnes-Semibold';
	font-size:20px;
	margin: 10px auto 0px auto;
	width: 40px;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
	
	
}
.cont-next .back
{
	background: #29323d url(../img/bg-back.png) no-repeat 30px center;
	
	-webkit-border-top-left-radius: 125px;
-webkit-border-bottom-left-radius: 125px;
-moz-border-radius-topleft: 125px;
-moz-border-radius-bottomleft: 125px;
border-top-left-radius: 125px;
border-bottom-left-radius: 125px;

-webkit-box-shadow:  0px 3px 0px 0px rgba(0, 0, 0, 0.1);
box-shadow:  0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
.cont-next .back:hover
{
	background: #1b2128 url(../img/bg-back.png) no-repeat 25px center;

}
/* BODY */
#center-nav
{
	margin-left: -290px;
	left: 50%;
	position: absolute;
	width: 580px;
}
#center-nav
{
	color:#5B6D7F;
	font-family: 'Omnes-Semibold';
	font-size:20px;
	position:absolute;
	margin-top:40px;
	margin-left:-350px;
	text-align:center;
	width:700px;
}

#header-top .pause
{
	border:none;
	/*background:url(../img/pause.png) no-repeat center;*/
	display:none;
	height:100%;
	position:absolute;
	width:100%;
	z-index:60;
}
#header-top.wrapper .close-video
{
	background:#000 url(../img/bg-close.png) no-repeat center;
	display:none;
	position:absolute;
	right:0;
	top:0;
	height:50px;
	width:50px;
	border:none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	z-index:100;
}
.container-header
{
	
}
#header-top
{
	background-color:#000;
	
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
}
#header-top .video-1
{
	height:300px;
	top:50%;
	margin:-150px 0 0 200px;
}
#header-top h2
{
	color:#e46565;
	font-family:'gothamultra';
	font-size:80px;
	font-weight:normal;
	line-height:0.8;
	z-index:6;
}
#header-top h3
{
	color:#fff;
	font-family:'gotham-med';
	letter-spacing:-2px;
	font-size:40px;
	font-weight:normal;
	line-height:0.8;
	z-index:6;
}
#video-back-2
{
	 /*-webkit-filter: grayscale(100%);
	 -webkit-filter: blur(10px);*/
}
.watch-video
{
	background:url(../img/watch-video.png) no-repeat;
	background-position:130px center  ;
}
#header-top a.next-video
{
	border:3px solid #fff;
	color:#fff;
	opacity:0.4;
}
#header-top a.next-video:hover, #header-top #video-01:hover
{
	border:3px solid rgba(255,255,255,1);
	color: rgba(255,255,255,1);
	opacity:1
}

#header-top a
{
	border:3px solid #fff;
	padding:13px 20px;
	color: #fff;
	opacity:0.7;
	float:left;
	font-family:'gotham-bold';
	font-size:14px;
	margin:10px 10px 10px 0;
	width:125px;
	z-index:50;
	
	-webkit-border-radius: 125px;
-moz-border-radius: 125px;
border-radius: 125px;
}
#header-top video
{
	position:relative;
}
#header-top .flexslider
{
	border: none;
}
.section-top .flexslider li
{
	overflow:hidden;
}

#header-top .video-1
{
	position:absolute;
	z-index:60;
}
body
{
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	overflow:hidden;

	width: 100%;
	padding: 0;
	margin: 0;
	
}

body.fixed
{
	overflow:hidden;
}

.clear
{
	clear:both;
	display:block;
}
.container
{

	height:400px;
	margin: 0 auto;
	width:1010px;
}
h1
{
	float:left;
	margin:25px 0 0 20px;
}
.row
{
	height:100%;
	float:left;
	display:block;
	width:100%;
	-webkit-transition: all .8s  ease-in-out ;
	-moz-transition: all .8s  ease-in-out ;
	-ms-transition: all .8s  ease-in-out ;
	-o-transition:all .8s  ease-in-out ;
	transition: all .8s  ease-in-out ;
}
.container-header
{
	position:relative;
	height:100px;
	
	width:100%;
}
#header
{
	background:#fff;
	height:100px;
	width:100%;
	
	z-index:600;
}
#header.fixed
{
	position:fixed;
	top:0;
}
#section-first
{
	background:url(../img/img-blur.jpg) no-repeat;
	background-size:cover;
	height:750px;
	width:100%;
}
#intro
{
	background:#000;
}
.redes li.social
{
	margin-top:3px;
}
.redes
{
	position:relative;
	z-index:600;
	height:31px;
	float:right;
	margin:28px 20px 0 0 ;
	width:280px;
}
.redes li
{
	
	float:right;
	height:37px;
	margin-left:5px;
	width:37px;
}

.redes li a
{
	border:3px solid #5B6D7F;
	float:left;
	height:30px;
	width:31px;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	
	-webkit-transition: .2s ease-out ;
	-moz-transition:  .2s ease-out ;
	-o-transition:  .2s  ease-out ;
	transition: .2s  ease-out;
}

.redes li.start-sharing
{
	color:#fff;
	height: 18px;
	background:#f06666;
	font-family: 'Omnes-Semibold';
	font-size:17px;
	text-align:center;
	margin-right:5px;
	margin-top:-7px;
	padding:15px 20px;
	text-align:center;
	width:110px;
	z-index:600;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	
 	animation: start-sharing 1.7s ease-in infinite;
	-webkit-animation: start-sharing 1.7s ease-in infinite;
	-moz-animation: start-sharing 1.7s ease-in infinite;
	-o-animation: start-sharing 1.7s  ease-in infinite; 
}
.redes li.mail a
{
	background:url(../img/mail-social.png) no-repeat center;
	background-color:#fff;
}
#header .redes li a:hover
{
	background-color:#F8F4EE;
	
}
.redes li.facebook a
{
	background:url(../img/facebook-social.png) no-repeat center;
	background-color:#fff;
}
.redes li.twitter a
{
	background:url(../img/twitter-social.png) no-repeat center;
	background-color:#fff;
}
.container-header .bottom
{
	margin-top:95px;
}
#top 
{
	height:5px;
	width:100%;
}
#top .col-3 
{
	background:#8b44e8;
	float:left;
	height:5px;
	width:33.33%;
}
#top .col-3.center
{
	background:#00f1e8;
}
#top .col-3.right
{
	background:#ee6867;
}
#modal
{
	background:#fff;

	height:100%;
	width:100%;
	position:absolute;
	z-index:10;
}
.sharing
{
	color:#fff;
	
	
	display: block;
	background:#f06666;
	font-family: 'Omnes-Semibold';
	font-size:17px;
	text-align:center;
	margin: 70px auto 0 auto;
	padding:15px 20px;
	text-align:center;
	position:relative;
	width:140px;
	
	z-index:600;
	
	-webkit-border-radius: 125px;
-moz-border-radius: 125px;
border-radius: 125px;
}
body object
{
	height:700px;
}
.video
{
	display:block;
}
#video-top .video-0
{
	position:absolute;
}
#header-top .flex-control-nav
{
	display:none;
}
#container-video
{
	position:relative;
}
#intro h2
{
	color:#00F1EA;
	font-size:75px;
	font-family:'gothamultra';
	position:absolute;
	margin: 270px 0 0 60px;
line-height: 0.8;
	width:650px;
}
#intro h2 span
{
	color:#fff;
}
.play-video
{
	position:absolute;
	z-index:200;
	left:25%;
	margin-top:200px;
	margin-left:-55px;
	height: 109px;

	background:url(../img/play.png) no-repeat;
	width:109px;
}
#play-video-1.mitad
{
	left:25%;
	margin-left:-55px;
}

.play-video:hover
{
	background:url(../img/play.png) 0px -209px no-repeat ;

}

#video-media_html5_api
{
	float:left;
	height:auto;
	width:50%;
	
}
 #video-media_html5_api-2
 {
	height:auto;
	width:50%;
}
#play-video-2.play-video
{
	left: 75%;
top: 90px;
}
#intro
{
	overflow:hidden;
	background:#8946e4;
	height: auto !important;
	width:100%;
}
.video-1,.video-2
{
	float:left;
	width:50%;
}

.bottom
{
	background: #000;
	height: 5px;
	position: absolute;
	opacity: 0.2;
	filter: alpha(opacity=20);
	margin-top: 499px;
	width: 100%;
}
.centrar-v
{
	
	position:absolute;
	top:50%;
	
	width:100%;
}
.centrar-h
{
	
	position:relative;
	margin:0 auto;
	
}
body #slider .inner-redes .circle:hover 
{
	color:#fff;
opacity: 1;
}


/* DISCRAIMER */
body section
{
	-webkit-transition: all .8s  ease-in-out ;
	-moz-transition: all .8s  ease-in-out ;
	-ms-transition: all .8s  ease-in-out ;
	-o-transition:all .8s  ease-in-out ;
	transition: all .8s  ease-in-out ;
}
#disclaimer .centrar-v
{
	height:500px;
	margin-top:-240px;
}
#disclaimer .centrar-h
{
	
	height:500px;
	width:800px;
}
#disclaimer .title
{
	color:#8b929b;
	font-family: 'gotham-bold';
	line-height:1.2;
	font-size:17px;
	font-weight:normal;
	display:block;
	margin-bottom:40px;
	text-align:center;
}
#disclaimer h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:36px;
	font-weight:normal;
	display:block;
	margin-bottom:20px;
	text-align:center;
}

#disclaimer p
{
	color:#8B929B;
	font-family: 'Omnes-Semibold';
	font-size:14px;
	font-weight:normal;
	display:block;
	line-height:1.4;
	padding-right:50px;
}
#scrollsections-navigation
{
	margin:0 auto 50px auto;
	height:50px;
	width:500px;
}
#scrollsections-navigation li , #scrollsections-navigation li a
{
	float:left;
	text-align:center;
	width:240px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#scrollsections-navigation li a:hover
{
	background-color: #3eb7ae;	
}
#scrollsections-navigation .right a:hover
{
	background: #c15959;
}


#scrollsections-navigation li a
{
	color:#fff;
	border-radius:125px;
	font-family: 'Omnes-Semibold';
	font-size:20px;
	font-weight:normal;
	
	padding: 20px 0;
	-webkit-border-radius:125px;
	-moz-border-radius:125px;
}
#scrollsections-navigation .right
{
	float:right;
}
#scrollsections-navigation li a
{
	background-color:#3FD1CA;
}
#scrollsections-navigation .right a
{
	background:#E46565;
}
#mycustomscroll {
	width: 800px;
	height: 230px;
	overflow: auto;
	position: relative;
	}
#mycustomscroll .vscrollerbase
{
	background:#525c6a;
}
#mycustomscroll .vscrollerbar,.vscrollerbarbeg, .vscrollerbarend
{
	background:#78808b
}
.vscrollerbasebeg, .vscrollerbaseend{
	background:#3E4959;
}




/* WHAT FOR */


#whatfor
{	
	height:100%;
	float:left;
	display:block;
	width:100%;
}

#whatfor.claro, #disclaimer
{
	background:#3e4959;
}

#whatfor{
	background:#3fd1ca;
}
#whatfor .centrar-v
{
	height:500px;
	margin-top:-240px;
}
#whatfor .centrar-h
{
	
	height:600px;
	width:800px;
}
.slide
{
	/*display:none; */
	margin:0 auto;
}


/* SLIDE 1 */

#slide-1
{
	
	height:600px;
	width:800px;
}

#slide-1 h2
{
	color:#3f4a5a;
	font-family: 'gothamultra';
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}
#slide-1 h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:44px;
	line-height:0.9;
	text-align:center;
	margin-bottom:20px;
}

#slide-1 .circle
{
	background:#fff url(../img/slide-1.jpg) no-repeat center;
	height:205px;
	margin:0 auto;
	width:205px;
	margin-bottom:10px;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
}

#slide-1 .bottom-slide
{
	
	height:100px;
	margin-left: 40px;
	width:775px;
}
#slide-1 .bottom-slide h4
{
	font-family: 'gothamultra';
	font-size:20px;
	margin-top:20px;
	line-height:0.9;
}
#slide-1 .bottom-slide .left
{
	color:#5b6d7f;
	float:left;
}
#slide-1 .bottom-slide .right
{
	color:#5b6d7f;
	float:right;
}
#slide-1 .bottom-slide .center
{
	float:left;
	height:100px;
	width:520px;
}
#slide-1 .bottom-slide .center ul
{
	float:left;
	height:100px;
	width:520px;
	margin-left: 20%;
}
#slide-1 .bottom-slide .center ul li
{
	
	float:left;
	height:82px;
	margin-right:12px;
	width:90px;
	
 -webkit-border-radius: 125px;
-moz-border-radius: 125px;
border-radius: 125px;
}
#slide-1 .bottom-slide .center ul li .icon
{
	margin-bottom:5px;
	height:85px;
	width:85px;
}
#slide-1 .bottom-slide .center ul .social
{
	margin-left:10px;
}
#slide-1 .bottom-slide .center ul .social .icon 
{
	background:url(../img/icon-social.png) no-repeat center;
}
#slide-1 .bottom-slide .center ul .physical .icon 
{
	background:url(../img/icon-physical.png) no-repeat center;
}
#slide-1 .bottom-slide .center ul .nutrition .icon 
{
	background:url(../img/icon-nutrition.png) no-repeat center;
}
#slide-1 .bottom-slide .center ul .nutrition .icon 
{
	background:url(../img/icon-nutrition.png) no-repeat center;
}
#slide-1 .bottom-slide .center ul .health .icon 
{
	background:url(../img/icon-health.png) no-repeat center;
}

#slide-1 .bottom-slide .center ul .genomic .icon 
{
	background:url(../img/icon-genomic.png) no-repeat center;
}

#slide-1 .bottom-slide .center ul li h5
{
	text-align:center;
	font-family:'Omnes-Semibold';
	font-size:17px;
	width:100%;
}

/* SLIDE 2 */

#slide-2
{
	
	height:600px;
	width:965px;
}

#slide-2 h2
{
	color:#3f4a5a;
	font-family: 'gothamultra';
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}
#slide-2 h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:44px;
	line-height:0.9;
	text-align:center;
	margin-bottom:60px;
}

#slide-2 .circle
{
	background:#fff url(../img/bg-grafic-1.png) no-repeat center;
	height:260px;
	float:left;
	width:260px;
	margin-bottom:10px;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
}

#slide-2 .grafic-2
{
	background:#fff url(../img/bg-grafic-2.png) no-repeat center;
	float:right;
}
#slide-2 .circle-cont
{
	background:url(../img/bg-middle.png) no-repeat center;
	margin: 0 auto;
	height:260px;
	width:530px;
}
#slide-2 h4
{
	color:#5b6d7f;
	font-family: 'gothamultra';
	font-size:19px;
	float: left;
}
#slide-2 .left-heading
{
	margin: 110px 0 0 15px;
	text-align: right;
}

#slide-2 .right-heading
{
	margin: 110px 10px 0 0;
	float: right;
	text-align: left;
}


/* SLIDE 3 */

#slide-3
{
	
	height:600px;
	width:965px;
}

#slide-3 h2
{
	color:#3f4a5a;
	font-family: 'gothamultra';
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}
#slide-3 h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:44px;
	line-height:0.9;
	text-align:center;
	margin-bottom:60px;
}

#slide-3 .circle
{
	background:#fff url(../img/circle-avg.png) no-repeat center;
	height:260px;
	float:left;
	width:260px;
	margin-bottom:10px;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
}

#slide-3 .grafic-2
{
	background:#fff url(../img/circle-your-avg.png) no-repeat center;
	float:right;
}
#slide-3 .circle-cont
{
	background:url(../img/bg-middle.png) no-repeat center;
	margin: 0 auto;
	height:260px;
	width:530px;
}
#slide-3 h4
{
	color:#5b6d7f;
	font-family: 'gothamultra';
	font-size:19px;
	float:left;
}
#slide-3 .left-heading
{
	margin: 110px 0 0 15px;
	text-align: right;
}

#slide-3 .right-heading
{
	margin: 110px 35px 0 0px;
	float: right;
	text-align: left;
}


/* SLIDE 4 */

#slide-4
{
	
	height:600px;
	width:965px;
}

#slide-4 h2
{
	color:#5fcacb;
	font-family: 'gothamultra';
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}

#slide-4 h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:44px;
	line-height:0.9;
	text-align:center;
	margin-bottom:20px;
}
#slide-4 h4
{
	color:#9c9ea1;
	font-family: 'Omnes-Semibold';
	font-size:18px;
	line-height:0.9;
	text-align:center;
	margin-bottom:30px;
}
body #slider .slide .inner-redes
{
	margin: 80px auto 0 auto;
}
#slide-4 .inner-redes
{
	height:140px;
	margin:0 auto;
	width:682px;
}
#slide-4 .inner-redes .cont-redes
{
	height:120px;
	width:682px;
}
#slide-4 .inner-redes .circle
{
	opacity:0.2;
	background-color:#a9a9a9;
	float:left;
	height:120px;
	margin-right:20px;
	width:120px;
	
	-webkit-border-radius: 225px;
	-moz-border-radius: 225px;
	border-radius: 225px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#slide-4 .inner-redes .circle{
	background-repeat:no-repeat;
	background-position:center 35px;	
}
#slide-4 .inner-redes .circle.checked {
	opacity:1;
	
	background-color:#db6666;
}
#slide-4 .inner-redes .circle.twitter{
	background-image:url(../img/network-twitter.png) ;
}
#slide-4 .inner-redes .circle.facebook{
	background-image:url(../img/network-facebook.png) ;
}
#slide-4 .inner-redes .circle.linkedin{
	background-image:url(../img/network-linkedin.png) ;
}
#slide-4 .inner-redes .circle.gmail{
	background-image:url(../img/network-gmail.png) ;
}
#slide-4 .inner-redes .circle.foursquare{
	background-image:url(../img/network-foursquare.png);
	margin-right:0px;
}

#slide-4 .inner-redes .circle span
{
	color:#fff;
	font-family: 'Omnes-Semibold';
	font-size:15px;
	float: left;
	margin-top: 75px;
	width: 100%;
	text-align: center;
}

.cont-next .next, .cont-next .done
{
	background: #3fd1ca;
}
.cont-next .next
{
	background:  #3fd1ca url(../img/bg-next.png) no-repeat 90px center;
}
.cont-next .next:hover
{
	background:  #3fd1ca url(../img/bg-next.png) no-repeat 95px center;
}
.next, .done
{
	background:#3fd1ca;
	padding: 15px 51px 15px 35px;
	display: block;
	
	color:#fff;
	font-family: 'Omnes-Semibold';
	font-size:20px;
	margin: 10px auto 0px auto;
	width: 40px;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
	
	-webkit-border-top-right-radius: 225px;
-webkit-border-bottom-right-radius: 225px;
-moz-border-radius-topright: 225px;
-moz-border-radius-bottomright: 225px;
border-top-right-radius: 225px;
border-bottom-right-radius: 225px;

-webkit-box-shadow:  0px 3px 0px 0px rgba(0, 0, 0, 0.1);
box-shadow:  0px 3px 0px 0px rgba(0, 0, 0, 0.1);

}
.next:hover, .done:hover
{
	opacity:0.8;
	
}
#slide-4 #form-input
{
	background:url(../img/bg-mail.jpg) no-repeat left 20px;
	float:left;
	height:25px;
	padding:0 20px 40px 70px;
}
#slide-4 #form-input input
{
	color:#9c9ea1;
	font-family: 'Omnes-Semibold';
	font-size:24px;
	float: left;
	border: 1px solid #fff;
	height: 30px;
	padding: 15px 15px 15px 35px;
	width: 350px;
	
	-webkit-border-top-left-radius: 255px;
-webkit-border-bottom-left-radius: 255px;
-moz-border-radius-topleft: 255px;
-moz-border-radius-bottomleft: 255px;
border-top-left-radius: 255px;
border-bottom-left-radius: 255px;
}
#slide-4 #form-input .send
{
	background:#3fd1ca;
	color:#fff;
	float:left;
	font-family: 'Omnes-Semibold';
	font-size:24px;
	padding:19px 30px;
	
	-webkit-border-top-right-radius: 225px;
	-webkit-border-bottom-right-radius: 225px;
	-moz-border-radius-topright: 225px;
	-moz-border-radius-bottomright: 225px;
	border-top-right-radius: 225px;
	border-bottom-right-radius: 225px;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#slide-4 #form-input .send:hover
{
	background:#42bcb3;
}
/* SLIDE 5 */

#slide-5
{
	
	height:600px;
	width:965px;
}

#slide-5 h2
{
	color:#5fcacb;
	font-family: 'gothamultra';
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}

#slide-5 h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:44px;
	line-height:0.9;
	text-align:center;
	margin-bottom:20px;
}
#slide-5 h4
{
	color:#9c9ea1;
	font-family: 'Omnes-Semibold';
	font-size:18px;
	line-height:0.9;
	text-align:center;
	margin-bottom:30px;
}
#slide-5 .inner-redes
{
	height:140px;
	margin:0 auto;
	width:920px;
}

#slide-5 .inner-redes .circle.checked {
	background-color:#db6666;
	opacity:1;
}
#slide-5 .inner-redes .circle
{
	
	opacity:0.2;
	background-color:#a9a9a9;
	float:left;
	height:99px;
	margin-left:3px;
	width:99px;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#slide-5 .inner-redes .circle span
{
	color:#fff;
	font-family: 'Omnes-Semibold';
	font-size:13px;
	float: left;
	margin-top: 68px;
	width: 100%;
	text-align: center;
}
#slide-5 .inner-redes .circle{
	background-repeat:no-repeat;
	background-position:center 35px;	
}
#slide-5 .inner-redes .circle.fatsecret{
	background-image:url(../img/nutrition-fatsecret.png) ;
	background-position:center 22px;
}
#slide-5 .inner-redes .circle.myfitness{
	background-image:url(../img/device-myfitness.png) ;
	background-position:center 20px;
}
#slide-5 .inner-redes .circle.bodymedia{
	background-image:url(../img/device-bodymedia.png) ;
	background-position:center 19px;
}
#slide-5 .inner-redes .circle.dailymile{
	background-image:url(../img/device-dailymile.png) ;
		background-position:center 26px;
}
#slide-5 .inner-redes .circle.runkeeper{
	background-image:url(../img/device-runkeeper.png) ;
	background-position:center 15px;
}
#slide-5 .inner-redes .circle.nike{
	background-image:url(../img/device-nike.png) ;
	background-position:center 37px;
}

#slide-5 .inner-redes .circle.jawbone{
	background-image:url(../img/health-jawbone.png) ;
	background-position:center 32px;
}
#slide-5 .inner-redes .circle.iHealth{
	background-image:url(../img/health-iHealth.png) ;
	background-position:center 38px;
}

#slide-5 .inner-redes .circle.fitbit{
	background-image:url(../img/health-fitbit.png) ;
	background-position:center 25px;
}
/* SLIDE 6 */

#slide-6
{
	
	height:600px;
	width:965px;
}

#slide-6 h2
{
	color:#5fcacb;
	font-family: 'gothamultra';
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}

#slide-6 h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:44px;
	line-height:0.9;
	text-align:center;
	margin-bottom:20px;
}
#slide-6 h4
{
	color:#9c9ea1;
	font-family: 'Omnes-Semibold';
	font-size:18px;
	line-height:0.9;
	text-align:center;
	margin-bottom:30px;
}
#slide-6 .inner-redes
{
	
	height:140px;
	margin:0 auto;
	width:480px;
}
#slide-6 .inner-redes .circle.checked {
	
	background-color:#db6666;
	opacity:1;
}
#slide-6 .inner-redes .circle
{
	opacity:0.2;
	background-color:#a9a9a9;
	float:left;
	height:120px;
	margin-left:28px;
	width:120px;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

#slide-6 .inner-redes .circle span
{
	color:#fff;
	font-family: 'Omnes-Semibold';
	font-size:15px;
	float: left;
	margin-top: 80px;
	width: 100%;
	text-align: center;
}
#slide-6 .inner-redes .circle{
	background-repeat:no-repeat;
	background-position:center 35px;	
}
#slide-6 .inner-redes .circle.fatsecret{
	background-image:url(../img/nutrition-fatsecret.png) ;
	background-position:center 25px;
}

#slide-6 .inner-redes .circle.wikilife{
	background-image:url(../img/nutrition-wikilife.png) ;
	background-position:center 25px;
}
#slide-6 .inner-redes .circle.withings{
	background-image:url(../img/nutrition-withings.png) ;
	background-position:center 30px;
}


/* SLIDE 7 */

#slide-7
{
	height:600px;
	width:965px;
}

#slide-7 h2
{
	color:#5fcacb;
	font-family: 'gothamultra';
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}

#slide-7 h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:44px;
	line-height:0.9;
	text-align:center;
	margin-bottom:20px;
}
#slide-7 h4
{
	color:#9c9ea1;
	font-family: 'Omnes-Semibold';
	font-size:18px;
	line-height:0.9;
	text-align:center;
	margin-bottom:30px;
}
#slide-7 .inner-redes
{
	
	height:140px;
	margin:0 auto;
	width:920px;
}
#slide-7 .inner-redes .circle.checked {
	opacity:1;
	background-color:#db6666;
}
#slide-7 .inner-redes .circle
{
	opacity:0.2;
	background-color:#a9a9a9;
	float:left;
	height:120px;
	margin-left:28px;
	width:120px;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
}
#slide-7 .inner-redes .circle span
{
	color:#fff;
	font-family: 'Omnes-Semibold';
	font-size:15px;
	float: left;
	margin-top: 80px;
	width: 100%;
	text-align: center;
}
#slide-7 .inner-redes .circle{
	background-repeat:no-repeat;
	background-position:center 35px;	
}
#slide-7 .inner-redes .circle.moodPanda{
	
	background-image:url(../img/health-moodPanda.png);
	background-position:center 25px;
}

#slide-7 .inner-redes .circle.fitbit{
	background-image:url(../img/health-fitbit.png) ;
	background-position:center 25px;
}
#slide-7 .inner-redes .circle.jawbone{
	background-image:url(../img/health-jawbone.png) ;
	background-position:center 32px;
}
#slide-7 .inner-redes .circle.iHealth{
	background-image:url(../img/health-iHealth.png) ;
	background-position:center 38px;
}
#slide-7 .inner-redes .circle.withing{
	background-image:url(../img/health-withing.png) ;
	background-position:center 30px;
}
#slide-7 .inner-redes .circle.wikilfe{
	background-image:url(../img/health-wikilfe.png) ;
	background-position:center 30px;
}


/* SLIDE 8 */

#slide-8
{
	height:600px;
	width:965px;
}

#slide-8 h2
{
	color:#5fcacb;
	font-family: 'gothamultra';
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}

#slide-8 h3
{
	color:#fff;
	font-family: 'gothamultra';
	font-size:44px;
	line-height:0.9;
	text-align:center;
	margin-bottom:20px;
}
#slide-8 h4
{
	color:#9c9ea1;
	font-family: 'Omnes-Semibold';
	font-size:18px;
	line-height:0.9;
	text-align:center;
	margin-bottom:30px;
}
#slide-8 .inner-redes
{
	
	height:140px;
	margin:0 auto;
	width:170px;
}
#slide-8 .inner-redes .circle.checked {
	opacity:1;
	background-color:#db6666;
}
#slide-8 .inner-redes .circle
{
	opacity:0.2;
	background-color:#a9a9a9;
	
	float:left;
	height:120px;
	margin-left:28px;
	width:120px;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
}
#slide-8 .inner-redes .circle span
{
	color:#fff;
	font-family: 'Omnes-Semibold';
	font-size:15px;
	float: left;
	margin-top: 80px;
	width: 100%;
	text-align: center;
}
#slide-8 .inner-redes .circle{
	background-repeat:no-repeat;
	background-position:center 20px;	
}

#slide-8 .inner-redes .circle.genomics-23andMe
{
	background-image:url(../img/genomics-23andMe.png);
}
/* TIMELINE */

#timeline {
	background: #f6f1ec;
	height: 30px;
	margin: 0 0 0 -290px;
	position: absolute;
	bottom: -30px;
	left: 50%;
}
#timeline #controles {
	position: absolute;
	z-index: 16;
	height: 20px;
	margin-left: -10px;
	width: 355px;
}
#timeline #controles li {
	position: absolute;
	height: 50px;
	margin-top: 12px;
	width: 50px;
}

.claro #timeline #controles li a {
	background: #3e495a;
	border: 8px solid #5b6d7e;
	
}

#timeline #controles li a {
	background: #fff;
	border: 8px solid #71dad5;
	position: absolute;
	height: 4px;
	width: 4px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	
	-webkit-transition: all .8s  ease-in-out ;
	-moz-transition: all .8s  ease-in-out ;
	-ms-transition: all .8s  ease-in-out ;
	-o-transition:all .8s  ease-in-out ;
	transition: all .8s  ease-in-out ;
}
#timeline #controles li.active a {
	background: #3fd1ca;
	border: 8px solid #fff;
	
	-webkit-transition: all .1s  ease-in-out ;
	
	-ms-transition: all .1s  ease-in-out ;
	transition: all .1s  ease-in-out ;
}
.claro #timeline #controles li.active a {
	background: #3f4a5a;
	border: 8px solid #fff;
	
	
}
.claro .cont-progress {
	background-color: #5a6c7e;
}
.cont-progress {
	-webkit-transition: background .8s  ease-in-out ;
	-ms-transition: background .8s  ease-in-out ;
	transition: background .8s  ease-in-out ;
	
	background-color: #71dad5;
	height: 4px;
	position: absolute;
	overflow: hidden;
	margin-left:5px;
	margin-top: 20px;
	width: 560px;
	z-index: 6;
}
#progress {
background-color: #fff;
height: 4px;

position: absolute;
width: 0px;
-webkit-border-top-right-radius: 125px;
-webkit-border-bottom-right-radius: 125px;
-moz-border-radius-topright: 125px;
-moz-border-radius-bottomright: 125px;
border-top-right-radius: 125px;
border-bottom-right-radius: 125px;
z-index: 1000;
}
#timeline #controles li#thumb-1
{
	margin-left:82px;
}
#timeline #controles li#thumb-2
{
	margin-left:164px;
}
#timeline #controles li#thumb-3
{
	margin-left:246px;
}
#timeline #controles li#thumb-4
{
	margin-left:328px;
}
#timeline #controles li#thumb-5
{
	margin-left:410px;
}
#timeline #controles li#thumb-6
{
	margin-left:492px;
}
#timeline #controles li#thumb-7
{
	margin-left:574px;
}
#timeline #controles li .icon
{
	height:50px;
	margin-left:-13px;
	margin-top:35px;
	position:absolute;
	width:50px;
}
#thumb-0 .icon
{
	background: url(../img/thumb-0.png) center -60px no-repeat;
}
#thumb-0.active .icon
{
	background: url(../img/thumb-0.png) top center no-repeat;	
}
#thumb-1 .icon
{
	background: url(../img/thumb-1.png) center -60px no-repeat;
}
#thumb-1.active .icon
{
	background: url(../img/thumb-1.png) top center no-repeat;
}
#thumb-2 .icon
{
	background: url(../img/thumb-2.png) center -60px no-repeat;
}
#thumb-2.active .icon
{
	background: url(../img/thumb-2.png) top center no-repeat;	
}
#thumb-3 .icon
{

	background: url(../img/thumb-3.png) center -60px no-repeat;
}
#thumb-3.active .icon
{
	background: url(../img/thumb-3.png) top center no-repeat;
}
#thumb-4 .icon
{
	background: url(../img/thumb-4.png) center -55px no-repeat;
}
.claro #thumb-4.active .icon
{
	background: url(../img/thumb-4.png) center 4px no-repeat;
}
.claro #thumb-4 .icon
{
	background: url(../img/thumb-4.png) center -110px no-repeat;
}
#thumb-5 .icon
{
	background: url(../img/thumb-5.png) center -59px no-repeat;
}

.claro #thumb-5.active .icon
{
	background: url(../img/thumb-5.png) top center no-repeat;
}
.claro #thumb-5 .icon
{
	background: url(../img/thumb-5.png) center -115px no-repeat;
}
#thumb-6 .icon
{
	background: url(../img/thumb-6.png) center -60px no-repeat;
}
.claro #thumb-6.active .icon
{
	background: url(../img/thumb-6.png) top center no-repeat;
}
.claro  #thumb-6 .icon
{
	background: url(../img/thumb-6.png) center -114px no-repeat;
}
#thumb-7 .icon
{
	background: url(../img/thumb-7.png) center -54px no-repeat;
}
.claro #thumb-7.active .icon
{
	background: url(../img/thumb-7.png) center 5px no-repeat;
}
.claro #thumb-7 .icon {
	background: url(../img/thumb-7.png) center -112px no-repeat;
}



/* flexslider */

.flex-control-nav
{
	display:none;
}
body .flexslider
{
	background:none;
	border:none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}
