.learn-more {
  background-color: #ffffff;
  position: relative;
}

div.learn-more p {
  font-size: 19px !important;
  line-height: 26px;
  color: #5B6C7E !important;
}

div.learn-more h3 {
	font-family: "Gotham-Ultra" !important;
  color: #5B6C7E !important;
  line-height: 22px;
}

.plain_text .centered_container p {
    color: #FFFFFF;
    font-family: 'Omnes-Semibold';
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 60px !important;
}

.plain_text .centered_container h2 {
    color: #5B6C7E;
    font-family: "Gotham-Ultra";
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.plain_text .centered_container h2.team-section {
	color: #5B6C7E;
    font-family: "Gotham-Ultra";
    font-size: 32px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.info{
	font-size: 15px !important;
}
div.learn-more ul  li:before{
  content: "·";
  font-size: 20px;
  margin-right: 8px;
}

div.learn-more div.col.span_1_of_3 {
  padding-left: 81px;
  margin-right: -81px;
  position: relative;
  margin-bottom: 20px;
}

.group{
	margin-bottom: 60px !important;
	margin-top: 30px !important;
}
.last{
	margin-bottom: -60px !important;
}
.group span{
	 font-family: 'Omnes-Semibold';
    font-size: 14px !important;
    color: #5B6C7E;
    line-height: 24px;
}

.plain_text .centered_container {
    padding: 100px 0;
    width: 800px;
}

div.learn-more img {
  float: left;
  height: 66px;
  border-radius: 225px;
  margin-right: 15px;
}

.group a{
    text-decoration: none;
	font-family: 'Omnes-Semibold' !important;
    font-size: 14px !important !important;
    color: #5B6C7E !important;
    font-weight: bold !important;
}