<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <form method="POST" action="http://datadonors.org/social/education/">
            <input type="hidden" name="education_level" value="phd" />
            <input type="submit" value="Education POST" />
        </form>
        <br /><br />
        <form method="POST" action="http://datadonors.org/social/work/">
            <input type="hidden" name="working_experience" value="20" />
            <input type="submit" value="Work POST" />
        </form>
    </body>
</html>
