<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<title>DATADONORS</title>
	
	<!-- Metatags -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="#" />
	<meta name="keywords" content="#" />
	<meta name="author" content="#"/>
	<meta name="robots" content="index,follow"/>
	
	<!-- Iconos -->
	<link rel="shortcut icon" type="image/x-icon" href="image/#.ico"/>
	
	<!-- Styles -->
	<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
	
	<!-- Javascript -->
	<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/raphael/raphael-min.js"></script>
  <script type="text/javascript" src="/static/js/raphael/g.raphael-min.js"></script>
  <script type="text/javascript" src="/static/js/raphael/g.pie-min.js"></script>
  <script type="text/javascript" src="/static/js/raphael/ed.raphael.js"></script>
  <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/static/js/ed.eventListeners.js"></script>
  <script type="text/javascript" src="/static/js/ed.stickyHeader.js"></script>
  <script type="text/javascript" src="/static/js/adapter/graph_params_adapter.js"></script>
	<script type="text/javascript" src="/static/js/funciones.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
   
</head>

<!--<body data-spy="scroll" data-target=".nav_steps">-->
<body>

<div id="container" class="scroll_fixed_trigger maqueta_new">


	<!--email_sharing-->
	<div id="email_container">
	
		<!--email_share_container-->
		<div class="email_container">
			
			<!--top-->
			<div class="top">
				<h2>Share with your friends</h2>
				<div class="close_email">
					<a href="#" id="close_email">close</a>
				</div>
			</div>
			<!--/top-->
			
			<!--bottom-->
			<div class="bottom">
				<div class="form_center">
					<form method="post" action="#">
					
						<!--input-->
						<div class="estante">
							<p>To:</p>
							<div class="input">
								<input type="text" name="to" value="" />
							</div>
							<div class="clear"></div>
						</div>
						<!--/input-->
						
						<!--input-->
						<div class="estante">
							<p>From:</p>
							<div class="input">
								<input type="text" name="from" value="" />
							</div>
							<div class="clear"></div>
						</div>
						<!--/input-->
						
						<!--input-->
						<div class="estante">
							<p>Message:</p>
							<div class="input">
								<textarea name="comentario"></textarea>
							</div>
							<div class="clear"></div>
						</div>
						<!--/input-->
						
						<!--input-->
						<div class="estante">
							<input type="submit" name="submit" value="Send" />
							<div class="clear"></div>
						</div>
						<!--/input-->
					
					</form>
				</div>
			</div>
			<!--/bottom-->
			
		</div>
		<!--/email_share_container-->
	
	</div>
	<!--/email_sharing-->

	<!--header-->
	<div class="full_container" id="header">
		<div class="centered_container">
			
			<!--logo-->
			<div class="logo">
				<h1>
					<a href="index.html">DATADONORS</a>
				</h1>
			</div>
			<!--/logo-->
			
			<!--header_text-->
			<div class="header_text">
				<p>What if we could save lives with what we do every day?</p>
			</div>
			<!--/header_text-->
	
			<!--social_header-->
			<div class="header_social">
				<ul>
					<li><a href="#" class="facebook">facebook</a></li>
					<li><a href="#" class="twitter">twitter</a></li>
					<li><a href="#" class="email">email</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			<!--/social_header-->
			
			<div class="clear"></div>
			
		</div>
	</div>
	<!--/header-->
	
	<!--presentation-->
	<div class="full_container presentation">
		<div class="centered_container">
			
			<h3>NOW THAT YOU’VE DECIDED TO SHARE</h3>
			<h2>let's get started</h2>
			<p>We are used to share everything online. It's what we do every day<br />But, is that sharing helping anyone?</p>
			
		</div>
	</div>
	<!--/presentation-->
	
	
	<!-- SOCIAL NETWORKS -->
	
	<!--social_nav-->
	<div class="full_container big_social_login sticky" data-step_nav="nav_one" id="social_nav_one">
		<div class="centered_container">
			
			<!--trigger_social_nav-->
			<div class="trigger_social_choice">
				<ul>
					<li><a href="#">Click or tap to select</a></li>
					<li><a class="ico_trigger" href="#">trigger</a></li>
					<li><a href="#">your social networks</a></li>
				</ul>
			</div>
			<!--/trigger_social_nav-->
			
			<!--social_choice-->
			<div class="social_choice">
			
				<h2>Click or tap to select</h2>
				
				<!--social-->
				<ul class="nav_big_social">
					<li><a href="#" class="twitter">twitter</a></li>
					<li><a href="#" class="facebook">facebook</a></li>
					<li><a href="#" class="linkedin">linkedin</a></li>
					<li><a href="#" class="gmail">gmail</a></li>
					<li><a href="#" class="foursquare">foursquare</a></li>
				</ul>
				<!--/social-->
				
				<!--close_social_nav-->
				<div class="close_big_nav">
					<a href="#">close nav</a>
				</div>
				<!--/close_social_nav-->
				
				<div class="clear"></div>
			
			</div>
			<!--/social_choice-->
			
			<!--done-->
			<div class="confirm_social">
				<a href="#">done !</a>
			</div>
			<!--/done-->
			
			<!--arrow-->
			<div class="arrow_bottom"></div>
			<!--/arrow-->
			
		</div>
	</div>
	<!--/social_nav-->
	
	<!--step_one-->
	<div class="full_container step_one" id="step_one">
		<div class="centered_container">
			
                        <!--/fixed nav-->
			<div class="nav_steps">
				<ul class="nav">
					<li><a href="#" class="nav_one">one</a></li>
					<li><a href="#" class="nav_two">two</a></li>
					<li><a href="#" class="nav_three">three</a></li>
					<li><a href="#" class="nav_four">four</a></li>
					<li><a href="#" class="nav_five">five</a></li>
				</ul>
				
				<!--trigger_share-->
				<div class="trigger_social" id="trigger_social">
					<ul>
						<li><a href="#">social share</a></li>
						<li><a href="#" class="facebook">facebook</a></li>
						<li><a href="#" class="twitter">twitter</a></li>
						<li class="last"><a href="#" class="email" id="email_trigger">mail</a></li>
					</ul>
				</div>
				<!--trigger_share-->
				
			</div>
			<!--/fixed nav-->
			
			<!--top-->
			<div class="top">
				<img src="/static/img/step_1/number_1.png" alt="1" />
				<h2>Social influence<br />and reach</h2>
				<p>Number of people you reach on social networks</p>
			</div>
			<!--/top-->
			
			<!--bottom-->
			<div class="bottom">
				
				<!--left-->
				<div class="bloque left" id="canvas_1_1"></div>
				<!--left-->
				
				<!--right-->
				<div class="bloque right" id="canvas_1_2"></div>
				<!--right-->
				
				<div class="clear"></div>
				
			</div>
			<!--bottom-->
			
		</div>
	</div>
	<!--/step_one-->
	
	<!--step_two-->
	<div class="full_container step_two" id="step_two">
		<div class="centered_container">
			
			<!--top-->
			<div class="top">
				<h2>Social sharing numbers</h2>
				<p>Let's see how much you post, tweet and retweet per week.</p>
			</div>
			<!--/top-->
			
			<!--bottom-->
			<div class="bottom">
				
				<!--left-->
				<div class="block left">
				
					<!--title-->
					<div class="title_graph">
						<h2>Avg posts per week</h2>
					</div>
					<!--title-->
					
					<!--graph_one-->
					<div class="graph left">
					
						<!--img_top-->
						<div class="img_top">
							
							<!--social_title-->
							<div class="social_t_p">
								<h2>Posts</h2>
								<img src="/static/img/step_2/facebook.png" alt="facebook" />
							</div>
							<!--/social_title-->
							
              <div id="canvas_2_1"></div>
							
						</div>
						<!--/img_top-->
						
						<!--data-->
						<div class="text_graph">
							<ul>
								<li><h2 class="color_one">134<br /><span>All</span></h2></li>
								<li><h2 class="color_two">225<br /><span>You</span></h2></li>
							</ul>
						</div>
						<!--data-->
						
					</div>
					<!--/graph_one-->
					
					<!--graph_two-->
					<div class="graph right">
					
						<div class="graph">
						
							<!--img_top-->
							<div class="img_top">
								
								<!--social_title-->
								<div class="social_t_p">
									<h2>Tweets</h2>
									<img src="/static/img/step_2/twitter.png" alt="twitter" />
								</div>
								<!--/social_title-->
								
                <div id="canvas_2_2"></div>
								
							</div>
							<!--/img_top-->
							
							<!--data-->
							<div class="text_graph">
								<ul>
									<li><h2 class="color_one">99<br /><span>All</span></h2></li>
									<li><h2 class="color_two">22<br /><span>You</span></h2></li>
								</ul>
							</div>
							<!--data-->
							
						</div>
					
					</div>
					<!--/graph_two-->
					
					<div class="clear"></div>
					
				</div>
				<!--/left-->
				
				<!--right-->
				<div class="block right">
				
					<!--title-->
					<div class="title_graph">
						<h2>Avg likes and retweets per week</h2>
					</div>
					<!--title-->
					
					<!--graph_three-->
					<div class="graph left">
					
						<!--img_top-->
						<div class="img_top">
							
							<!--social_title-->
							<div class="social_t_p">
								<h2>Likes</h2>
								<img src="/static/img/step_2/facebook.png" alt="facebook" />
							</div>
							<!--/social_title-->
							
              <div id="canvas_2_3"></div>
							
						</div>
						<!--/img_top-->
						
						<!--data-->
						<div class="text_graph">
							<ul>
								<li><h2 class="color_one">44<br /><span>All</span></h2></li>
								<li><h2 class="color_two">80<br /><span>You</span></h2></li>
							</ul>
						</div>
						<!--data-->
						
					</div>
					<!--/graph_one-->
					
					<!--graph_four-->
					<div class="graph right">
					
						<div class="graph">
						
							<!--img_top-->
							<div class="img_top">
								
								<!--social_title-->
								<div class="social_t_p">
									<h2>Retweets</h2>
									<img src="/static/img/step_2/twitter.png" alt="twitter" />
								</div>
								<!--/social_title-->
								
                <div id="canvas_2_4"></div>
								
							</div>
							<!--/img_top-->
							
							<!--data-->
							<div class="text_graph">
								<ul>
									<li><h2 class="color_one">12<br /><span>All</span></h2></li>
									<li><h2 class="color_two">11<br /><span>You</span></h2></li>
								</ul>
							</div>
							<!--data-->
							
						</div>
					
					</div>
					<!--/graph_two-->
				
				</div>
				<!--/right-->
				
				<div class="clear"></div>
				
			</div>
			<!--/bottom-->
			
		</div>
	</div>
	<!--/step_two-->
	
	<!--step_three-->
	<div class="full_container step_three" id="step_three">
		<div class="centered_container">
			
			<!--top-->
			<div class="top">
				<h2>Share your level<br />of education</h2>
				<p>Tap or select the highest level of education</p>
			</div>
			<!--/top-->
			
			<!--bottom-->
			<div class="bottom">
			
				<!--graph-->
				<div class="block left">
          			<div id="canvas_3_1"></div>
					<div class="clear"></div>
				</div>
				<!--/graph-->
				
				<!--text-->
				<div class="block right">
					<ul id="your_lvl_c">
						<li>
							<h2 class="color_one">8<span>%</span></h2>
							<a href="#" ref="0">
								<span>PhD</span>
								<div class="this_lvl">
									<h2>This is your level</h2>
								</div>
							</a>
						</li>
						<li>
							<h2 class="color_one">10<span>%</span></h2>
							<a href="#" ref="1">
								<span>Master</span>
								<div class="this_lvl">
									<h2>This is your level</h2>
								</div>
							</a>
						</li>
						<li>
							<h2 class="color_one">23<span>%</span></h2>
							<a href="#" ref="2">
								<span>University</span>
								<div class="this_lvl">
									<h2>This is your level</h2>
								</div>
							</a>
						</li>
						<li>
							<h2 class="color_one">5<span>%</span></h2>
							<a href="#" ref="3">
								<span>Technical Insitute</span>
								<div class="this_lvl">
									<h2>This is your level</h2>
								</div>
							</a>
						</li>
						<li>
							<h2 class="color_one">3<span>%</span></h2>
							<a href="#" ref="4">
								<span>High School</span>
								<div class="this_lvl">
									<h2>This is your level</h2>
								</div>
							</a>
						</li>
						<li>
							<h2 class="color_one">57<span>%</span></h2>
							<a href="#" ref="5">
								<span>Junior College</span>
								<div class="this_lvl">
									<h2>This is your level</h2>
								</div>
							</a>
						</li>
						<li>
							<h2 class="color_one">3<span>%</span></h2>
							<a href="#" ref="6">
								<span>Elementary School</span>
								<div class="this_lvl">
									<h2>This is your level</h2>
								</div>
							</a>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
				<!--/text-->
				
				<!--icono_bottom-->
				<div class="hat_bottom">
					<div class="pre_load_red"></div>
				</div>
				<!--/icono_bottom-->
			
				<div class="clear"></div>
				
			</div>
			<!--/bottom-->
			
		</div>
	</div>
	<!--/step_three-->
	
	<!--step_four-->
	<div class="full_container step_four" id="step_four">
		<div class="centered_container">
			
			<!--top-->
			<div class="top">
				<h2>Share your work<br />experience</h2>
				<p>How long have you been working for?</p>
			</div>
			<!--/top-->
			
			<!--bottom-->
			<div class="bottom">
				<div id="canvas_4_1"></div>
			</div>
			<!--/bottom-->
			
			<!--datos_bottom-->
			<div class="datos_graph">
			
				<!--lista_edades-->
				<ul id="age_input">
					<li class="first">
						<a href="#">15-25</a>
					</li>
					<li>
						<a href="#">26-35</a>
					</li>
					<li>
						<a href="#">36-45</a>
					</li>
					<li>
						<a href="#">46-55</a>
					</li>
					<li class="last">
						<a href="#">56-65</a>
					</li>
				</ul>
				<!--lista_edades-->
				
				<!--input-->
				<div class="age_input" id="age_select">
				
					<div class="age_centered">
						<h2>total years working:</h2>
			            <form id="age_select_form" action="#">
			              <input type="text" id="age_select_value" name="age"/>
			            </form>
					</div>
					
					<div class="arrow_bottom_age"></div>
					
				</div>
				<!--/input-->
				
				<div class="age_bottom">
					<h2>age</h2>
				</div>
				
				<div class="clear"></div>
			</div>
			<!--datos_bottom-->
			
		</div>
	</div>
	<!--/step_four-->
	
	
	<!-- FITNESS DEVICES -->
	
	<!--social_nav-->
	<div class="full_container big_social_login sticky" data-step_nav="nav_two" id="social_nav_two">
		<div class="centered_container">
			
			<!--trigger_social_nav-->
			<div class="trigger_social_choice">
				<ul>
					<li><a href="#">Click or tap to select</a></li>
					<li><a class="ico_trigger" href="#">trigger</a></li>
					<li><a href="#">your fitness devices</a></li>
				</ul>
			</div>
			<!--/trigger_social_nav-->
			
			<!--social_choice-->
			<div class="social_choice">
			
				<h2>Click or tap to select</h2>
				
				<!--social-->
				<ul class="nav_big_social physical_networks">
					<li><a href="#" class="fatsecret">fatsecret</a></li>
					<li><a href="#" class="myfitness">myfitness</a></li>
                                        <li><a href="#" class="bodymedia">bodymedia</a></li>
                                        <li><a href="#" class="dailymile">dailymile</a></li>
                                        <li><a href="#" class="runkeeper">runkeeper</a></li>
                                        <li><a href="#" class="nike">nike</a></li>
                                        <li><a href="#" class="fitbit">fitbit</a></li>
                                        <li><a href="#" class="jewbone">jewbone</a></li>
                                        <li><a href="#" class="ihealth">ihealth</a></li>
				</ul>
				<!--/social-->
				
				<!--close_social_nav-->
				<div class="close_big_nav">
					<a href="#">close nav</a>
				</div>
				<!--/close_social_nav-->
				
				<div class="clear"></div>
			
			</div>
			<!--/social_choice-->
			
			<!--done-->
			<div class="confirm_social">
				<a href="#">done !</a>
			</div>
			<!--/done-->
			
			<!--arrow-->
			<div class="arrow_bottom"></div>
			<!--/arrow-->
			
		</div>
	</div>
	<!--/social_nav-->
	
	<!--step_five-->
	<div class="full_container step_five" id="step_five">
		<div class="centered_container">
			
			<!--top-->
			<div class="top">
				<img src="/static/img/step_5/num_2.png" alt="1" />
				<h2>Exercise is worth<br />sharing too</h2>
				<p>Keep track of what you've been doing and compare with others.<br />(Times per week)</p>
			</div>
			<!--/top-->
			
			<!--three_graphs-->
			<div class="three_graphs">
                            
				<!--graph-->
				<div class="graph">
                                    
	                <!--graph_top-->
	                <div class="container_graph">
                        <div id="canvas_5_1"></div>
	                </div>
	                <!--/graph_top-->
	                
					<!--text-->
	                <div class="text_container">
	                	<h2>Running</h2>
	                	<ul>
							<li><h2 class="color_one">04<br><span>All</span></h2></li>
							<li><h2 class="color_two">05<br><span>You</span></h2></li>
						</ul>
	                </div>
	                <!--text-->
	                
	            </div>
	            <!--/graph-->
	            
	            <!--graph-->
	            <div class="graph center">
	                                
	                <!--graph_top-->
	                <div class="container_graph">
	                    <div id="canvas_5_2"></div>
	                </div>
	                <!--/graph_top-->
	                
	            	<!--text-->
	                <div class="text_container">
	                	<h2>Walking</h2>
	                	<ul>
	            			<li><h2 class="color_one">03<br><span>All</span></h2></li>
	            			<li><h2 class="color_two">01<br><span>You</span></h2></li>
	            		</ul>
	                </div>
	                <!--text-->
	                
	            </div>
	            <!--/graph-->
	            
	            <!--graph-->
	            <div class="graph">
	                                
	                <!--graph_top-->
	                <div class="container_graph">
	                    <div id="canvas_5_3"></div>
	                </div>
	                <!--/graph_top-->
	                
	            	<!--text-->
	                <div class="text_container">
	                	<h2>Eliptical</h2>
	                	<ul>
	            			<li><h2 class="color_one">01<br><span>All</span></h2></li>
	            			<li><h2 class="color_two">02<br><span>You</span></h2></li>
	            		</ul>
	                </div>
	                <!--text-->
	                
	            </div>
	            <!--/graph-->
                            
			</div>
			<!--/three_graphs-->
			
			<!--you_cards-->
			<div class="you_cards">
				<ul>
					<li><p>you</p></li>
					<li><p><span>Bike riding</span><br />every day</p></li>
					<li><p><span>Snowboard</span><br />1 time per week</p></li>
					<li><p><span>Downhill Skiing</span><br />1 times per year</p></li>
					<li><p><span>Weight lifting</span><br />4 per year</p></li>
				</ul>
				<div class="clear"></div>
			</div>
			<!--/you_cards-->
			
		</div>
	</div>
	<!--/step_five-->
	
	<!--step_six-->
	<div class="full_container step_six" id="step_six">
		<div class="centered_container">
			
			<!--top-->
			<div class="top">
				<h2>Steps you walked<br />last week</h2>
				<p>Compared to all users in our database</p>
			</div>
			<!--/top-->
			
			<!--big_graph-->
			<div class="big_graph">
        <div id="canvas_6_1"></div>
			</div>
			<!--/big_graph-->
	
			<!--stats_bottom-->
			<div class="stats_bottom">
			
				<!--bloque-->
				<div class="bloq left">
					
					<h2>Overall avg</h2>
					
					<!--stat-->
					<div class="number_stat">
						
						<h2>15032</h2>
					
						<!--ico_right-->
						<div class="ico_right"></div>
						<!--/ico_right-->
					</div>
					<!--/stat-->
					
				</div>
				<!--/bloque-->
				
				<!--bloque-->
				<div class="bloq right">
				
					<h2>Your avg</h2>
					
					<!--stat-->
					<div class="number_stat">
						
						<h2>22013</h2>
					
						<!--ico_right-->
						<div class="ico_right"></div>
						<!--/ico_right-->
					</div>
					<!--/stat-->
				
				</div>
				<!--/bloque-->
			
				<div class="clear"></div>
				
			</div>
			<!--/stats_bottom-->
			
		</div>
	</div>
	<!--/step_six-->
	
	<!--step_seven-->
	<div class="full_container step_seven" id="step_seven">
		<div class="centered_container">
			
			<!--left-->
			<div class="bloq left">
			
				<!--top-->
				<div class="top">
					<h2>Miles you traveled<br />last week</h2>
					<p>Compared to all user in our database</p>
				</div>
				<!--/top-->
				
				<!--graph-->
				<div class="graph_container">
          <div id="canvas_7_1"></div>
				</div>
				<!--/graph-->
				
				<!--text-->
				<div class="text_container">
				
					<!--left-->
					<div class="stats left color_one">
					
						<h2>Overall avg</h2>
						
						<!--stat-->
						<div class="number_stat">
							
							<h2>40</h2>
						
							<!--ico_right-->
							<div class="ico_right one"></div>
							<!--/ico_right-->
						</div>
						<!--/stat-->
						
					</div>
					<!--left-->
					
					<!--right-->
					<div class="stats right color_two">
						
						<h2>Your avg</h2>
						
						<!--stat-->
						<div class="number_stat">
							
							<h2>12</h2>
						
							<!--ico_right-->
							<div class="ico_right two"></div>
							<!--/ico_right-->
						</div>
						<!--/stat-->
					
					</div>
					<!--right-->
					
					<div class="clear"></div>
				
				</div>
				<!--/text-->
			
			</div>
			<!--/left-->
			
			<!--right-->
			<div class="bloq right">
			
				<!--top-->
				<div class="top">
					<h2>Hours of exercise<br />last week</h2>
					<p>Compared to all users in our database</p>
				</div>
				<!--/top-->
				
				<!--graph-->
				<div class="graph_container">
          <div id="canvas_7_2"></div>
				</div>
				<!--/graph-->
				
				<!--text-->
				<div class="text_container">
				
					<!--left-->
					<div class="stats left color_one">
					
						<h2>Overall avg</h2>
						
						<!--stat-->
						<div class="number_stat">
							
							<h2>02</h2>
						
							<!--ico_right-->
							<div class="ico_right three"></div>
							<!--/ico_right-->
						</div>
						<!--/stat-->
						
					</div>
					<!--left-->
					
					<!--right-->
					<div class="stats right color_two">
						
						<h2>Your avg</h2>
						
						<!--stat-->
						<div class="number_stat">
							
							<h2>11</h2>
						
							<!--ico_right-->
							<div class="ico_right four"></div>
							<!--/ico_right-->
						</div>
						<!--/stat-->
					
					</div>
					<!--right-->
					
					<div class="clear"></div>
				
				</div>
				<!--/text-->
			
			</div>
			<!--/right-->
			
			<div class="clear"></div>
			
		</div>
	</div>
	<!--/step_seven-->
	

</div>

</body>

</html>