<link rel="stylesheet" href="/static/css/footer.css" />

<!--footer-->
    <div class="full_container" id="footer">
        <div class="centered_container">
            
            <!--navegacion_footer-->
            <div class="navegacion_footer">
                <ul>
                    <li><a href="http://datadonors.org/privacy">Privacy</a></li>
                    <li>/</li>
                    <li><a href="http://datadonors.org/terms-of-service">Terms of Service</a></li>
                    <li>/</li>
                    <li><a href="http://datadonors.org/learn-more">Learn More</a></li>
                    <li>/</li>
                    <li><a href="http://wikilife.org">The Wikilife Foundation</a></li>
                </ul>
            </div>
            <!--/navegacion_footer-->
            
            <!--social_footer-->
            <div class="footer_social">
                <ul>
                    <li><a href="https://www.facebook.com/datadonors" target="_blank" class="facebook">facebook</a></li>
                    <li><a href="https://twitter.com/DataDonors" target="_blank" class="twitter">twitter</a></li>
                    <!-- trigger a popup <li><a href="#" class="email">email</a></li>-->
                    <li><a href="mailto:support@wikilife.org" class="e_mail">email</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <!--/social_footer-->
            
            <div class="clear"></div>
            
        </div>
    </div>
    <!--/footer-->