{% include "popups/login.include.html" %}
{% load i18n %}
<link rel="stylesheet" href="http://datadonors.org/static/css/header-landing.css" />
<link rel="stylesheet" href="http://datadonors.org/static/css/reveal.css">
<script type="text/javascript" src="http://datadonors.org/static/js/download.js"></script>
<style>
.mydata{

    color: #8e929c;
    font-size: 13px;
    margin-right: 56px;
}


</style>
<script type="text/javascript" >

$(function () {

    $('.mydata') .click(function (e)
    	    {

    	            e.preventDefault();
    	            window.location="/data/export/{{user.id}}/xls/"
    	            //var content = $.get("/data/export/{{user.id}}/xls/");

    	        });
    $('.lan_es') .click(function (e)
    {

			e.preventDefault();
			var content = $.post("{% url 'set_language' %}", {
				"language" : "es",
				"next" : "{{ redirect_to }}",
				"csrfmiddlewaretoken" : '{{ csrf_token }}'
			}, function(text) {
				location.reload();
			}).responseText;

		});

		$('.lan_en').click(function(e)     {

			e.preventDefault();
			var content = $.post("{% url 'set_language' %}", {
				"language" : "en",
				"next" : "{{ redirect_to }}",
				"csrfmiddlewaretoken" : '{{ csrf_token }}'
			}, function(text) {
				location.reload();
			}).responseText;

		});

	});
</script>
<div class="container-header">
    <header id="header">
        <div id="top">
            <div class="col-3 left"></div>
            <div class="col-3 center"></div>
            <div class="col-3 right"></div>
            <h1>
	            <a href="http://datadonors.org/">
	               <img src="http://datadonors.org/static/img/logo_landing.png" width="186" height="65" alt="DataDonors Logo"
	                    title="DataDonors" />
	            </a>
            </h1>
              {% if request.user.is_authenticated %}
                           <div id="wiki-nav-d">
                <nav class="wiki-nav" id="">
                   
                    <a href="#" class="mydata" title="{% trans "DOWNLOAD MY DATA" %}"> 
                    <img src="/static/img/file_download.png" width="26" height="26" alt="DataDonors Logo"
                            title="{% trans "DOWNLOAD MY DATA" %}"/></a>
                                   </nav>
            </div>
                {% endif %} 
            <div id="wiki-nav">
                <nav class="wiki-nav" id="">
                  {% trans "by The Wikilife Foundation" %}
                </nav>
            </div>
            <div id="center-nav">
            	<span id="lan"><img src="/static/img/flags/spain.png" width="20" height="20" style="margin-right:10px" class="lan_es">  <img src="/static/img/flags/usa.png"  width="20" height="20"  class="lan_en"> </span>
                <nav class="nav" id="">	
                	
                	
                	<a href="http://datadonors.org/data" title="{% trans "Data" %}">{% trans "Data" %}</a>
                    <a href="http://datadonors.org/mission" title="{% trans "Mission" %}">{% trans "Mission" %}</a>
                    <a href="http://datadonors.org/learn-more" title="{% trans "Learn More" %}">{% trans "Learn More" %}</a>
                    <a href="http://datadonors.org/support-us" title="{% trans "Support Us" %}">{% trans "Support Us" %}</a>
                    {% if request.user.is_authenticated %}
                    <a href="http://datadonors.org/team" title="{% trans "About Us" %}">{% trans "About Us" %}</a>
                    <a href="http://datadonors.org/logout" title="{% trans "logout" %}">{% trans "logout" %}</a>
                    {% else %}
                    <a href="#" title="{% trans "login" %}" data-reveal-id="login_container">{% trans "login" %}</a>
                    {% endif %}
                </nav>
            </div>
            <!-- #preloader-copy-wrapper -->
            {% if can_share %}
            <a href="http://datadonors.org/wizard" title="{% trans "Start Sharing" %}" id="start-sharing">{% trans "Start Sharing" %}</a>
            {% endif %}
        </div>
        <div class="bottom-h"></div>
    </header>
    <!-- #header -->
</div>
<!-- .container-header -->