{% include "popups/login.include.html" %}

<link rel="stylesheet" href="http://datadonors.org/static/css/header-landing.css" />
<link rel="stylesheet" href="http://datadonors.org/static/css/reveal.css">


<div class="container-header">
    <header id="header">
        <div id="top">
            <div class="col-3 left"></div>
            <div class="col-3 center"></div>
            <div class="col-3 right"></div>
            <h1>
	            <a href="http://datadonors.org/">
	               <img src="http://datadonors.org/static/img/logo_landing.png" width="186" height="65" alt="DataDonors Logo"
	                    title="DataDonors" />
	            </a>
            </h1>
            
            <div id="wiki-nav">
                <nav class="wiki-nav" id="">
                    by The Wikilife Foundation
                </nav>
            </div>
            <div id="center-nav">
                <nav class="nav" id="">
                    <a href="http://datadonors.org/mission" title="Mission">Mission</a>
                    <a href="http://datadonors.org/learn-more" title="Learn More">Learn More</a>
                    <a href="http://datadonors.org/support-us" title="Support Us">Support Us</a>
                    {% if request.user.is_authenticated %}
                    <a href="http://datadonors.org/about-us" title="About Us">About Us</a>
                    <a href="http://datadonors.org/logout" title="logout">logout</a>
                    {% else %}
                    <a href="#" title="login" data-reveal-id="login_container">login</a>
                    {% endif %}
                </nav>
            </div>
            <!-- #preloader-copy-wrapper -->
            {% if can_share %}
            <a href="http://datadonors.org/wizard" title="Start Sharing" id="start-sharing">Start Sharing</a>
            {% endif %}
        </div>
        <div class="bottom-h"></div>
    </header>
    <!-- #header -->
</div>
<!-- .container-header -->