<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

{% include "landing_inc/header.html" %}

<body>

{% include "landing_inc/videos.html" %}

{% include "landing_inc/menu.html" %}
        
{% include "landing_inc/about.html" %}

{% include "landing_inc/what_for.html" %}

{% include "landing_inc/how_to_share.html" %}

{% include "landing_inc/donors.html" %}

{% include "landing_inc/donate.html" %}

{% include "landing_inc/slogan.html" %}

<script src="/static/js/vendor/jquery-1.7.2.min.js"></script>

<script src="/static/js/plugins.js"></script>

<script src="/static/js/jquery.scrollSections.js"></script>

<script type="text/javascript" src="/static/js/flexslider.js" ></script>
	
<script type="text/javascript" src="/static/js/script.js" ></script>

<!-- <script src="../build/js/jquery.scrollSections-0.4.1.min.js"></script> -->

<script>

var firsttime=false;
var first_sec = "home";
var interval =0;
	
	$(function() {
		//$('.goto').scrollSections();
		//var interval = setInterval ( "move_slider()" , 8000 );
		$('section.scrollsections').scrollSections({
			createNavigation: false,
			touch: false,
			 
			navigation: true,
			before: function($currentSection, $nextSection){
				//alert( $($currentSection).attr('id') )
				
				
			},
			after: function($currentSection, $previousSection)
			{
				if( $($currentSection).attr('id') == 'howtoshare' )
				{
					clearInterval ( interval );
					interval = setInterval ( "move_slider()" , 8000 );
					//alert( "si" )
					$( '#progress' ).css ( { 'width' : 0   } );
					$( '#progress' ).animate ( { 'width' : 500 } , 24000 ,"linear");					
					$( "#controles #thumb-"+ slide_actual  ).addClass( 'active' );
					firsttime =true;
					
				}
				else
				{
					slide_actual = 0;
					clearInterval ( interval );
					var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
					$( '#progress' ).stop( true ,true ).css ( { 'width' : 0   } );
					// now you can access all the methods for example flexAnimate
					exampleSlider.flexAnimate(slide_actual);
				}
				//var url_now =$( $currentSection ).attr( 'id' );
				//window.location.replace( '#' + url_now );
				//first_sec = $currentSection;
				//document.location.href( );
			}
		});
		
		img_footer( );
	});
</script>


	<script> 

	var myVideoback=document.getElementById("video-back-0"); 
	var myVideoback2=document.getElementById("video-back-1"); 
	var myVideo1=document.getElementById("video-top"); 
	var myVideo2=document.getElementById("video-top2"); 
	
	//myVideo.load( $( '#video-back-1' ).fadeIn() );
	
	var video_slide = 0;
	function playPause()
	{ 
		if (myVideo1.paused) 
		{
			//myVideo.play();
			$( '.video-1,.box-scroll, #header-top .flex-active-slide img, .close-video, #header-top img,  #header-top .capa' ).hide();
			$( '.pause' ).show();
			$("#video-back-0").hide();
			$( '#video-top, #video-top2' ).show();
			 myVideo1.play();
			  myVideo1.addEventListener('ended', function () {
					$( '.pause' ).hide();
					$( '.videoback, #header-top img').show();	
					$( '.close-video' ).hide();
					$( '.video-1,.box-scroll' ).show();
					$( '#video-top, #video-top2' ).hide();
				}, false);
				//video.play(); 
		}
		else 
		{
		  myVideo1.pause();
		  
		  $( '.close-video' ).show();
		}
	} 
		function close_video()
		{
			if( video_slide == 1  )
			{ 
			
				$( '.vidback-1' ).show();
			
			}
			else
			{
				
			}
			$( '.pause' ).hide();
			$( '.videoback, #header-top img').show();	
			$( '.close-video' ).hide();
			$( '.video-1,.box-scroll, #header-top .capa' ).show();
			$( '#video-top, #video-top2' ).hide();
			myVideo1.currentTime = 0;
			$('.slides > li > video').each( function(i) {
						//$(this).get(0).pause();

						// Note the get(0) part. That turns an array into a sinle element, which we need in order to call the pause() method.
					});
				
		}
			
		</script> 
        
        <script type="text/javascript" >
		
		
		
		var slide_actual = 0;
		
		var press_enabled = true;
		
		

		$( '#controles li a' ).click (
		
			function ( event )
			{
			
				event.preventDefault ( );
				
				clearInterval ( interval );
				
				slide_actual = parseInt ( $( this ).attr ( 'data-link' ) ) ; 

				moves_slider ( );
	
				interval = setInterval ( "move_slider()" , 8000 );
			
				$( '#progress' ).stop ( true , true ).animate ( { 'width' : slide_actual * 166 } , 0 , function ( ) { $( '#progress' ).animate ( { 'width' : 500 } , 24000 - slide_actual * 8000 ,"linear" ); } );
			
			}
		
		);
		
				
		function moves_slider ( )
		{
			var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
			// now you can access all the methods for example flexAnimate
			exampleSlider.flexAnimate(slide_actual);
			
			$( '.nav-slider .active' ).removeClass ( 'active' );
			$( '.nav-slider .thumb-' + ( slide_actual + 1 ) ).addClass ( 'active' );
			
			if( slide_actual == 1  )
			{
				$( '#thumb-2, #thumb-3' ).removeClass( 'active' )
			}
			else if( slide_actual == 2  )
			{
				$( '#thumb-3' ).removeClass( 'active' );
				$( '#thumb-1, #thumb-2' ).addClass( 'active' )
			}
			else if( slide_actual == 3  )
			{
				$( '#thumb-1, #thumb-2 ,  #thumb-3' ).addClass( 'active' )
			}
		}
		function move_slider( )
		{
			//alert( 'movel' )
			slide_actual ++;
			if( slide_actual == 3  )
			{
				slide_actual= 0;
				var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
				exampleSlider.flexAnimate(slide_actual);
				$( '.nav-slider .active' ).removeClass ( 'active' );
				$( '.nav-slider #thumb-' + ( slide_actual ) ).addClass ( 'active' );
				
			}
			else if( slide_actual == 1  )
			{
				var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
				exampleSlider.flexAnimate(slide_actual);
				$( '.nav-slider #thumb-2, .nav-slider #thumb-3' ).removeClass ( 'active' );
				$( '.nav-slider #thumb-' + ( slide_actual ) ).addClass ( 'active' );
				
			}
			else if( slide_actual == 2  )
			{
				var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
				exampleSlider.flexAnimate(slide_actual);
				$( '.nav-slider #thumb-4' ).removeClass ( 'active' );
				$( '.nav-slider #thumb-' + ( slide_actual ) ).addClass ( 'active' );
				
			}
			else if( slide_actual == 3  )
			{
				var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
				exampleSlider.flexAnimate(slide_actual);
				$( '#controles ul li' ).addClass ( 'active' );
				
			}
		}
		
		
		</script>
		
		<script type="text/javascript" >

        $( document ).ready ( function( ) 
		{
			//$('#slider-logos .flexslider').flexslider({ animation: "slide", animationLoop: true, slideshow: false, controlNav: false , pauseOnHover: false ,  directionNav: true,  animationSpeed: 600, itemWidth: 96, itemMargin: 0, minItems: 1 , maxItems: 6, move: 6 });
   
			
			$( '#header-top .flexslider' ).flexslider
			({
				animation: "slide",
				useCSS: false,
				multipleKeyboard: true,
				pauseOnHover: true,
				slideshow: false,
				directionNav: false,
				video: true,
				animationSpeed: 800,
				animationLoop: true,
				start: function(slider) {
				//myVideoback.play();
				 	console.log("Working?");
					video_slide = slider.currentSlide;
					 myVideo1.pause();

						if( video_slide == 0 )
						{
							myVideoback.play();
						}
					
					 },
				  before: function(){				//Callback: function(slider) - Fires asynchronously with each slider animation
					// Running through all of the video elements and telling them to pause
					// This will only work with  HTML5 video. YouTube requires its own solution.
					
					$( ".video-1" ).addClass( "gototop" );
					$('.slides > li > video').each( function(i) {
						$(this).get(0).pause();
						// Note the get(0) part. That turns an array into a sinle element, which we need in order to call the pause() method.
					});
				}
					 ,
					after: function(slider) 
					{
						$( ".video-1" ).removeClass( "gototop" );
						video_slide = slider.currentSlide;
	
						if( video_slide == 1 )
						{
							myVideoback2.play();
						}
						else
						{
							myVideoback.play();
						}
					
				  }
			 
			});
			
			
			$('#header-top .next-video').on('click', function(){
				$('#header-top .flexslider').flexslider('next')
				return false;
			})
     	
			
			$( '#howtoshare .flexslider' ).flexslider
			({
				animation: "slide",
				multipleKeyboard: false,
				useCSS: false,
				slideshow: false,
				touch:false,
				slideshowSpeed: 8000,
				directionNav: false,
				// manualControls: "#controles li",
				start: function(slider) {
			//		slider.flexAnimate(slider.getTarget("next"));
					$('.total-slides').text(slider.count);
					
					
      			},
				  before: function(slider) {
					  
					  slide_actual = slider.animatingTo;
					  
					  $( "#controles #thumb-"+slide_actual  ).addClass( 'active' );
					  
					  if ( slider.animatingTo == 0 )
						{
							
							$( '#progress' ).stop ( true , true ).animate ( { 'width' : slide_actual * 166.6 } , 0 );
							
							$( "#controles li" ).removeClass( 'active' );
							
							$( "#controles #thumb-"+ slide_actual  ).addClass( 'active' );  
							
						}
						if ( slider.animatingTo == 2 )
						{
							$( "#controles #thumb-1").addClass( 'active' );  
						}

					$( '#progress' ).stop ( true , true ).animate ( { 'width' : slide_actual * 166.6 } , 0 , function ( ) 
					{ 
						$( '#progress' ).animate ( { 'width' : 500 } , 24000 - slide_actual * 8000 ,"linear" ); 
					} );
				  },
				  end: function(){
					  //alert ( 'finishs' )
					}
			});
			
        });
	
	
        </script>

<!--

CAMBIAR EL GOOGLE ANALYTICS
 
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-8889668-4']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
-->
</body>

</html>
