{% extends "base.html"%}

{% block meta %}
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Wikilife Foundation">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/reset.css"/> 
<link rel="stylesheet" type="text/css" href="/static/css/style.css?6548321"/>
<link rel="stylesheet" type="text/css" href="/static/css/flexslider.css"/>
<link rel="stylesheet" media="screen and (max-height: 730px)" href="/static/css/min.css" />
<link rel="stylesheet" media="screen and (min-height: 800px)" href="/static/css/max.css" />
<link rel="stylesheet" media="screen and (min-height: 900px)" href="/static/css/highest.css" />
<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)" href="/static/css/ipad-h.css" />
<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)" href="/static/css/ipad-v.css" /> 
<link rel="stylesheet" href="/static/css/style2.css">
<link rel="stylesheet" href="/static/css/jquery.scrollSections.css">
<link rel="stylesheet" href="/static/css/reveal.css">
{% endblock %}

{% block script %}

{% endblock %}


{% block content %}
<body>

{% include "landing_inc/menu.html" %}
        


<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-migrate-1.2.0.min.js"></script>


<script type="text/javascript" src="/static/js/plugins.js"></script>

<script type="text/javascript" src="/static/js/jquery.scrollSections.js"></script>

<script type="text/javascript" src="/static/js/flexslider.js" ></script>
	
<script type="text/javascript" src="/static/js/script.js" ></script>

<script type="text/javascript"  src="/static/js/vendor/modernizr-2.5.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.reveal.js"></script>

</body>

{% endblock %}
