{% extends "base.html"%}
{% load i18n %}

{% block meta %}
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Wikilife Foundation">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="http://datadonors.org/static/css/reset.css"/>
<link rel="stylesheet" href="http://datadonors.org/static/css/common.css" />
<link rel="stylesheet" href="http://datadonors.org/static/css/style.css?6548321"/>
<link rel="stylesheet" href="http://datadonors.org/static/css/flexslider.css"/>
<link rel="stylesheet" media="screen and (max-height: 730px)" href="http://datadonors.org/static/css/min.css" />
<link rel="stylesheet" media="screen and (min-height: 800px)" href="http://datadonors.org/static/css/max.css" />
<link rel="stylesheet" media="screen and (min-height: 900px)" href="http://datadonors.org/static/css/highest.css" />
<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)" href="http://datadonors.org/static/css/ipad-h.css" />
<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)" href="http://datadonors.org/static/css/ipad-v.css" />
<link rel="stylesheet" href="http://datadonors.org/static/css/style2.css">
<link rel="stylesheet" href="http://datadonors.org/static/css/jquery.scrollSections.css">
<link rel="stylesheet" href="http://datadonors.org/static/css/footer.css" />
{% endblock %}

{% block script %}

{% endblock %}


{% block content %}
<body>
<script type="text/javascript" src="http://datadonors.org/static/js/thirdparty/jquery-2.1.0.min.js"></script>

{% include "landing_inc/menu.html" %}

{% include "landing_inc/about.html" %}

{% include "landing_inc/what_for.html" %}

{% include "landing_inc/how_to_share.html" %}

{% include "landing_inc/donors.html" %}

{% include "landing_inc/donate.html" %}

{% include "landing_inc/slogan.html" %}

{% include "footer.include.html" %}

<script type="text/javascript" src="http://datadonors.org/static/js/thirdparty/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="http://datadonors.org/static/js/jquery-migrate-1.2.0.min.js"></script>
<script type="text/javascript" src="http://datadonors.org/static/js/plugins.js"></script>
<script type="text/javascript" src="http://datadonors.org/static/js/flexslider.js" ></script>
<script type="text/javascript" src="http://datadonors.org/static/js/script.js" ></script>

<!-- <script src="../build/js/jquery.scrollSections-0.4.1.min.js"></script> -->

<script>

//var myVideoback = document.getElementById('video-back-0');
//var myVideoback2 = document.getElementById('video-top');
//var myVideoback3 = document.getElementById('video-how');

function fgVideo() {
    return $('#video-top').get(0);
}
function bgVideo() {
    return $('#video-back-0').get(0);
}

function sgVideo() {
    return $('#video-how').get(0);
}

var video_slide = 0;
function playPause() {
    if (fgVideo() .paused) {
        $('.video-1,.box-scroll, #header-top .flex-active-slide img, .close-video, #header-top img,  #header-top .capa') .hide();
        $('.pause') .show();
        $('video') .hide();
        $('#video-top') .show();
        fgVideo() .play();
        fgVideo() .addEventListener('ended', function () {
            $('.pause') .hide();
            $('.videoback, #header-top img') .show();
            $('.close-video') .hide();
            $('.video-1,.box-scroll') .show();
            $('#video-top, #video-how') .hide();
        }, false);
    } else {
        fgVideo() .pause();
        sgVideo() .pause();
        $('.close-video') .show();
    }
}

function pause(){
	fgVideo() .pause();
    sgVideo() .pause();
    $('.close-video') .show();
}

function play2Pause() {
    if (sgVideo() .paused) {
        $('.video-1,.box-scroll, #header-top .flex-active-slide img, .close-video, #header-top img,  #header-top .capa') .hide();
        $('.pause') .show();
        $('video') .hide();
        $('#video-top') .hide();
        $('#video-how') .show();
        sgVideo() .play();
        sgVideo() .addEventListener('ended', function () {
            $('.pause') .hide();
            $('.videoback, #header-top img') .show();
            $('.close-video') .hide();
            $('.video-1,.box-scroll') .show();
            $('#video-top, #video-how') .hide();
        }, false);
    } else {
    	sgVideo() .pause();
        $('.close-video') .show();
    }
}

function close_video() {
    if (video_slide == 1)
    {
        $('.vidback-1') .show();
    }
    $('.pause') .hide();
    $('.videoback, #header-top img') .show();
    $('.close-video') .hide();
    $('.video-1,.box-scroll, #header-top .capa') .show();
    $('#video-top, #video-how') .hide();
    fgVideo() .currentTime = 0;
    sgVideo().currentTime = 0;
}
</script>



<script type="text/javascript" >
var slide_actual = 0;
var press_enabled = true;
function moves_slider() {
    var exampleSlider = $('#howtoshare .flexslider') .data('flexslider');
    // now you can access all the methods for example flexAnimate
    exampleSlider.flexAnimate(slide_actual);
    $('.nav-slider .active') .removeClass('active');
    $('.nav-slider .thumb-' + (slide_actual + 1)) .addClass('active');
    if (slide_actual == 1) {
        $('#thumb-2, #thumb-3') .removeClass('active')
    } else if (slide_actual == 2) {
        $('#thumb-3') .removeClass('active');
        $('#thumb-1, #thumb-2') .addClass('active')
    } else if (slide_actual == 3) {
        $('#thumb-1, #thumb-2 ,  #thumb-3') .addClass('active')
    }
}
function move_slider() {
    slide_actual++;
    var exampleSlider = $('#howtoshare .flexslider') .data('flexslider');
    if (slide_actual == 3) {
        slide_actual = 0;
        exampleSlider.flexAnimate(slide_actual);
        $('.nav-slider .active') .removeClass('active');
        $('.nav-slider #thumb-' + (slide_actual)) .addClass('active');
    } else if (slide_actual == 1) {
        exampleSlider.flexAnimate(slide_actual);
        $('.nav-slider #thumb-2, .nav-slider #thumb-3') .removeClass('active');
        $('.nav-slider #thumb-' + (slide_actual)) .addClass('active');
    } else if (slide_actual == 2) {
        exampleSlider.flexAnimate(slide_actual);
        $('.nav-slider #thumb-4') .removeClass('active');
        $('.nav-slider #thumb-' + (slide_actual)) .addClass('active');
    }
}
$(function () {

	$('#home').hide();

	
    var firsttime = false;
    var first_sec = 'home';
    var interval = 0;
    $(function () {
        //$('.goto').scrollSections();
        //var interval = setInterval ( "move_slider()" , 8000 );
        $('section.scrollsections') .scrollSections({
            createNavigation: true,
            touch: false,
            navigation: true,
            before: function ($currentSection, $nextSection) {
                //alert( $($currentSection).attr('id') )
            },
            after: function ($currentSection, $previousSection)
            {
                if ($($currentSection) .attr('id') == 'howtoshare')
                {
                    clearInterval(interval);
                    interval = setInterval('move_slider()', 8000);
                    //alert( "si" )
                    $('#progress') .css({
                        'width': 0
                    });
                    $('#progress') .animate({
                        'width': 500
                    }, 24000, 'linear');
                    $('#controles #thumb-' + slide_actual) .addClass('active');
                    firsttime = true;
                }
                else
                {
                    if ($($currentSection) .attr('id') == 'donatedd' || $($currentSection) .attr('id') == 'last')
                    {
                        slide_actual = 0;
                        clearInterval(interval);
                        var exampleSlider = $('#howtoshare .flexslider') .data('flexslider');
                        $('#progress') .stop(true, true) .css({
                            'width': 0
                        });
                        // now you can access all the methods for example flexAnimate
                        exampleSlider.flexAnimate(slide_actual);
                        $('.link-counter') .addClass('active-scrollsection');
                    } else {
                        slide_actual = 0;
                        clearInterval(interval);
                        var exampleSlider = $('#howtoshare .flexslider') .data('flexslider');
                        $('#progress') .stop(true, true) .css({
                            'width': 0
                        });
                        // now you can access all the methods for example flexAnimate
                        exampleSlider.flexAnimate(slide_actual);
                    }
                }
                //var url_now =$( $currentSection ).attr( 'id' );
                //window.location.replace( '#' + url_now );
                //first_sec = $currentSection;
                //document.location.href( );

            }
        });
        img_footer();
    });
    //$('#slider-logos .flexslider').flexslider({ animation: "slide", animationLoop: true, slideshow: false, controlNav: false , pauseOnHover: false ,  directionNav: true,  animationSpeed: 600, itemWidth: 96, itemMargin: 0, minItems: 1 , maxItems: 6, move: 6 });
    $('.goto') .click(function (e)
    {
        e.preventDefault();
        var este = $(this) .attr('data-scroll');
        topthis = $('#' + este)
        var scrollTop = $(window) .scrollTop(),
        elementOffset = topthis.offset() .top,
        distance1 = (elementOffset - scrollTop);
        distance = (distance1 - 100);
        $('html, body') .animate({
            scrollTop: $(window) .scrollTop() + distance
        }, {
            duration: 500,
            queue: false
        });
    }
    );

    $('#howtoshare .flexslider') .flexslider({
        animation: 'slide',
        multipleKeyboard: false,
        useCSS: false,
        slideshow: false,
        touch: false,
        slideshowSpeed: 8000,
        directionNav: false,
        // manualControls: "#controles li",
        start: function (slider) {
            //    slider.flexAnimate(slider.getTarget("next"));
            $('.total-slides') .text(slider.count);
        },
        before: function (slider) {
            slide_actual = slider.animatingTo;
            $('#controles #thumb-' + slide_actual) .addClass('active');
            if (slider.animatingTo == 0)
            {
                $('#progress') .stop(true, true) .animate({
                    'width': slide_actual * 166.6
                }, 0);
                $('#controles li') .removeClass('active');
                $('#controles #thumb-' + slide_actual) .addClass('active');
            }
            if (slider.animatingTo == 2)
            {
                $('#controles #thumb-1') .addClass('active');
            }
            $('#progress') .stop(true, true) .animate({
                'width': slide_actual * 166.6
            }, 0, function ()
            {
                $('#progress') .animate({
                    'width': 500
                }, 24000 - slide_actual * 8000, 'linear');
            });
        },
        end: function () {
            //alert ( 'finishs' )
        }
    });
});
</script>

<script type="text/javascript" src="http://datadonors.org/static/js/vendor/modernizr-2.5.3.min.js"></script>
<script type="text/javascript" src="http://datadonors.org/static/js/jquery.reveal.js"></script>
</body>

{% endblock %}
