<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	
    <meta charset="utf-8">

<!-- 	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

	<title>Data Donors</title>
	
    <meta name="description" content="">
	
    <meta name="author" content="">
      
   	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/> 
    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?6548321"/>
    
    <link rel="stylesheet" type="text/css" href="/static/css/flexslider.css"/>
    
    <link rel="stylesheet" media="screen and (max-height: 730px)" href="/static/css/min.css?546879" />
    
    <link rel="stylesheet" media="screen and (min-height: 800px)" href="/static/css/max.css?546879" />
    
    <link rel="stylesheet" media="screen and (min-height: 900px)" href="/static/css/highest.css?14532423456" />
    
	<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)" href="/static/css/ipad-h.css" />
    
	<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)" href="/static/css/ipad-v.css" /> 
 
	<link rel="stylesheet" href="/static/css/style2.css">
	
    <link rel="stylesheet" href="/static/css/jquery.scrollSections.css">
    
		
	<script src="/static/js/vendor/modernizr-2.5.3.min.js"></script>	
        
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <section id="home" class="scrollsections">
    
	                            
        <div class="wrapper section-top" id="header-top">
        
        	<a href="#" class="close-video" onClick="close_video()"></a>
        
            <div class="video-1">
            
                <h2>WATCH HOW WE COULD ALL SAVE LIVES</h2>
            	
       			<a href="#" id="video-01" onClick="playPause()" class="watch-video" >Watch video</a>
            
            </div>
            
            <a href="#" class="pause" onClick="playPause()"></a>
        	
          	<div class="flexslider">
                    
                <ul class="slides">
                
	                <li>
                        <div class="capa"></div>
                        <video width="640" id="video-back-0" class="vidback-0 videoback" preload="auto" muted loop autoplay>
                            <source src="/static/video/blur.webm" type="video/webm">
                            <source src="/static/video/blur.mp4" type="video/mp4">
                            <source src="/static/video/blur.mp4" type="video/ogg">
                        </video>
                        
                                                                  
                        <video width="640" id="video-top" class="vid-0"  preload="auto" style="display:none" >
                            <source src="/static/video/DataDonors.webm" type="video/webm">
                            <source src="/static/video/DataDonors.mp4" type="video/mp4">
                            <source src="/static/video/DataDonors.ogg" type="video/ogg">
                        </video>
                  
                   </li>     

				</ul>
                
            </div>
        
        	<div class="box-scroll">
            	
            	<span>Scroll</span>
                <div class="tip"></div>
            </div>
        
        </div>    
    </section>

		<div class="container-header">
        	
            <header id="header" >
            
                <div id="top">
                    
                    <div class="col-3 left" ></div>
                    
                    <div class="col-3 center" ></div>
                    
                    <div class="col-3 right" ></div>
                    
                    <h1>
                    	
                        <img src="/static/img/logo.png" width="145" height="49" alt="Logo DataDonors" title="Logo DataDonors" />
                    
                    </h1>
                    
                    <div id="center-nav">
                    
                        <nav class="nav" id="scrollsections-navigation" >
                        	
                            <a href="#home" title="section" class="link-home" data-scroll="top" >home</a>
                            
                            <a href="#about" title="section" class="link-about" data-scroll="about" >about</a>

                            <a href="#whatfor" title="section" class="link-for-what" data-scroll="for-what" >what for</a>

                            <a href="#donors" title="section" class="link-counter" data-scroll="contador" >donors</a>
                            
                            <a href="#howtoshare" title="section" class="link-how-to-share" data-scroll="how-to-share" >how to share</a>
                       
                        </nav>
                        
                    </div><!-- #preloader-copy-wrapper -->
                    
                	<a href="/donate/" title="Start sharing" id="start-sharing" >Start Sharing</a>
                    
                </div>
                
                <div class="bottom"></div>
                
            </header><!-- #header -->
				
		</div><!-- .container-header -->
        
<section id="about" class="scrollsections">

	        <section id="second"  class="row section-about full-screen seccion"  >
            
            <h3>WHAT IS <br />
DATADONORS?</h3>
            
            
            <div class="center-v" >
            
                <div class="middle">
               
                    <img src="/static/img/logo-row-2.jpg" width="750"  title="Logo Datadonor" alt="Logo Datadonor" />
               
                </div><!-- .middle -->
                
                <div class="middle right">
               
                     <img src="/static/img/texto-row-right.jpg" width="750"  title="We are used to share everything online. It’s what we do every day. Using Facebook, Twitter, Instagram or whatever platform, we love to share. But, is that sharing helping anyone? In most cases, it doesn’t. And that’s ok. But, what if we could save lives with that same sharing?" alt="We are used to share everything online.  It’s what we do every day. Using Facebook, Twitter, Instagram or whatever platform, we love to share. But, is that sharing helping anyone? In most cases, it doesn’t. And that’s ok. But, what if we could save lives with that same sharing?" />

                    <div class="clear"></div>
                
                </div><!-- .middle -->
            
            </div>
            
            <div id="logos" ></div>
            
        </section><!-- #second -->
</section>

<section id="whatfor" class="scrollsections">

    <section id="four" class="row section-for-what seccion full-screen">
	
                <h2>YOUR DONATION,<br> WHAT IS IT FOR?</h2>
            
            <h3 class="subtitle">You should know why it’s so important</h3>

                
                <div class="center-v" >
                    
                    <ul>
                        
                        <li class="one">
                        
                            <div class="contenido">
                                
                                <div class="icon-sombra"></div>
                                <!--<div class="icon"></div>-->
                               
                                <h3>For Scientists<br /> and doctors</h3>
                                
                                <p>Help them discover and create new hypotheses to treat and cure health disorders.</p>
                            
                            </div>
                        
                        </li>
                        
                        <li class="two">
                            
                            <div class="contenido">
                                
                                <div class="icon-sombra"></div>
                                <!--<div class="icon2"></div>-->
                            
                                <h3>For your <br />Friends</h3>
                            
                                <p>Compare all your habits with people just like you. And, from all over the world.</p>
                            
                            </div>
                        
                        </li>
                        
                        <li class="four">
                            
                            <div class="contenido">
                                
                                
                                <div class="icon-sombra"></div>
                                <!--
                                <div class="icon">
                                    
                                    <img src="/static/img/icon.png" title="For Scientists and doctors" alt="For Scientists and doctors" width="90" height="90" />
                                
                                </div>
                                -->
                                <h3>For the <br />World</h3>
                            
                                <p>Help everybody by doing what you are already doing, every day. Anywhere.</p>
                            
                            </div>
                            
                        </li>
                        
                        <li class="three">
                        
                            <div class="contenido">
                                
                                <div class="icon-sombra"></div>
                                <!--<img src="/static/img/icon-2.jpg" title="For your Friends" alt="For your Friends" width="90" height="84" /> -->
                        
                                <h3>For <br />You</h3>
                        
                                <p>Get all your health and interesting  information in one simple andsecure place.</p>
                        
                            </div>
                        
                        </li>
                        
                    </ul>
                    
                </div>
                
                
                    
    </section>

</section>

<section id="donors" class="scrollsections">
    
    <section id="section-counter" class="row full-screen seccion">
    
	    
		<div class="heading-row section-contador">
        
        		<a href="#donors" class="goto" data-scroll="contador" ></a>
            
            	<h2>The importance<br /><em>OF SHARING</em></h2>
                            
            </div><!-- .heading-row -->
            
            <div class="center-v" >
            
            <div class="marcas-container ">
              
                <h3>42.<span>239</span></h3>
                
                <h4>And counting are <br> donating datat right <br> now, and you can <br>join them!</h4>
                
                <div class="clear"></div>
                
        	</div><!-- marcas-container -->
            
            <div class="marcas-container data-shared">
            	
                <div class="left">
                
                    <h3>6.<span>875.437</span></h3>
                    
                    
                    
                    <h4>Have already shared something at DataDonors. Time to join them!</h4>
           
            	</div><!-- .left -->
                
                
           <div class="clear"></div>
           
		</div><!-- .data-shared -->
	
    	</div>	
    
    </section><!-- #section-counter -->

</section>

<section id="howtoshare" class="scrollsections">
        
	            <div class="flexslider seccion">
            
              <ul class="slides">
              
                <li class="slide-1 slide seccion" >
                    
                    <h2>Time to link your social life</h2>
                    
                    <h3>DONATE YOUR DATA, <br>
IT WON’T TAKE LONG</h3>
                    
                    <div class="inner container-bubbles">
                    
                        <div class="circle">                            
                        
                        </div><!-- .circle -->
                        
                        <div class="clear"></div>
                        
                        <div class="footer-slide">
                        
                        	<h4>START <br>LINKING</h4>
                            
                            	<ul class="container-circulos" >
                                
                                    <li class="social">
                                        
                                        <div class="circulo"></div>
                                        
                                        <span>Social</span>
                                        
                                    </li>
                                    
                                    <li class="physical">
                                        
                                        <div class="circulo"></div>
                                        
                                        <span>Physical</span>
                                        
                                    </li>
                                    
                                    <li class="nutrition">
                                        
                                        <div class="circulo"></div>
                                        
                                        <span>Nutrition</span>
                                        
                                    </li>
                                    
                                    <li class="health">
                                        
                                        <div class="circulo"></div>
                                        
                                        <span>Health</span>
                                        
                                    </li>
                                    
                                    <li class="genomics">
                                        
                                        <div class="circulo"></div>
                                        
                                        <span>Genomics</span>
                                        
                                    </li>
                                
                                </ul>
                            
                            <h4 class="right-head">YOUR APPS <br>AND DEVICES.</h4>
                        
                        </div>
                        
                    </div>
                    
                </li>
                
                <li class="slide-2 slide seccion">
                
                    <h2>Simple stats to share</h2>
                    
                    <h3>FULL SHARING GRAPHICS</h3>
                    
                    <div class="inner">
                    
                        <h4>ONE BAR CHART <br>THAT MATTERS</h4>
                        
                        <div class="bubles-cont">
                        <div class="bubble-box bubble-3">
                                                    
                            <div class="circle">                        
                                
                                <div class="cont-stadis">
                                
                                    <ul class="statistics">
                                    
                                        <li class="first"><span></span></li>
                                        
                                        <li class="second"><span></span></li>
                                        
                                        <li class="third"><span></span></li>
                                        
                                        <li class="fourth"><span></span></li>
                                        
                                        <li class="percent"></li>
                                
                                        <li class="clear"></li>
                                
                                    </ul><!-- .statistics -->
                                    
                                    <div class="clear"></div>
                                
                                </div><!-- cont-stadis -->
                            
                            </div><!-- .circle -->
                            
                        </div><!-- .bubble-3 -->
                        
                        <div class="bubble-box ">
                                                    
                            <div id="circle-stadistic" class="circle">                        
                                
                                <div id="c-1" >
                                    <div id="c-2" >
                                        <div id="c-3" ></div>
                                    </div>
                                    <div id="c-4" >
                                        <div id="c-5" ></div>
                                    </div>
                                    <div id="c-6" >
                                        <div id="c-7" ></div>
                                    </div>
                                    <div id="c-8" >
                                        <div id="c-9" ></div>
                                    </div>
                                    <div id="c-10" >
                                        <div id="c-11" ></div>
                                    </div>
                                </div>
                                
                                <div class="middle-circle">
                                    <div class="percent"></div>
                                </div>
                            
                            </div>
                            
                        </div><!-- .bubble-3 -->
                        
                        </div>
                        
                        <h5>ANOTHER SHAPE <br>OF SHARING </h5>
                        
                    </div>                    
                
                </li>
                
                <li class="slide-3 slide-4 slide seccion">
                
                    <h2>A quick look at numbers</h2>
                    
                    <h3>COMPARE YOUR DATA WITH <br>THE OVERALL AVERAGE</h3>
                    
                    <div class="inner">
                        
                        <h4 class="title-left">THE WE GRAPHIC</h4>
                        
                        <div class="cont-circles">
                        
                            <div class="circle">
                            
                                <h5>Overall avg</h5>
                                
                            </div>
                            
                            <div class="circle right">
                            
                                <h5>Your avg</h5>
                            
                            </div>
                        
                        </div><!-- .cont-circles -->
                        
                        <h4 class="titleright">THE YOU GRAPHIC</h4>
                        
                        <div class="clear"></div>
                        
                    </div>
                
                </li>
               
                </ul>
                
                <div id="timeline">
                    <div id="controles" >
                        <ul>
                            <li id="thumb-0" >
                                <a href="#" data-link="0"></a>
                                <span class="icon"></span>
                            </li>
                            <li id="thumb-1" >
                                <a href="#" data-link="1"></a>
                                <span class="icon"></span>
                            </li>
                            <li id="thumb-2" >
                                <a href="#" data-link="2"></a>
                                <span class="icon"></span>
                            </li>
                            <!--
                            <li id="thumb-3" >
                                <a href="#" data-link="3"></a>
                                <span class="icon"></span>
                            </li>
                            -->
                        </ul>
                    </div>
                    <div class="cont-progress">
                        <div id="progress"></div>
                    </div>
                </div>
            </div>
            
        
</section>

<section id="donatedd" class="scrollsections">

    <section id="third" class="row section-start seccion">
	
        		<div class="contenedor seccion">
        	
            <div class="contenedor-to">
            
            	               <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_010.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_011.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_012.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_013.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_014.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_015.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_016.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_017.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_018.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_019.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_020.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_021.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_022.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_023.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_024.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_025.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_026.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_027.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_028.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_029.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_030.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_031.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_032.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_033.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_034.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_035.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_036.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_037.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_038.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_039.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_040.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_041.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_042.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_043.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_044.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_045.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_046.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_047.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_048.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_049.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_050.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_051.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_052.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_053.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_054.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_055.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_056.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_057.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_058.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_059.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_060.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_061.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_062.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_063.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_064.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_065.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_066.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_067.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_068.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_069.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_070.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_071.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_072.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_073.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_074.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_075.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_076.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_077.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_078.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_079.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_080.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_081.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_082.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_083.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_084.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_085.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_086.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_087.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_088.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_089.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_090.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_091.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_092.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_093.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_094.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_095.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_096.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_097.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_098.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                              <div class="cuadro"><div class="img"><img src="/static/img/caras/grid_099.jpg" alt="imagen grilla" title="imagen grilla"  /></div></div>
                               
            </div>
            
                        
            <div class="bottom-donate">
            
                <div class="top"></div>
            
                <div class="half left">
            
                    <div class="box">
                    
                        <p class="left">You will find different aspects of your life  represented in numbers and charts. </p>
                        
                        <p class="right">With every bit of data you  share you ‘ll be helping  others and perhaps, even your future self.</p>
                    
                    </div>
            
                </div><!-- .half -->
                
                <div class="half">
                
                    <a href="/donate/" title="donate" id="donate">Donate!</a>
                
                </div><!-- .half -->
            
            </div><!-- .bottom-donate -->
        
        </div><!-- .contenedor -->    
    </section>

</section>

<section id="last" class="scrollsections">

			<div class="footer-path">

        
        <div class="center">

            <div class="inner">
			
				<ul id="share-for-good">
			
				<li>
				
					<img src="/static/img/share-for-good-1.jpg" alt="share for good" title="share for good" height="117" width="108" />
					
				</li>
				
				<li>
			
					<div class="mascara-container" id="mascara-container">
					
						<img src="/static/img/mascara.png" width="108" height="117" alt="Share for good" title="Share for good" />
					
					</div>
					
					<div class="img-container" id="logo-img-container-1">
						
						<div class="img-fondo" >
						
							<img src="/static/img/img-1.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-2.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-3.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-4.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-5.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-6.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
					
					</div>
					
				</li>
				<li>
					<div class="mascara-container" id="mascara-container-2">
					
						<img src="/static/img/mascara.png" width="108" height="117" alt="Share for good" title="Share for good" />
					
					</div>
					
					<div class="img-container" id="logo-img-container-2">
						
						<div class="img-fondo" >
						
							<img src="/static/img/img-7.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-2.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-3.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-4.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-5.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-7.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
					
					</div>
				</li>
				<li>
					<img src="/static/img/share-for-good-4.jpg" alt="share for good" title="share for good" height="117" width="108" />
				</li>
				<li>
					<img src="/static/img/share-for-good-5.jpg" alt="share for good" title="share for good" height="117" width="108" />
				</li>
				
				<li class="last">
				
					<div class="mascara-container" id="mascara-container-3">
					
						<img src="/static/img/mascara.png" width="108" height="117" alt="Share for good" title="Share for good" />
					
					</div>
					
					<div class="img-container" id="logo-img-container-3">
						
						<div class="img-fondo" >
						
							<img src="/static/img/img-8.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-2.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-3.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-4.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-5.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
						
						<div class="img-fondo-loop img-loop"  >
						
							<img src="/static/img/img-8.jpg" width="108" height="117" alt="Share for good" title="Share for good"/>
						
						</div>
					
					</div>
				
				</li>
			
			</ul>
			
			<h4>Today we share everything.<br />what if that same sharing could save lives?</h4>
			
			
			</div><!-- .inner -->
			
			
            
		</div><!-- center -->
        <!-- <div class="bottom"></div>-->
        </div>
    <footer id="footer">
    
	                <div class="innerfot">
                
                <h5>
                
                    <img src="/static/img/logo-foooter.jpg" width="177" height="76" title="Logo DataDonors" alt="Logo DataDonors">
                
                </h5>
                
                <ul id="redes-fotter">
                
                    <li class="facebook">
                    
                        <a href="#" title="facebook" ></a>
                    
                    </li>                	
                    
                    <li class="twitter">
                        
                        <a href="#" title="twitter" ></a>
                    
                    </li>
                    
                    <li class="mail">
                        
                        <a href="#" title="mail" ></a>
                    
                    </li>
                
                </ul><!-- .redes-fotter -->
            
            </div><!-- .inner -->    
    </footer><!-- #footer -->

</section>

<script src="/static/js/vendor/jquery-1.7.2.min.js"></script>

<script src="/static/js/plugins.js"></script>

<script src="/static/js/jquery.scrollSections.js"></script>

<script type="text/javascript" src="/static/js/flexslider.js" ></script>
	
<script type="text/javascript" src="/static/js/script.js" ></script>

<!-- <script src="../build/static/js/jquery.scrollSections-0.4.1.min.js"></script> -->

<script>

var firsttime=false;
var first_sec = "home";
var interval =0;
	
	$(function() {
		//$('.goto').scrollSections();
		//var interval = setInterval ( "move_slider()" , 8000 );
		$('section.scrollsections').scrollSections({
			createNavigation: false,
			touch: false,
			 
			navigation: true,
			before: function($currentSection, $nextSection){
				//alert( $($currentSection).attr('id') )
				
				
			},
			after: function($currentSection, $previousSection)
			{
				if( $($currentSection).attr('id') == 'howtoshare' )
				{
					clearInterval ( interval );
					interval = setInterval ( "move_slider()" , 8000 );
					//alert( "si" )
					$( '#progress' ).css ( { 'width' : 0   } );
					$( '#progress' ).animate ( { 'width' : 500 } , 24000 ,"linear");					
					$( "#controles #thumb-"+ slide_actual  ).addClass( 'active' );
					firsttime =true;
					
				}
				else
				{
					slide_actual = 0;
					clearInterval ( interval );
					var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
					$( '#progress' ).stop( true ,true ).css ( { 'width' : 0   } );
					// now you can access all the methods for example flexAnimate
					exampleSlider.flexAnimate(slide_actual);
				}
				//var url_now =$( $currentSection ).attr( 'id' );
				//window.location.replace( '#' + url_now );
				//first_sec = $currentSection;
				//document.location.href( );
			}
		});
		
		img_footer( );
	});
</script>


	<script> 

		var myVideoback=document.getElementById("video-back-0"); 
		var myVideoback2=document.getElementById("video-back-1"); 
		var myVideo1=document.getElementById("video-top"); 
		var myVideo2=document.getElementById("video-top2"); 
		
		//myVideo.load( $( '#video-back-1' ).fadeIn() );
		
		var video_slide = 0;
		function playPause()
		{ 
			if (myVideo1.paused) 
			{
				//myVideo.play();
				$( '.video-1,.box-scroll, #header-top .flex-active-slide img, .close-video, #header-top img,  #header-top .capa' ).hide();
				$( '.pause' ).show();
				 myVideo1.play();
				  myVideo1.addEventListener('ended', function () {
						$( '.pause' ).hide();
						$( '.videoback, #header-top img').show();	
						$( '.close-video' ).hide();
						$( '.video-1,.box-scroll' ).show();
						$( '#video-top, #video-top2' ).hide();
					}, false);
					//video.play(); 
			}
			else 
			{
			  myVideo1.pause();
			  
			  $( '.close-video' ).show();
			}
		} 
		function playPause2()
		{ 
			if (myVideo2.paused) 
			{
				myVideo2.play();
				$( '.video-1, .box-scroll, #header-top .flex-active-slide img' ).hide();
				$( '.pause, #video-top2' ).show();
				
			}
			else 
			{
			  myVideo2.pause();
			  
			  $( '.close-video' ).show();
			}
		} 
		function close_video()
		{
			if( video_slide == 1  )
			{ 
			
				$( '.vidback-1' ).show();
			
			}
			else
			{
				
			}
			$( '.pause' ).hide();
			$( '.videoback, #header-top img').show();	
			$( '.close-video' ).hide();
			$( '.video-1,.box-scroll, #header-top .capa' ).show();
			$( '#video-top, #video-top2' ).hide();
			
			$('.slides > li > video').each( function(i) {
						//$(this).get(0).pause();

						// Note the get(0) part. That turns an array into a sinle element, which we need in order to call the pause() method.
					});
				
		}
			
		</script> 
        
        <script type="text/javascript" >
		
		
		
		var slide_actual = 0;
		
		var press_enabled = true;
		
		

		$( '#controles li a' ).click (
		
			function ( event )
			{
			
				event.preventDefault ( );
				
				clearInterval ( interval );
				
				slide_actual = parseInt ( $( this ).attr ( 'data-link' ) ) ; 

				moves_slider ( );
	
				interval = setInterval ( "move_slider()" , 8000 );
			
				$( '#progress' ).stop ( true , true ).animate ( { 'width' : slide_actual * 166 } , 0 , function ( ) { $( '#progress' ).animate ( { 'width' : 500 } , 24000 - slide_actual * 8000 ,"linear" ); } );
			
			}
		
		);
		
				
		function moves_slider ( )
		{
			var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
			// now you can access all the methods for example flexAnimate
			exampleSlider.flexAnimate(slide_actual);
			
			$( '.nav-slider .active' ).removeClass ( 'active' );
			$( '.nav-slider .thumb-' + ( slide_actual + 1 ) ).addClass ( 'active' );
			
			if( slide_actual == 1  )
			{
				$( '#thumb-2, #thumb-3' ).removeClass( 'active' )
			}
			else if( slide_actual == 2  )
			{
				$( '#thumb-3' ).removeClass( 'active' );
				$( '#thumb-1, #thumb-2' ).addClass( 'active' )
			}
			else if( slide_actual == 3  )
			{
				$( '#thumb-1, #thumb-2 ,  #thumb-3' ).addClass( 'active' )
			}
		}
		function move_slider( )
		{
			//alert( 'movel' )
			slide_actual ++;
			if( slide_actual == 3  )
			{
				slide_actual= 0;
				var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
				exampleSlider.flexAnimate(slide_actual);
				$( '.nav-slider .active' ).removeClass ( 'active' );
				$( '.nav-slider #thumb-' + ( slide_actual ) ).addClass ( 'active' );
				
			}
			else if( slide_actual == 1  )
			{
				var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
				exampleSlider.flexAnimate(slide_actual);
				$( '.nav-slider #thumb-2, .nav-slider #thumb-3' ).removeClass ( 'active' );
				$( '.nav-slider #thumb-' + ( slide_actual ) ).addClass ( 'active' );
				
			}
			else if( slide_actual == 2  )
			{
				var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
				exampleSlider.flexAnimate(slide_actual);
				$( '.nav-slider #thumb-4' ).removeClass ( 'active' );
				$( '.nav-slider #thumb-' + ( slide_actual ) ).addClass ( 'active' );
				
			}
			else if( slide_actual == 3  )
			{
				var exampleSlider = $('#howtoshare .flexslider').data('flexslider');
				exampleSlider.flexAnimate(slide_actual);
				$( '#controles ul li' ).addClass ( 'active' );
				
			}
		}
		
		
		</script>
		
		<script type="text/javascript" >

        $( document ).ready ( function( ) 
		{
			
			$( '#header-top .flexslider' ).flexslider
			({
				animation: "slide",
				useCSS: false,
				multipleKeyboard: true,
				pauseOnHover: true,
				slideshow: false,
				directionNav: false,
				video: true,
				animationSpeed: 800,
				animationLoop: true,
				start: function(slider) {
				//myVideoback.play();
				 
					video_slide = slider.currentSlide;
					 myVideo1.pause();

						if( video_slide == 0 )
						{
							myVideoback.play();
						}
					
					 },
				  before: function(){				//Callback: function(slider) - Fires asynchronously with each slider animation
					// Running through all of the video elements and telling them to pause
					// This will only work with  HTML5 video. YouTube requires its own solution.
					
					$( ".video-1" ).addClass( "gototop" );
					$('.slides > li > video').each( function(i) {
						$(this).get(0).pause();
						// Note the get(0) part. That turns an array into a sinle element, which we need in order to call the pause() method.
					});
				}
					 ,
					after: function(slider) 
					{
						$( ".video-1" ).removeClass( "gototop" );
						video_slide = slider.currentSlide;
	
						if( video_slide == 1 )
						{
							myVideoback2.play();
						}
						else
						{
							myVideoback.play();
						}
					
				  }
			 
			});
			
			
			$('#header-top .next-video').on('click', function(){
				$('#header-top .flexslider').flexslider('next')
				return false;
			})
     	
			
			$( '#howtoshare .flexslider' ).flexslider
			({
				animation: "slide",
				multipleKeyboard: false,
				useCSS: false,
				slideshow: false,
				touch:false,
				slideshowSpeed: 8000,
				directionNav: false,
				// manualControls: "#controles li",
				start: function(slider) {
			//		slider.flexAnimate(slider.getTarget("next"));
					$('.total-slides').text(slider.count);
					
					
      			},
				  before: function(slider) {
					  
					  slide_actual = slider.animatingTo;
					  
					  $( "#controles #thumb-"+slide_actual  ).addClass( 'active' );
					  
					  if ( slider.animatingTo == 0 )
						{
							
							$( '#progress' ).stop ( true , true ).animate ( { 'width' : slide_actual * 166.6 } , 0 );
							
							$( "#controles li" ).removeClass( 'active' );
							
							$( "#controles #thumb-"+ slide_actual  ).addClass( 'active' );  
							
						}
						if ( slider.animatingTo == 2 )
						{
							$( "#controles #thumb-1").addClass( 'active' );  
						}

					$( '#progress' ).stop ( true , true ).animate ( { 'width' : slide_actual * 166.6 } , 0 , function ( ) 
					{ 
						$( '#progress' ).animate ( { 'width' : 500 } , 24000 - slide_actual * 8000 ,"linear" ); 
					} );
				  },
				  end: function(){
					  //alert ( 'finishs' )
					}
			});
			
        });
	
	
        </script>

<!--

CAMBIAR EL GOOGLE ANALYTICS
 
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-8889668-4']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
-->
</body>

</html>
