{% extends "base.html"%}


{% block meta %}
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% endblock  %}

{% block styles %}
<link rel="stylesheet" href="/static/css/header.css" />
<link rel="stylesheet" href="/static/css/common.css" />
<link rel="stylesheet" type="text/css" href="/static/css/reset-wizard.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/scroll-wizard.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style-wizard.css?6548321"/>
<link rel="stylesheet" type="text/css" href="/static/css/flexslider-wizard.css"/>
<link rel="stylesheet" media="screen and (max-height: 630px)" href="/static/css/small-wizard.css" />
<link rel="stylesheet" media="screen and (max-height: 680px)" href="/static/css/min-wizard.css" />
<link rel="stylesheet" media="screen and (max-height: 680px)" href="/static/css/normal-wizard.css" />
<link rel="stylesheet" media="screen and (min-height: 800px)" href="/static/css/max-wizard.css" />
<link rel="stylesheet" media="screen and (min-height: 900px)" href="/static/css/highest-wizard.css" />
<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)" href="/static/css/ipad-h-wizard.css" />
<link rel="stylesheet" media="screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)" href="/static/css/ipad-v-wizard.css" />
<link rel="stylesheet" href="/static/css/jquery.scrollSections-wizard.css">
<link rel="stylesheet" href="/static/css/login.css" />
{% endblock %}

{% block scripts %}
<script>
  var show_wizard = '{{ show_wizard }}' == 'True'
  var assoc_type = '{{request.session.association.type}}'
</script>

<script src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>
<script src="/static/js/vendor/modernizr-2.5.3.min.js"></script>

<script src="/static/js/plugins.js"></script>
<script src="/static/js/jquery.scrollSections.js"></script>
<script src="/static/js/flexslider.js" ></script>

<script src="/static/js/script-wizard.js" ></script>
<script src="/static/js/wizard.js" ></script>
{% endblock %}

{% block content %}
<body>

{% include "wizard_inc/header.include.html" %}
{% include "popups/gender.include.html" %}
{% include "popups/error.wizard.include.html" %}


<section id="disclaimer" class="scrollsections">
  {% include "wizard_inc/disclaimer.html" %}
</section>

<section id="whatfor" class="scrollsections claro">
  {% include 'wizard_inc/what-for.html' %}
</section>

<script src="/static/js/jquery.reveal.js"></script>
</body>
{% endblock %}
