{% extends "stats/base.html"%}
{% block styles %}
<link href="/static/stats/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
{% endblock%}
{% block content%}
<div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Inbox</h3> 
                </div>
                  
                <div class="row">
                    
                    <!-- Left sidebar -->
                    <div class="col-md-3">
                        <a href="email-compose.html" class="btn btn-purple btn-block">Compose</a>
                        
                        <div class="panel panel-default p-0  m-t-20">
                            <div class="panel-body p-0">
                                <div class="list-group no-border mail-list">
                                  <a href="#" class="list-group-item active"><i class="fa fa-download m-r-5"></i>Inbox <b>(8)</b></a>
                                  <a href="#" class="list-group-item"><i class="fa fa-star-o m-r-5"></i>Starred</a>
                                  <a href="#" class="list-group-item"><i class="fa fa-file-text-o m-r-5"></i>Draft <b>(20)</b></a>
                                  <a href="#" class="list-group-item"><i class="fa fa-paper-plane-o m-r-5"></i>Sent Mail</a>
                                  <a href="#" class="list-group-item"><i class="fa fa-trash-o m-r-5"></i>Trash <b>(354)</b></a>
                                </div>
                            </div>
                        </div>

                        <h3 class="panel-title m-t-40">Labels</h3>
                        <div class="panel panel-default p-0  m-t-20">
                            <div class="panel-body p-0">
                                <div class="list-group no-border">
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-info pull-right"></span>Web App</a>
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-warning pull-right"></span>Project 1</a>
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-purple pull-right"></span>Project 2</a>
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-pink pull-right"></span>Friends</a>
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-success pull-right"></span>Family</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left sidebar -->
                    
                    <!-- Right Sidebar -->
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-toolbar" role="toolbar">
                                    <h3 class="pull-left m-t-5 m-b-0">Compose Mail</h3>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i></button>
                                        <button type="button" class="btn btn-success"><i class="fa fa-trash-o"></i></button>
                                        <button class="btn btn-purple"> <span>Send</span> <i class="fa fa-send m-l-10"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default m-t-20">
                            <div class="panel-body p-t-10">
                                
                                <form role="form">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="To">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="email" class="form-control" placeholder="Cc">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="email" class="form-control" placeholder="Bcc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="wysihtml5 form-control" placeholder="Message body" style="height: 200px"></textarea>
                                    </div>
                                </form>
                            </div> <!-- panel -body -->
                        </div> <!-- panel -->
                    </div> <!-- End Rightsidebar -->
                
                </div><!-- End row -->

            </div> <!-- END Wraper -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/stats/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="/static/stats/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>


<script type="text/javascript">
jQuery(document).ready(function(){
    $('.wysihtml5').wysihtml5();
});
</script>
<script src="/static/stats/js/jquery.app.js"></script>
{% endblock %}
