<!-- Aside Start-->
        <aside class="left-panel">

            <!-- brand -->
            <div class="logo">
                <a href="/" class="logo-expanded">
                    <img src="/static/img/-logo.png" alt="logo">
                </a>
            </div>
            <!-- / brand -->
        
            <!-- Navbar Start -->
            <nav class="navigation">
                <ul class="list-unstyled">
                    <li class='has-submenu {% if section == "exercise" %}active{% endif%}'><a href="#"><i class="ion-ios7-football"></i> <span class="nav-label">Exercise</span></a>
                        <ul class="list-unstyled">
                            <li class='{% if page == "exercise_stats" %}active{% endif%}'><a href='{% url "go_exercise_stats" %}'>Stats</a></li>
                            <li class='{% if page == "exercise_data" %}active{% endif%}'><a href='{% url "go_exercise_data" %}'>Raw Data</a></li>
                        </ul>
                    </li>
                    <li class='has-submenu {% if section == "health" %}active{% endif%}'><a href="#"><i class="ion-medkit"></i> <span class="nav-label">Health</span></a>
                        <ul class="list-unstyled">
                            <li class='{% if page == "health_stats" %}active{% endif%}'><a href='{% url "go_health_stats" %}'>Stats</a></li>
                            <li class='{% if page == "health_data" %}active{% endif%}'><a href='{% url "go_health_data" %}'>Raw Data</a></li>
                        </ul>
                    </li>
                    <li class='has-submenu {% if section == "nutrition" %}active{% endif%}'><a href="#"><i class="ion-pizza"></i> <span class="nav-label">Nutrition</span></a>
                        <ul class="list-unstyled">
                            <li class='{% if page == "nutrition_stats" %}active{% endif%}'><a href='{% url "go_nutrition_stats" %}'>Stats</a></li>
                            <li class='{% if page == "nutrition_data" %}active{% endif%}'><a href='{% url "go_nutrition_data" %}'>Raw Data</a></li>
                        </ul>
                    </li>
                    <li class='has-submenu  {% if section == "social" %}active{% endif%}'><a href="#"><i class="ion-ios7-people"></i> <span class="nav-label">Social</span></a>
                        <ul class="list-unstyled">
                            <li class='{% if page == "social_stats" %}active{% endif%}'><a href='{% url "go_social_stats" %}'>Stats</a></li>
                            <li class='{% if page == "social_data" %}active{% endif%}'><a href='{% url "go_social_data" %}'>Raw Data</a></li>
                        </ul>
                    </li>
                    {% comment %}
                    <li class='has-submenu  {% if section == "genomics" %}active{% endif%}'><a href="#"><i class="ion-ionic"></i> <span class="nav-label">Genomics</span></a>
                        <ul class="list-unstyled">
                            <li class='{% if page == "genomics_stats" %}active{% endif%}'><a href='{% url "go_social_stats" %}'>Stats</a></li>
                            <li class='{% if page == "genomics_data" %}active{% endif%}'><a href='{% url "go_social_data" %}'>Raw Data</a></li>
                        </ul>
                    </li>
                    {% endcomment %}
                    <li class='has-submenu  {% if section == "contact" %}active{% endif%}'><a href='{% url "go_contact" %}'><i class="ion-ios7-email"></i> <span class="nav-label">Contact</span></a>

                    </li>
                     
                </ul>
            </nav>
                
        </aside>