{% extends "stats/base.html"%}

{%block content%}
<div class="wraper container-fluid">
 <!-- Row start -->
 {% if ancestors %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Categories</h3>
                            </div>
                            <div class="panel-body">
                                {% for ancestor in ancestors %}
                                <a href='{% url "go_meta_graph" ancestor.id %}'><button type="button" class="btn btn-success m-b-5">{{ancestor.name}}</button></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div> 
  {% endif %}
                <!-- End Row -->
<!-- Input groups -->

   <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-pink">
                            <i class="{{css_class}}"></i> 
                            <h2 class="m-0 counter">{{name}}</h2>
                            <div>{%if category %}{{category}} {% endif %}</div>
                        </div>
                    </div>
                    {% if image_thumb_url%}
                    <div class="col-lg-6 col-sm-6">
                            <img src={{image_thumb_url}}>
                    </div>
                    {% endif%}
                    
   </div> <!-- End row -->
<div class="row">
        {% if names %}
          <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Other Names</h3>
                  </div>
                  <div class="panel-body">
                      {% for n,c in names %}  
                        {% if n != "" %}
                        <a href='{% url "go_meta" %}?to_search={{n}}'><button type="button" class="btn btn-{{c}} w-md m-b-5">{{n}}</button></a>
                        {% endif %}
                      {% endfor %}
                      
                  </div>
              </div>
          </div>
          {% endif %}
          {% if has %}
          <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Has</h3>
                  </div>
                  <div class="panel-body">
                      {% for h,c in has %}  
                        <a href='{% url "go_meta" %}?to_search={{h}}'><button type="button" class="btn btn-{{c}} w-md m-b-5">{{h}}</button></a>
                      {% endfor %}
                      
                  </div>
              </div>
          </div>
          {% endif %}
                    
</div>
{% if metrics %}
<div class="row">
    <div class="page-title"> 
        <h3 class="title">Metrics</h3> 
    </div>
{% for metric in metrics|slice:"0:3" %}
    <div class="col-lg-4">
        <div class="portlet">
           <div class="portlet-heading bg-{{metric.color}}">
               <h3 class="portlet-title">
                   {{metric.name}}
               </h3>
               <div class="portlet-widgets">
                   <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                   <span class="divider"></span>
                   <a data-toggle="collapse" data-parent="#accordion1" href="#bg-danger"><i class="ion-minus-round"></i></a>
                   <span class="divider"></span>
                   <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
               </div>
               <div class="clearfix"></div>
           </div>
           <div id="bg-danger" class="panel-collapse collapse in">
               <div class="portlet-body">
               <form class="form-horizontal" role="form">
         
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Default</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.default}}" placeholder="{{metric.default}}">
                                        </div>
                                    </div>
                                    {% if metric.type == "Text" %}
                                    
                                    <div class="form-group">
                                    <label class="col-sm-3 control-label">Options</label>
                                        <div class="col-sm-9">
                                            <input name="tags" class="tags1" class="form-control" value="{{metric.options}}" />
                                        </div>
                                     </div>
                                    {% else %}
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Min</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.min}}" placeholder="{{metric.min}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Max</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.max}}" placeholder="{{metric.max}}">
                                        </div>
                                    </div>
	                                    {% if metric.unit  %}
	                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Unit</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.unit}}" placeholder="{{metric.unit}}">
                                        </div>
                                    </div>
	                                    {% endif %}
                                    {% endif %}
                                    
               
                                </form>
               </div>
           </div>
       </div>
    </div>
    {% endfor %}
</div>
<div class="row">
{% for metric in metrics|slice:"3:6" %}
    <div class="col-lg-4">
        <div class="portlet">
           <div class="portlet-heading bg-{{metric.color}}">
               <h3 class="portlet-title">
                   {{metric.name}}
               </h3>
               <div class="portlet-widgets">
                   <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                   <span class="divider"></span>
                   <a data-toggle="collapse" data-parent="#accordion1" href="#bg-danger"><i class="ion-minus-round"></i></a>
                   <span class="divider"></span>
                   <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
               </div>
               <div class="clearfix"></div>
           </div>
           <div id="bg-danger" class="panel-collapse collapse in">
               <div class="portlet-body">
               <form class="form-horizontal" role="form">

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Default</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.default}}" placeholder="{{metric.default}}">
                                        </div>
                                    </div>
                                    {% if metric.type == "Text" %}
                                    
                                    <div class="form-group">
                                    <label class="col-sm-3 control-label">Options</label>
                                        <div class="col-sm-9">
                                            <input name="tags" class="tags1" class="form-control" value="{{metric.options}}" />
                                        </div>
                                     </div>
                                    {% else %}
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Min</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.min}}" placeholder="{{metric.min}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Max</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.max}}" placeholder="{{metric.max}}">
                                        </div>
                                    </div>
                                        {% if metric.unit  %}
                                        <div class="form-group">
                                        <label  class="col-sm-3 control-label">Unit</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.unit}}" placeholder="{{metric.unit}}">
                                        </div>
                                    </div>
                                        {% endif %}
                                    {% endif %}
                                    
               
                                </form>
               </div>
           </div>
       </div>
    </div>
    {% endfor %}
</div> 
<div class="row">
{% for metric in metrics|slice:"6:9" %}
    <div class="col-lg-4">
        <div class="portlet">
           <div class="portlet-heading bg-{{metric.color}}">
               <h3 class="portlet-title">
                   {{metric.name}}
               </h3>
               <div class="portlet-widgets">
                   <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                   <span class="divider"></span>
                   <a data-toggle="collapse" data-parent="#accordion1" href="#bg-danger"><i class="ion-minus-round"></i></a>
                   <span class="divider"></span>
                   <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
               </div>
               <div class="clearfix"></div>
           </div>
           <div id="bg-danger" class="panel-collapse collapse in">
               <div class="portlet-body">
               <form class="form-horizontal" role="form">

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Default</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.default}}" placeholder="{{metric.default}}">
                                        </div>
                                    </div>
                                    {% if metric.type == "Text" %}
                                    
                                    <div class="form-group">
                                    <label class="col-sm-3 control-label">Options</label>
                                        <div class="col-sm-9">
                                            <input name="tags" class="tags1" class="form-control" value="{{metric.options}}" />
                                        </div>
                                     </div>
                                    {% else %}
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Min</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.min}}" placeholder="{{metric.min}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Max</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.max}}" placeholder="{{metric.max}}">
                                        </div>
                                    </div>
                                        {% if metric.unit  %}
                                        <div class="form-group">
                                        <label  class="col-sm-3 control-label">Unit</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" readonly="" value="{{metric.unit}}" placeholder="{{metric.unit}}">
                                        </div>
                                    </div>
                                        {% endif %}
                                    {% endif %}
                                    
               
                                </form>
               </div>
           </div>
       </div>
    </div>
    {% endfor %}
</div> 
{% endif %}
{% if childs.itemsTotal > 0 %}
<div class="row">
<div class="page-title"> 
        <h3 class="title">Childs</h3> 
    </div>
<div class="col-md-3 col-sm-6">
                        <div class="widget-panel widget-style-1 bg-purple">
                            
                            <h2 class="m-0 counter">{{childs.itemsTotal}}</h2>
                            <div>Items</div>
                        </div>
                    </div>
                    

    {% for child in childs.items %}
    <div class="col-md-3">
                        <div class="mini-stat clearfix">
                            <div class="mini-stat-info text-right">
                                <a href="{% url 'go_meta_graph' child.id %}"><span class="counter">{{child.name}}</span></a>
                            </div>
                        </div>
                    </div>
    {% endfor %}
</div>

{% if childs.pageCount > 1 %}
<div class="btn-group btn-group-justified m-b-10">
                                    {% if childs.pageIndex != 0 %}
                                    <a class="btn btn-primary" role="button" href="{% url 'go_meta_graph' id %}?page={{childs.prev_page}}">Prev</a>
                                    {%endif %}
                                    <a class="btn btn-warning" role="button" href="{% url 'go_meta_graph' id %}?page={{childs.next_page}}">Next</a>
                                </div>
    {% endif%}                           
{% endif%}
</div>            
{% endblock %}

{% block scripts %}

<link href="/static/stats/assets/tagsinput/jquery.tagsinput.css" rel="stylesheet" />

<style>

.tag a { display: none !important; } 
#tags_addTag { display: none !important; }
.tagsinput div { display: none !important; }
</style>

<script src="/static/stats/assets/tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    
    // Tags Input
    jQuery('.tags1').tagsInput({width:'auto', height:'auto',});
});

</script>
{% endblock %}