{% extends "stats/base.html"%}

{%block content%}
<div class="wraper container-fluid">
<!-- Input groups -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Search Meta</h3></div>
                            <div class="panel-body">
                            
                                <form class="form-horizontal" role="form">


                                    <div class="form-group">
                                        
                                        <div class="col-md-7 col-md-offset-2">
                                            <div class="input-group m-t-10">
                                                <input type="text" id="example-input2-group2" name="example-input2-group2" class="form-control" placeholder="Start typing ...">
                                                <span class="input-group-btn">
                                                <button id="search_meta" type="button" class="btn btn-effect-ripple btn-primary">Search</button>
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div> <!-- form-group -->

                   
                                  
                                </form>
                            
                           </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
                </div> <!-- End row -->
                
                <!-- Accordions -->
                <div class="row"> 
                    <div class="col-lg-6"> 
                        <div class="panel-group" id="accordion-test-2"> 
                            <div class="panel panel-default" id="Item-0"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseOne-2" aria-expanded="false" class="collapsed">
                                            Collapsible Group Item #1
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseOne-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-0-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div>
                            <div class="panel panel-default" id="Item-1"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseTwo-2" class="collapsed" aria-expanded="false">
                                            Collapsible Group Item #2
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseTwo-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-1-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div> 
                            <div class="panel panel-default" id="Item-2"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseThree-2" class="collapsed" aria-expanded="false">
                                            Collapsible Group Item #3
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseThree-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-2-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div>
                            <div class="panel panel-default" id="Item-3"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseFour-2" class="collapsed" aria-expanded="false">
                                            Collapsible Group Item #3
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseFour-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-3-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div> 
                            <div class="panel panel-default" id="Item-4"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseFive-2" class="collapsed" aria-expanded="false">
                                            Collapsible Group Item #3
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseTFive-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-4-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div> 
                             
                        </div> 
                    </div>
        <div class="col-lg-6"> 
                        <div class="panel-group" id="accordion-test-3"> 
                            <div class="panel panel-default" id="Item-5"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-3" href="#collapseOne1-2" aria-expanded="false" class="collapsed">
                                            Collapsible Group Item #1
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseOne1-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-5-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div>
                            <div class="panel panel-default" id="Item-6"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-3" href="#collapseTwo1-2" class="collapsed" aria-expanded="false">
                                            Collapsible Group Item #2
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseTwo1-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-6-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div> 
                            <div class="panel panel-default" id="Item-7"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-3" href="#collapseThree1-2" class="collapsed" aria-expanded="false">
                                            Collapsible Group Item #3
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseThree1-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-7-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div> 
                            <div class="panel panel-default" id="Item-8"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-3" href="#collapseFour1-2" class="collapsed" aria-expanded="false">
                                            Collapsible Group Item #3
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseFour1-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-8-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div>
                            <div class="panel panel-default" id="Item-9"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                        <a data-toggle="collapse" data-parent="#accordion-test-3" href="#collapseFive1-2" class="collapsed" aria-expanded="false">
                                            Collapsible Group Item #3
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseFive1-2" class="panel-collapse collapse"> 
                                    <div class="panel-body" id="Item-9-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div>  
                        </div> 
                    </div>
                </div> <!-- End row -->
</div>            
{% endblock %}

{% block scripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("#Item-0").hide();
	$("#Item-1").hide();
	$("#Item-2").hide();
	$("#Item-3").hide();
	$("#Item-4").hide();
	$("#Item-5").hide();
	$("#Item-6").hide();
	$("#Item-7").hide();
	$("#Item-8").hide();
	$("#Item-9").hide();
	
	$("#example-input2-group2").keypress(function(e){
		var key = e.which;
		if(key == 13){ $("#search_meta").trigger("click"); return false;}
	});
	
    $('#search_meta').click(function(){
    	$("#Item-0").hide();
        $("#Item-1").hide();
        $("#Item-2").hide();
        $("#Item-3").hide();
        $("#Item-4").hide();
        $("#Item-5").hide();
        $("#Item-6").hide();
        $("#Item-7").hide();
        $("#Item-8").hide();
        $("#Item-9").hide();
    	text_to_search = $('#example-input2-group2').val();
    	url = "http://api.wikilife.org/4/meta/search/?name="+text_to_search;
    	$.ajax({
    		type:"GET",
    		url:url,
    		dataType: "json",
    		success: function(data){
    			count = 0;
    			$.each(data.items.slice( 0, 10 ), function(i, item) {
                    console.log(item.name);
                    selector = "Item-"+i;
                    $("#" + selector+ " a").html(item.name);
                    console.log(item.measuredBy);
                    $("#" + selector+"-body").html(JSON.stringify(item.measuredBy));
                    
                    $("#" + selector).show();
             
                })
    		},
    	});
    	
    });
});
</script>
{% endblock %}