{% extends "stats/base.html"%}

{%block content%}
<div class="wraper container-fluid">
<!-- Input groups -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Search Meta</h3></div>
                            <div class="panel-body">
                            
                                <form class="form-horizontal" role="form">


                                    <div class="form-group">
                                        
                                        <div class="col-md-7 col-md-offset-2">
                                            <div class="input-group m-t-10">
                                                <input type="text" id="example-input2-group2" name="example-input2-group2" class="form-control" placeholder="Search ... ">
                                                <span class="input-group-btn">
                                                <button id="search_meta" type="button" class="btn btn-effect-ripple btn-primary">Search</button>
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div> <!-- form-group -->

                   
                                  
                                </form>
                            
                           </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
                </div> <!-- End row -->
                
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div id="Item-0" class="widget-panel widget-style-1 bg-pink">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-1" class="widget-panel widget-style-1 bg-warning">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-2" class="widget-panel widget-style-1 bg-info">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-3" class="widget-panel widget-style-1 bg-success">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div id="Item-4" class="widget-panel widget-style-1 bg-success">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-5" class="widget-panel widget-style-1 bg-info">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-6" class="widget-panel widget-style-1 bg-pink">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-7" class="widget-panel widget-style-1 bg-warning">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div id="Item-8" class="widget-panel widget-style-1 bg-pink">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-9" class="widget-panel widget-style-1 bg-warning">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-10" class="widget-panel widget-style-1 bg-info">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-11" class="widget-panel widget-style-1 bg-success">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>
                     <div class="col-md-3 col-sm-6">
                        <div id="Item-12" class="widget-panel widget-style-1 bg-info">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-13" class="widget-panel widget-style-1 bg-success">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div id="Item-14" class="widget-panel widget-style-1 bg-success">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="Item-15" class="widget-panel widget-style-1 bg-info">
                            <a href="#"><i></i></i> 
                            <h2 class="m-0 counter"></h2>
                            <a>
                        </div>
                    </div>
                </div> <!-- End row -->
</div>            
{% endblock %}

{% block scripts %}
<style>
a {
    color: #EDF0F0;
    cursor: pointer;
    outline: medium none !important;
}
a:hover, a:focus {
    color: #EDF0F0;
    cursor: pointer;
    outline: medium none !important;
}
.widget-style-1 h2 {
    font-size: 16px;
    font-weight: 600;
}
</style>
<script type="text/javascript">
jQuery(document).ready(function($) {
	
	
	$("#Item-0").hide();
	$("#Item-1").hide();
	$("#Item-2").hide();
	$("#Item-3").hide();
	$("#Item-4").hide();
	$("#Item-5").hide();
	$("#Item-6").hide();
	$("#Item-7").hide();
	$("#Item-8").hide();
	$("#Item-9").hide();
	$("#Item-10").hide();
    $("#Item-11").hide();
    $("#Item-12").hide();
    $("#Item-13").hide();
    $("#Item-14").hide();
    $("#Item-15").hide();
	
	$("#example-input2-group2").keypress(function(e){
		var key = e.which;
		if(key == 13){ $("#search_meta").trigger("click"); return false;}
	});
	
	function slugify(text)
	{
	  return text.toString().toLowerCase()
	    .replace(/\s+/g, '-')           // Replace spaces with -
	    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
	    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
	    .replace(/^-+/, '')             // Trim - from start of text
	    .replace(/-+$/, '');            // Trim - from end of text
	}
	
    $('#search_meta').click(function(){
    	$("#Item-0").hide();
    	$("#Item-0 i").removeClass();
        $("#Item-1").hide();
        $("#Item-1 i").removeClass();
        $("#Item-2").hide();
        $("#Item-2 i").removeClass();
        $("#Item-3").hide();
        $("#Item-3 i").removeClass();
        $("#Item-4").hide();
        $("#Item-4 i").removeClass();
        $("#Item-5").hide();
        $("#Item-5 i").removeClass();
        $("#Item-6").hide();
        $("#Item-6 i").removeClass();
        $("#Item-7").hide();
        $("#Item-7 i").removeClass();
        $("#Item-8").hide();
        $("#Item-8 i").removeClass();
        $("#Item-9").hide();
        $("#Item-9 i").removeClass();
        $("#Item-10").hide();
        $("#Item-10 i").removeClass();
        $("#Item-11").hide();
        $("#Item-11 i").removeClass();
        $("#Item-12").hide();
        $("#Item-12 i").removeClass();
        $("#Item-13").hide();
        $("#Item-13 i").removeClass();
        $("#Item-14").hide();
        $("#Item-14 i").removeClass();
        $("#Item-15").hide();
        $("#Item-15 i").removeClass();
    	text_to_search = $('#example-input2-group2').val();
    	url = "http://api.wikilife.org/4/meta/search/?name="+text_to_search;
    	$.ajax({
    		type:"GET",
    		url:url,
    		dataType: "json",
    		success: function(data){
    			count = 0;
    			$.each(data.items.slice( 0, 16 ), function(i, item) {
                    console.log(item.is[0].name);
                    slug = slugify(item.name);
                    selector = "Item-"+i;
                    $("#" + selector+ " h2").html(item.name);
                    cate_name = item.is[0].name;
                    console.log(cate_name);
                    if (cate_name ==  "Drug"){
                    	$("#" + selector+ " i").addClass("fa fa-circle-thin");
                    }else{
                    	if (cate_name ==  "Exercise"){
                            $("#" + selector+ " i").addClass("fa fa-child");
                        }else{
                            if (cate_name ==  "Food"){
                                $("#" + selector+ " i").addClass("fa fa-cutlery");
                            }else{
                                if (cate_name ==  "Mood"){
                                    $("#" + selector+ " i").addClass("fa ion-happy");
                                }else{
                                    if (cate_name ==  "Complaints"){
                                        $("#" + selector+ " i").addClass("fa fa-stethoscope");
                                    }else{
                                        if (cate_name ==  "Conditions" || cate_name == "Medical Conditions"){
                                            $("#" + selector+ " i").addClass("fa ion-heart-broken");
                                        }
                                    }
                                }
                            }
                        }
                    }
                    //console.log(item.measuredBy);
                    //var partsOfStr = JSON.stringify(item.otherNames).split(','); 
                    //var html_other_names = ""
                    //$.each(partsOfStr, function(j, names){
                    //	html_other_names = html_other_names + '<button type="button" class="btn btn-primary w-xs m-b-5">'+ names +'</button>'
                    //});
                    
                    //$("#" + selector+"-body").html('<p>'+item.is[0].name+'</p> <p><button class="btn btn-info m-b-5"> <i class="fa  fa-info-circle"></i> <span><a href="#">More Info</a></span> </button> </p>');
                    
                    $("#" + selector).show();
                    url = "/visualization/meta/"+ item.id+"/"+slug+"/"
                    $("#" + selector + " a").attr("href", url);
                    //visualization/meta/ID/SLUG/
             
                })
    		},
    	});
    	
    });
    
    {% if to_search %}
    $('#example-input2-group2').val("{{to_search}}");
    $("#search_meta").trigger("click"); 
{% endif %}
});
</script>
{% endblock %}