{% extends "stats/base.html"%}
{% block styles %}
<link href="/static/stats/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
{% endblock%}
{% block content%}
            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Nutrition Raw Data</h3> 
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Data</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <table id="datatable" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Protein</th>
                                                    <th>Fat</th>
                                                    <th>Fiber</th>
                                                    <th>Carbs</th>
                                                    <th>Provider</th>
                                                </tr>
                                            </thead>

                                     
                                            <tbody>
                                            {% for log in logs %}
                                                <tr>
                                                    <td>{{log.execute_time}}</td>
                                                    <td>{{log.protein|default:"--"}}</td>
                                                    <td>{{log.fat|default:"--"}}</td>
                                                    <td>{{log.fiber|default:"--"}}</td>
                                                    <td>{{log.carbs|default:"--"}}</td>
                                                    <td>{{log.provider|default:"--"}}</td>
                                                </tr>
                                              {% endfor%}
                                                
                                                
                                                
                                                
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div> <!-- End Row -->

                

            </div>
{% endblock %}

{% block scripts %}
<script src="/static/stats/assets/datatables/jquery.dataTables.min.js"></script>
<script src="/static/stats/assets/datatables/dataTables.bootstrap.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable();
    } );
</script>
{% endblock %}