{% extends "stats/base.html"%}
{%block content%}
            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Health</h3> 
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-pink">
                            <i class="ion-fork"></i> 
                            <h2 class="m-0 counter">{{total_nutrition_logs}}</h2>
                            <div>Nutrition Logs</div>
                        </div>
                    </div>
                </div> <!-- end row -->



 <div class="row">
                
                    <div class="col-lg-6">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark text-uppercase">
                                    BMI AVG
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet1" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="morris-bar-example"  style="height: 320px;"></div>

                                    <div class="row text-center m-t-30 m-b-30">
          
                                        <div class="col-sm-3 col-xs-6">
                                            <h4>{{bmi_based}} users</h4>
                                            <small class="text-muted">Based on</small>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /Portlet -->
                    </div>
                    <div class="col-lg-6">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Nutrients % - Last 3 months
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet3" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="morris-donut-example" style="height: 300px;"></div>
                                </div>
                            </div>
                        </div> <!-- /Portlet -->
                    </div>

                
                </div>




               

            </div>
{% endblock %}

{% block scripts %}


        
        <!--Morris Chart-->
        <script src="/static/stats/assets/morris/morris.min.js"></script>
        <script src="/static/stats/assets/morris/raphael.min.js"></script>

        
        <script type="text/javascript">
          /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        
            !function($) {
                "use strict";

                var Dashboard = function() {
                    this.$body = $("body")
                };
                
                
                //initializing various charts and components
                Dashboard.prototype.init = function() {
                    /**
                    * Morris charts
                    */

                    //Line chart
                    

                  //Bar chart Miles
                    Morris.Bar({
                        element: 'morris-bar-example',
                        data: 
                                {{bmi|safe}}
                       ,
                        xkey: 'x',
                        ykeys: ['y'],
                        labels: ['BMI'],
                        barColors: function (row, series, type) {
                        	console.log("--> "+row.label, series, type);
                        	if(row.label == "Men") return "#45B6E1";
                        	else if(row.label == "Women") return "#7D7AB6";
                        	
                        	}
                        
                    });

                },
                //init dashboard
                $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
                

            }(window.jQuery),

            //initializing dashboad
            function($) {
                "use strict";
                $.Dashboard.init()
            }(window.jQuery);
            
            
            !function($) {
                "use strict";

                var MorrisCharts = function() {};



                //creates Donut chart
                MorrisCharts.prototype.createDonutChart = function(element, data, colors) {
                    Morris.Donut({
                        element: element,
                        data: data,
                        colors: colors
                    });
                },
                MorrisCharts.prototype.init = function() {




                    //creating donut chart
                    var $donutData = [ {label: "Protein", value: {{ data.protein.percentage }} },
                                       {label: "Fiber", value: {{ data.fiber.percentage }} },
                                       {label: "Carbs", value: {{ data.carbs.percentage }} },
                                       {label: "Fat", value: {{ data.fat.percentage }} },

                            
         
                        ];
                    this.createDonutChart('morris-donut-example', $donutData, ['#45B6E1', '#58C386', '#1a2942', '#F06088']);
                    

                },
                //init
                $.MorrisCharts = new MorrisCharts, $.MorrisCharts.Constructor = MorrisCharts
            }(window.jQuery),

            //initializing 
            function($) {
                "use strict";
                $.MorrisCharts.init();
            }(window.jQuery);
            
            
            
   

        </script>
{% endblock %}