<link rel="stylesheet" href="/static/css/beta_big.css" />


<!-- div class="container-header">
    <header id="beta">
        <div id="top">
            <h1>
	            <a href="mailto:support@wikilife.org">
	               <img src="/static/img/BETA-BIG.png" width="602" height="72" alt="Send feedback"
	                    title="Send feedback" />
	            </a>
            </h1>
            <div id="center-nav">
                <nav class="nav" id="">

                </nav>
            </div>

        </div>
        <div class="bottom"></div>
    </header>

</div-->
<!-- .container-header -->

  <div class="full_container social_nav_one1 big_social_login">
    <div class="centered_container">

      <!--sector_icon-->
      <a href="mailto:support@wikilife.org">
      <div class="sector_icon">
      </div>
      </a>
      <!--/sector_icon-->

      <!--social-->
      <div class="social_icons" id="carousel_one">

        <div class="overflow_icons">
          <!--social_networks-->
          <ul class="nav_big_social">


          </ul>
          <!--/social_networks-->
        </div>

      </div>
      <!--/social-->

      <div class="clear"></div>

    </div>
  </div>