{% load i18n %}
<!DOCTYPE html>
<html>
<head>

  <title>#datadonors #working experience #avg {{avg}} years</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="description" content="#" />
  <meta name="keywords" content="DataDonors,Non-profit,The Wikilife Foundation,Share,Wikilife,Data,Big Data,Data Donation,Scientific Community,Research,Global project,Sharing for good,Personal data,App,Devices,Medical Records,Health Data,Health,Lifestyle Data,Lifestyle,Global Health,Health Information,Lifestyle Information,Metadata,Open API" />
  <meta name="viewport" content="width=1024, initial-scale=1.0"/>

  <!-- Iconos -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>
<!-- Styles -->
<link rel="stylesheet" href="/static/css/reset.css" />
<link href="/static/css/jquery-ui-1.10.3.custom.css" rel="stylesheet"
    type="text/css" />
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/dashboard.css" rel="stylesheet" type="text/css" />

<!-- Javascript -->
<script type="text/javascript"
    src="/static/js/thirdparty/jquery-2.1.0.min.js"></script>
<script type="text/javascript"
    src="/static/js/thirdparty/jquery-ui.min-1.10.4.js"></script>

<script type="text/javascript" src="/static/js/jquery.ui.combobox.js"></script>
<script type="text/javascript" src="/static/js/jstepper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/raphael/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/raphael/ed.raphael.js"></script>
<script type="text/javascript" src="/static/js/raphael/g.raphael-min.js"></script>
<script type="text/javascript" src="/static/js/raphael/g.pie-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/ed.eventListeners.js"></script>
<script type="text/javascript" src="/static/js/ed.stickyHeader.js"></script>
<script type="text/javascript"
    src="/static/js/adapter/global_graph_param_adapter.js"></script>
<script type="text/javascript" src="/static/js/funciones.js"></script>

<script>

WorkAdapter = function(){

	  this.getParameters = function(json, totalHeight, maxValue, barsCallback){

	    var elements = [];
	    var xLabels = [];
	    var yLabels = [];
	    result = {};
	    this.barsCallback = barsCallback;

	    elements = this.addElements(json, totalHeight, maxValue);
	    yLabels = this.getYLabels(json, totalHeight, maxValue);

	    result.elements = elements;
	    result.yLabels = yLabels;

	    return result;
	  }

	  this.getValueHeight = function(value, totalHeight, maxValue){
	    var valuePercentage = (value*100)/maxValue;
	    var valueHeight = (valuePercentage*totalHeight)/100;
	    return valueHeight;
	  }

	  this.addElements = function(json, totalHeight, maxValue){
	    var currentPos = 70;
	    var userItem = false;
	    var globalColor = '#7737c7';
	    var userColor = '#E56666';
	    var elements = [];
	    var userXp = '';


	    for(var prop in json.global_data){
	      var item = {
	        pos: currentPos,
	        color: globalColor,
	        label: json.global_data[prop]["value"],
	        value: this.getValueHeight(json.global_data[prop]["value"], totalHeight, maxValue),
	        key: json.global_data[prop]["key"],
	        callback: this.barsCallback,
	        callback_args: [prop]
	      }

	       item.width = 180;
	      

	      elements.push(item);
	      if(userItem) elements.push(item2);
	      userItem = false;
	      currentPos = currentPos + 190;
	    }

	    return elements;
	  }

	  this.getYLabels = function(json, totalHeight, maxValue){
	    var labels = [];
	    var currentY = 10;

	    var avgLabel = {
	      pos: this.getValueHeight(json.avg, totalHeight, maxValue),
	      text: '',
	      width: 1090,
	      type: 'dotted',
	      "stroke-width": 3,
	      color: '#7737c7',
	      "text-color": "#7737c7",
	      "font-size": 15,
	      is_avg: true
	    }
	    labels.push(avgLabel);

	    //for(var i = 0; i < 6; i++){
	    while (currentY < totalHeight){
	      var label = {
	        pos: this.getValueHeight(currentY, totalHeight, maxValue),
	        //text: currentY.toString(),
	        text: '',
	        width: 1090,
	        type: 'dotted',
	        "stroke-width": 3,
	        color: '#F1F2F2',
	        "text-color": "#ADB6BF"
	      }
	      labels.push(label);
	      currentY = currentY + 10;
	    }

	    return labels;
	  }

	}

	function workCallback(args) {
	    //$('#age_input li a[data-key=15-25]');
	    //console.log(args);
	    $('#age_input li a[data-key=' + args[0] + ']') .click();
	}
	
	function pad(num, size) {
	    var s = num + '';
	    while (s.length < size) s = '0' + s;
	    return s;
	}
var sortObjectByKey = function (obj) {
	    var keys = [
	    ];
	    var sorted_obj = {
	    };
	    for (var key in obj) {
	        if (obj.hasOwnProperty(key)) {
	            keys.push(key);
	        }
	    }
	    // sort keys

	    keys.sort();
	    // create new array based on Sorted Keys
	    jQuery.each(keys, function (i, key) {
	        sorted_obj[key] = obj[key];
	    });
	    return sorted_obj;
	};	  
function drawWorkGraph(data) {
    data.global_data = sortObjectByKey(data.global_data);
    var maxValue = 0;
    for (var i in data.global_data) {
        if (data.global_data[i].value > maxValue) maxValue = data.global_data[i].value;
    }

    var adapter = new WorkAdapter();
    var result = adapter.getParameters(data, 423, maxValue + 10, workCallback);
    //console.log('POST PARAMS WORK');
    var r_4_1 = Raphael('canvas_4_1', 1093, 423);
    doubleAxisParams = {
        axis: 'both',
        barsAxis: 'x',
        drawAxis: true,
        drawLabels: true,
        elements: result.elements,
        xAxis: {
            length: 1093,
            'stroke-width': 2,
            color: '#F1F2F2',
            labels: [
            ]
        },
        yAxis: {
            length: 423,
            'stroke-width': 0,
            name: 'years',
            labels: result.yLabels
        },
        centerx: 30,
        centery: 400,
        canvasSize: [
            1093,
            425
        ]
    }
    $('#data_1_4 .left .number_stat h2') .html(pad(data.avg, 2));
    doubleAxisBars = new EdBarChart(r_4_1, doubleAxisParams);
    doubleAxisBars.draw();
}

window.onload = function () {

	drawWorkGraph({{data|safe}});

}
</script>

<script src="//load.sumome.com/" data-sumo-site-id="6a5f0c33d0e814e99d90aa73ddcfa4f6a05d690ccc1532fa53abc3cc59b22b6d" async></script>
</head>

<body ng-app="app">
    {% if not pic %}
    {% include "header.include.html" %}
    {% endif %}
  <!--step_four-->
  <div class="full_container step_four" id="step_four">
    <div class="centered_container">

      <!--top-->
      <div class="top">
        <h2>{% blocktrans%}Datadonors work<br />experience{% endblocktrans%}</h2>
        <p>{% blocktrans%}Donate to compare yourself{% endblocktrans%}</p>
      </div>
      <!--/top-->

      <!--bottom-->
      <div class="bottom">
        <div id="canvas_4_1"></div>
      </div>
      <!--/bottom-->

      <!--datos_bottom-->
      <div class="datos_graph">

        <!--lista_edades-->
        <ul id="age_input">
          <li class="first">
            <a href="#"  id="age_1" data-key="15-25">15-25</a>
          </li>
          <li>
            <a href="#"  id="age_2" data-key="26-35">26-35</a>
          </li>
          <li>
            <a href="#"  id="age_3" data-key="36-45">36-45</a>
          </li>
          <li>
            <a href="#" id="age_4" data-key="46-55">46-55</a>
          </li>
          <li class="last">
            <a href="#" id="age_5" data-key="56-65">56-65</a>
          </li>
        </ul>
        <!--lista_edades-->

        <!--input-->
        <div class="age_input" id="age_select">

          <div class="age_centered">
            <h2>{% blocktrans%}total years working:{% endblocktrans%}</h2>
                  <form id="age_select_form" action="#">
                    <input type="text" id="age_select_value" name="age"/>
                    <input type="hidden" id="age_range_selected" name="age_range"/>
                  </form>
          </div>

          <div class="arrow_bottom_age"></div>

        </div>
        <!--/input-->

        <div class="age_bottom">
          <h2>{% blocktrans%}age{% endblocktrans%}</h2>
        </div>

        <div class="clear"></div>
      </div>
      <!--datos_bottom-->

      <!--stats_bottom-->
      <div class="stats_bottom" id="data_1_4">

        <!--bloque-->
        <div class="bloq left">

          <h2>{% blocktrans%}Overall avg{% endblocktrans%}</h2>

          <!--stat-->
          <div class="number_stat">

            <h2>10</h2>

            <!--ico_right-->
            <div class="ico_right">
              <p>{% blocktrans%}years of<br />experience{% endblocktrans%}</p>
            </div>
            <!--/ico_right-->
          </div>
          <!--/stat-->

        </div>
        <!--/bloque-->

        <!--bloque-->
        <div class="bloq right">

          <h2>{% blocktrans%}Based on:{% endblocktrans%}</h2>

          <!--stat-->
          <div class="number_stat">

            <h2>{{total_users}}</h2>

            <!--ico_right-->
            <div class="ico_right">
              <p>{% blocktrans%}Users{% endblocktrans%}</p>
            </div>
            <!--/ico_right-->
          </div>
          <!--/stat-->

        </div>
        <!--/bloque-->

        <div class="clear"></div>

      </div>
      <!--/stats_bottom-->

    </div>
  </div>
  <!--/step_four-->
</body>
</html>