		<!-- FITNESS DEVICES -->


		<!--step_six-->
		<div class="full_container step_six" id="step_six">
			<div class="centered_container">

				<!--top-->
				<div class="top">
					<h2>
						Steps you walked<br />last week
					</h2>
					<p>Compared to all users in our database</p>
				</div>
				<!--/top-->

				<!--big_graph-->
				<div class="big_graph">
					<div id="canvas_6_1"></div>
				</div>
				<!--/big_graph-->

				<!--stats_bottom-->
				<div class="stats_bottom" id="data_6_1">

					<!--bloque-->
					<div class="bloq left">

						<h2>Overall avg</h2>

						<!--stat-->
						<div class="number_stat">

							<h2>15032</h2>

							<!--ico_right-->
							<div class="ico_right">
								<p>steps/day</p>
							</div>
							<!--/ico_right-->
						</div>
						<!--/stat-->

					</div>
					<!--/bloque-->

					<!--bloque-->
					<div class="bloq right">

						<h2>Your avg</h2>

						<!--stat-->
						<div class="number_stat">

							<h2>22013</h2>

							<!--ico_right-->
							<div class="ico_right">
								<p>steps/day</p>
							</div>
							<!--/ico_right-->
						</div>
						<!--/stat-->

					</div>
					<!--/bloque-->

					<div class="clear"></div>

				</div>
				<!--/stats_bottom-->

			</div>
		</div>
		<!--/step_six-->

		<!--step_seven-->
		<div class="full_container step_seven" id="step_seven">
			<div class="centered_container">

				<!--left-->
				<div class="bloq left">

					<!--top-->
					<div class="top">
						<h2>
							Miles you traveled<br />last week
						</h2>
						<p>Compared to all users in our database</p>
					</div>
					<!--/top-->

					<!--graph-->
					<div class="graph_container">
						<div id="canvas_7_1"></div>
					</div>
					<!--/graph-->

					<!--text-->
					<div class="text_container" id="data_7_1">

						<!--left-->
						<div class="stats left color_one">

							<h2>Overall avg</h2>

							<!--stat-->
							<div class="number_stat">

								<h2>40</h2>

								<!--ico_right-->
								<div class="ico_right one">
									<p>Mi/week</p>
								</div>
								<!--/ico_right-->
							</div>
							<!--/stat-->

						</div>
						<!--left-->

						<!--right-->
						<div class="stats right color_two">

							<h2>Your avg</h2>

							<!--stat-->
							<div class="number_stat">

								<h2>12</h2>

								<!--ico_right-->
								<div class="ico_right two">
									<p>Mi/week</p>
								</div>
								<!--/ico_right-->
							</div>
							<!--/stat-->

						</div>
						<!--right-->

						<div class="clear"></div>

					</div>
					<!--/text-->

				</div>
				<!--/left-->

				<!--right-->
				<div class="bloq right">

					<!--top-->
					<div class="top">
						<h2>
							Hours of exercise<br />last week
						</h2>
						<p>Compared to all users in our database</p>
					</div>
					<!--/top-->

					<!--graph-->
					<div class="graph_container">
						<div id="canvas_7_2"></div>
					</div>
					<!--/graph-->

					<!--text-->
					<div class="text_container" id="data_7_2">

						<!--left-->
						<div class="stats left color_one">

							<h2>Overall avg</h2>

							<!--stat-->
							<div class="number_stat">

								<h2>02</h2>

								<!--ico_right-->
								<div class="ico_right three">
									<p>h/week</p>
								</div>
								<!--/ico_right-->
							</div>
							<!--/stat-->

						</div>
						<!--left-->

						<!--right-->
						<div class="stats right color_two">

							<h2>Your avg</h2>

							<!--stat-->
							<div class="number_stat">

								<h2>11</h2>

								<!--ico_right-->
								<div class="ico_right four">
									<p>h/week</p>
								</div>
								<!--/ico_right-->
							</div>
							<!--/stat-->

						</div>
						<!--right-->

						<div class="clear"></div>

					</div>
					<!--/text-->

				</div>
				<!--/right-->

				<div class="clear"></div>

			</div>
		</div>
		<!--/step_seven-->

