
  <!--step_seventeen-->
  <div class="full_container step_seventeen" id="step_seventeen">
    <div class="centered_container">

      <!--top-->
      <div class="top">
        <img src="/static/img/step_17/number_5.png" alt="5" />
        <h2>GENOMICS TRAITS</h2>
        <p>Your DNA shows these traits. We only show data with four stars of confidence.</p>
      </div>
      <!--/top-->

      <div id="genomics_traits_container_template" style="display:none;">
          [[graphs]]
          <!--divisor-->
          <div class="divisor"></div>
          <!--/divisor-->
      </div>

      <div id="genomics_traits_graph_template" style="display:none;">
        <!--graph-->
        <div class="graph">

          <!--container_graph-->
          <div class="top_graph">
            <div id="genomics_trait_canvas_[[canvas_id]]"></div>
            <span>
              <div>
                <p>[[center_text]]</p>
              </div>
            </span>
          </div>
          <!--/container_graph-->

          <!--info_graph-->
          <div class="info_graph">
            <ul>
              <li class="color_one"><span class="porcent">[[porcent_user]]<strong>%</strong></span><p>[[user_trait_name]] <span style="[[hint_style]]">You</span></p></li>
              <li class="color_two"><span class="porcent">[[porcent_global]]<strong>%</strong></span><p>[[global_trait_name]] <span style="[[hint_style]]">All</span></p></li>
            </ul>
            <div class="clear"></div>
          </div>
          <!--/info_graph-->

        </div>
        <!--/graph-->
      </div>

      <!--bottom-->
      <div id="genomic_traits_container" class="bottom">

        <!--graphs-->
        <div class="container_graphs">

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">60<strong>%</strong></span><p>flushes <span>You</span></p></li>
                <li class="color_two"><span class="porcent">40<strong>%</strong></span><p>Does not flush <span>All</span></p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">80<strong>%</strong></span><p>Likely intolerant</p></li>
                <li class="color_two"><span class="porcent">20<strong>%</strong></span><p>Likely tolerant</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">10<strong>%</strong></span><p>Likely to smoke more</p></li>
                <li class="color_two"><span class="porcent">90<strong>%</strong></span><p>typical</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--divisor-->
          <div class="divisor"></div>
          <!--/divisor-->

        </div>
        <!--graphs-->

        <!--graphs-->
        <div class="container_graphs">

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">15<strong>%</strong></span><p>Can taste</p></li>
                <li class="color_two"><span class="porcent">85<strong>%</strong></span><p>unlikely to taste</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">20<strong>%</strong></span><p>Dry</p></li>
                <li class="color_two"><span class="porcent">80<strong>%</strong></span><p>Wet</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">95<strong>%</strong></span><p>Likely sprinter</p></li>
                <li class="color_two"><span class="porcent">05<strong>%</strong></span><p>Unlikely sprinter</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--divisor-->
          <div class="divisor"></div>
          <!--/divisor-->

        </div>
        <!--graphs-->

        <!--graphs-->
        <div class="container_graphs">

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">60<strong>%</strong></span><p>Likely blue</p></li>
                <li class="color_two"><span class="porcent">40<strong>%</strong></span><p>Likely brown</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">20<strong>%</strong></span><p>Sligthy curlier hair</p></li>
                <li class="color_two"><span class="porcent">35<strong>%</strong></span><p>Straigher curlier hair</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">15<strong>%</strong></span><p>Possibly resistant</p></li>
                <li class="color_two"><span class="porcent">85<strong>%</strong></span><p>Possibly resistant</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

        </div>
        <!--graphs-->

        <!--graphs-->
        <div class="container_graphs">

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">15<strong>%</strong></span><p>Likely blue</p></li>
                <li class="color_two"><span class="porcent">85<strong>%</strong></span><p>Likely brown</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

          <!--graph-->
          <div class="graph">

            <!--container_graph-->
            <div class="top_graph">
              <img src="/static/img/step_17/graph.png" alt="graph" />
            </div>
            <!--/container_graph-->

            <!--info_graph-->
            <div class="info_graph">
              <ul>
                <li class="color_one"><span class="porcent">20<strong>%</strong></span><p>Sligthy curlier hair</p></li>
                <li class="color_two"><span class="porcent">35<strong>%</strong></span><p>Straigher curlier hair</p></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!--/info_graph-->

          </div>
          <!--/graph-->

        </div>
        <!--graphs-->

      </div>
      <!--/bottom-->

    </div>
  </div>
  <!--/step_seventeen-->

  <!--step_eighteen-->
  <div class="full_container step_eighteen" id="step_eighteen">
    <div class="centered_container">

      <!--top-->
      <div class="top">
        <h2>DRUG RESPONSE</h2>
        <p>Compared to all users in our database</p>
      </div>
      <!--/top-->

      <!--bottom-->
      <div class="bottom">

        <!--
          IMPORTANTE:
          - El div que muestra el porcentaje es .porcent_data
          - CONTAINER 100% = width 620px
         -->

        <!--container_data-->
        <div class="container_data alcohol">

          <!--left-->
          <div class="block left">

            <!--icon-->
            <div class="icon alchol"></div>
            <!--/icon-->

            <!--text-->
            <div class="text_sector">
              <p>Alcohol consumption,<br />smoking and <strong>risk of<br />esophageal cancer:</strong></p>
            </div>
            <!--/text-->

          </div>
          <!--/left-->

          <!--right-->
          <div class="block right">

            <!--graph-->
            <div class="graph_container color_one alcohol_1">
              <p>Typical risk</p>
              <div class="graph_html">
                <div class="porcent_data" style="width: 0px;"></div>
                <div class="porcent_text"><p>0<strong>%</strong></p></div>
                <div class="clear"></div>
              </div>
            </div>
            <!--/graph-->

            <!--graph-->
            <div class="graph_container color_two alcohol_2">
              <p>Substantially increased risk</p>
              <div class="graph_html">
                <div class="porcent_data" style="width: 0px;"></div>
                <div class="porcent_text"><p>0<strong>%</strong></p></div>
                <div class="clear"></div>
              </div>
            </div>
            <!--/graph-->

            <!--graph-->
            <div class="graph_container color_three alcohol_3">
              <p>Greatly increased risk</p>
              <div class="graph_html">
                <div class="porcent_data" style="width: 00px;"></div>
                <div class="porcent_text"><p>0<strong>%</strong></p></div>
                <div class="clear"></div>
              </div>
            </div>
            <!--/graph-->

          </div>
          <!--/right-->

          <div class="clear"></div>

        </div>
        <!--container_data-->

        <!--container_data-->
        <div class="container_data pills">

          <!--left-->
          <div class="block left">

            <!--icon-->
            <div class="icon pills"></div>
            <!--/icon-->

            <!--text-->
            <div class="text_sector">
              <p>Oral contraceptives, <br />hormone replacement<br />therapy and risk of <br /><strong>venous <br />thromboembolism:</strong></p>
            </div>
            <!--/text-->

          </div>
          <!--/left-->

          <!--right-->
          <div class="block right">

            <!--graph-->
            <div class="graph_container color_one pills_1">
              <p>Normal</p>
              <div class="graph_html">
                <div class="porcent_data" style="width: 0px;"></div>
                <div class="porcent_text"><p>0<strong>%</strong></p></div>
                <div class="clear"></div>
              </div>
            </div>
            <!--/graph-->

            <!--graph-->
            <div class="graph_container color_two pills_2">
              <p>Reduced</p>
              <div class="graph_html">
                <div class="porcent_data" style="width: 0px;"></div>
                <div class="porcent_text"><p>0<strong>%</strong></p></div>
                <div class="clear"></div>
              </div>
            </div>
            <!--/graph-->

            <!--graph-->
            <div class="graph_container color_three pills_3">
              <p>Unable</p>
              <div class="graph_html">
                <div class="porcent_data" style="width: 0px;"></div>
                <div class="porcent_text"><p>0<strong>%</strong></p></div>
                <div class="clear"></div>
              </div>
            </div>
            <!--/graph-->

          </div>
          <!--/right-->

          <div class="clear"></div>

        </div>
        <!--container_data-->

      </div>
      <!--/bottom-->

    </div>
  </div>
  <!--/step_eighteen-->

  <!--step_nineteen-->
  <div class="full_container step_nineteen" id="step_nineteen">
    <div class="centered_container">

      <!--top-->
      <div class="top">
        <h2>HEALTH RISKS</h2>
        <p>Compare your <strong>risk</strong> with 23andme average population</p>
      </div>
      <!--/top-->

      <div id="genomic_risks_item_template" style="display:none;">
        <!--page template-->
        <div class="pages">
          <div class="centered">
            <h2>[[name]]</h2>
            <ul>
              <li class="color_one"><span class="porcent">[[global_percent]]<strong>%</strong></span></li>
              <li class="color_two"><span class="porcent">[[user_percent]]<strong>%</strong></span></li>
            </ul>
          </div>
        </div>
        <!--/page template-->
      </div>

      <!--bottom-->
      <div class="bottom">

        <!--pages_containers-->
        <div class="pages_container">

          <!--page-->
          <div class="pages">
            <div class="centered">
              <h2>Breast Cancer</h2>
              <ul>
                <li class="color_one"><span class="porcent">60<strong>%</strong></span></li>
                <li class="color_two"><span class="porcent">90<strong>%</strong></span></li>
              </ul>
            </div>
          </div>
          <!--/page-->

          <!--page-->
          <div class="pages">
            <div class="centered">
              <h2>Celiac Disease</h2>
              <ul>
                <li class="color_one"><span class="porcent">08<strong>%</strong></span></li>
                <li class="color_two"><span class="porcent">13<strong>%</strong></span></li>
              </ul>
            </div>
          </div>
          <!--/page-->

          <!--page-->
          <div class="pages">
            <div class="centered">
              <h2>Venous Thromb.</h2>
              <ul>
                <li class="color_one"><span class="porcent">60<strong>%</strong></span></li>
                <li class="color_two"><span class="porcent">20<strong>%</strong></span></li>
              </ul>
            </div>
          </div>
          <!--/page-->

          <!--page-->
          <div class="pages">
            <div class="centered">
              <h2>Melanoma</h2>
              <ul>
                <li class="color_one"><span class="porcent">16<strong>%</strong></span></li>
                <li class="color_two"><span class="porcent">32<strong>%</strong></span></li>
              </ul>
            </div>
          </div>
          <!--/page-->

          <!--page-->
          <div class="pages">
            <div class="centered">
              <h2>Coronary Heart Dis.</h2>
              <ul>
                <li class="color_one"><span class="porcent">06<strong>%</strong></span></li>
                <li class="color_two"><span class="porcent">02<strong>%</strong></span></li>
              </ul>
            </div>
          </div>
          <!--/page-->

          <!--page-->
          <div class="pages">
            <div class="centered">
              <h2>Lung Cancer</h2>
              <ul>
                <li class="color_one"><span class="porcent">01<strong>%</strong></span></li>
                <li class="color_two"><span class="porcent">05<strong>%</strong></span></li>
              </ul>
            </div>
          </div>
          <!--/page-->

        </div>
        <!--/pages_containers-->

      </div>
      <!--/bottom-->

      <!--list_page-->
      <div class="list_page">
        <ul>
          <li class="color_one">The group where you belong according 23andme information</li>
          <li class="color_two">Other people  in the 23andme population</li>
        </ul>
      </div>
      <!--list_page-->

    </div>
  </div>
  <!--/step_nineteen-->