
  <!--step_eleven-->
  <div class="full_container step_eleven" id="step_eleven">
    <div class="centered_container">

      <!--top-->
      <div class="top">
        <img src="/static/img/step_11/number_4.png" alt="4" />
        <h2>HEALTH &amp; BODY CONDITIONS</h2>
      </div>
      <!--/top-->

      <!--top-->
      <div class="bottom">

        <!--graphs-->
        <div class="graphs" id="graphs_conditions">

          <!--conditions-->
          <div class="condition cronical_container">

            <div class="card">

              <!--front-->
                <div class="face front">

                   <!--graf-->
                   <div class="graph_container">
                     <div id="canvas_11_1"></div>
                      <!--<img src="/static/img/step_11/graf_1.png" alt="grafico" />-->
                   </div>
                   <!--/graf-->

                   <!--message-->
                   <div class="bubble_msj">
                       <h2></h2>
                       <div class="arrow"></div>
                   </div>
                   <!--/message-->

                </div>
                <!--/front-->

                <!--back-->
                <div class="face back">

                    <!--info-->
                    <div class="graph_container">

                      <!--chose_subcategory-->
                      <div class="container_data">

                        <p>Choose according to <br /> your condition</p>
                        <h2></h2>

                        <!--select-->
                        <div class="select_space">

                          <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                          <div class="container_select">

                            <select class="select_stats">
                              <option value="Type">Type</option>
                              <option value="ActionScript">ActionScript</option>
                              <option value="AppleScript">AppleScript</option>
                              <option value="Asp">Asp</option>
                              <option value="C++">probando un texto extremadamente largo</option>
                            </select>

                            <div class="clear"></div>

                          </div>

                        </div>
                        <!--/select-->

                      </div>
                      <!--chose_subcategory-->

                    </div>
                    <!--/info-->

                    <!--message-->
                    <!--/message-->

                </div>
                <!--/back-->

            </div>


          </div>
          <!--/conditions-->

          <!--conditions-->
          <div class="condition cronical_container">

            <div class="card">

              <!--front-->
                <div class="face front">

                   <!--graf-->
                   <div class="graph_container">
                      <div id="canvas_11_2"></div>
                       <!--<img src="/static/img/step_11/graf_2.png" alt="grafico" />-->
                   </div>
                   <!--/graf-->

                   <!--message-->
                   <div class="bubble_msj">
                       <h2></h2>
                       <div class="arrow"></div>
                   </div>
                   <!--/message-->

                </div>
                <!--/front-->

                <!--back-->
                <div class="face back">

                    <!--info-->
                    <div class="graph_container">

                      <!--chose_subcategory-->
                      <div class="container_data">

                        <p>Choose according to <br /> your condition</p>
                        <h2>Cancer</h2>

                        <!--select-->
                        <div class="select_space">
                          <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                          <div class="container_select">

                            <select class="select_stats">
                              <option value="Type">Type</option>
                              <option value="ActionScript">ActionScript</option>
                              <option value="AppleScript">AppleScript</option>
                              <option value="Asp">Asp</option>
                              <option value="C++">probando un texto extremadamente largo</option>
                            </select>

                            <div class="clear"></div>

                          </div>
                        </div>
                        <!--/select-->

                      </div>
                      <!--chose_subcategory-->

                    </div>
                    <!--/info-->

                </div>
                <!--/back-->

            </div>


          </div>
          <!--/conditions-->

          <!--conditions-->
          <div class="condition cronical_container">

            <div class="card">

              <!--front-->
                <div class="face front">

                   <!--graf-->
                   <div class="graph_container">
                      <div id="canvas_11_3"></div>
                       <!--<img src="/static/img/step_11/graf_3.png" alt="grafico" />-->
                   </div>
                   <!--/graf-->

                   <!--message-->
                   <div class="bubble_msj">
                       <h2></h2>
                       <div class="arrow"></div>
                   </div>
                   <!--/message-->

                </div>
                <!--/front-->

                <!--back-->
                <div class="face back">

                    <!--info-->
                    <div class="graph_container">

                      <!--chose_subcategory-->
                      <div class="container_data">

                        <p>Choose according to <br /> your condition</p>
                        <h2>Cancer</h2>

                        <!--select-->
                        <div class="select_space">
                          <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                          <div class="container_select">

                            <select class="select_stats">
                              <option value="Type">Type</option>
                              <option value="ActionScript">ActionScript</option>
                              <option value="AppleScript">AppleScript</option>
                              <option value="Asp">Asp</option>
                              <option value="C++">probando un texto extremadamente largo</option>
                            </select>

                            <div class="clear"></div>

                          </div>
                        </div>
                        <!--/select-->

                      </div>
                      <!--chose_subcategory-->

                    </div>
                    <!--/info-->

                    <!--message-->

                    <!--/message-->

                </div>
                <!--/back-->

            </div>


          </div>
          <!--/conditions-->

          <!--conditions-->
          <div class="condition cronical_container">

            <div class="card">

              <!--front-->
                <div class="face front">

                   <!--graf-->
                   <div class="graph_container">
                      <div id="canvas_11_4"></div>
                       <!--<img src="/static/img/step_11/graf_2.png" alt="grafico" />-->
                   </div>
                   <!--/graf-->

                   <!--message-->
                   <div class="bubble_msj">
                       <h2></h2>
                       <div class="arrow"></div>
                   </div>
                   <!--/message-->

                </div>
                <!--/front-->

                <!--back-->
                <div class="face back">

                    <!--info-->
                    <div class="graph_container">

                      <!--chose_subcategory-->
                      <div class="container_data">

                        <p>Choose according to <br /> your condition</p>
                        <h2>Cancer</h2>

                        <!--select-->
                        <div class="select_space">
                          <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                          <div class="container_select">

                            <select class="select_stats">
                              <option value="Type">Type</option>
                              <option value="ActionScript">ActionScript</option>
                              <option value="AppleScript">AppleScript</option>
                              <option value="Asp">Asp</option>
                              <option value="C++">probando un texto extremadamente largo</option>
                            </select>

                            <div class="clear"></div>

                          </div>
                        </div>
                        <!--/select-->

                      </div>
                      <!--chose_subcategory-->

                    </div>
                    <!--/info-->

                    <!--message-->
                    <!--/message-->

                </div>
                <!--/back-->

            </div>


          </div>
          <!--/conditions-->

          <!--conditions-->
          <div class="condition cronical_container">

            <div class="card">

              <!--front-->
                <div class="face front">

                   <!--graf-->
                   <div class="graph_container">
                      <div id="canvas_11_5"></div>
                       <!--<img src="/static/img/step_11/graf_3.png" alt="grafico" />-->
                   </div>
                   <!--/graf-->

                   <!--message-->
                   <div class="bubble_msj">
                       <h2></h2>
                       <div class="arrow"></div>
                   </div>
                   <!--/message-->

                </div>
                <!--/front-->

                <!--back-->
                <div class="face back">

                    <!--info-->
                    <div class="graph_container">

                      <!--chose_subcategory-->
                      <div class="container_data">

                        <p>Choose according to <br /> your condition</p>
                        <h2>Cancer</h2>

                        <!--select-->
                        <div class="select_space">
                          <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                          <div class="container_select">

                            <select class="select_stats">
                              <option value="Type">Type</option>
                              <option value="ActionScript">ActionScript</option>
                              <option value="AppleScript">AppleScript</option>
                              <option value="Asp">Asp</option>
                              <option value="C++">probando un texto extremadamente largo</option>
                            </select>

                            <div class="clear"></div>

                          </div>
                        </div>
                        <!--/select-->

                      </div>
                      <!--chose_subcategory-->

                    </div>
                    <!--/info-->

                    <!--message-->
                    <!--/message-->

                </div>
                <!--/back-->

            </div>


          </div>
          <!--/conditions-->


        </div>
        <!--/graphs-->

        <!--cards-->
        <div class="cards">
          <div class="you_cards cronical_conditions_cards">
            <ul>
              <li><p>you</p></li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <!--/cards-->

      </div>
      <!--/top-->

    </div>
  </div>
  <!--/step_eleven-->

  <!--step_twelve-->
  <div class="full_container step_twelve" id="step_twelve">
    <div class="centered_container">

      <!--top-->
      <div class="top">
        <h2>Recurring Complaints</h2>
      </div>
      <!--/top-->

      <!--bottom-->
      <div class="bottom">

        <!--left-->
        <div class="block left">

          <!--sector_logo-->
          <div class="logo_sector all">
            <p>all</p>
          </div>
          <!--/sector_logo-->

          <div id="complains_item_template" style="display:none;">
            <li data-id="[[id]]" data-name="[[name]]" data-perc="[[perc]]">

              <!--graph-->
              <div class="stat left">
                <div class="centered_graph">
                  <div id="canvas_12_[[id]]"></div>
                </div>
              </div>
              <!--/graph-->

              <!--tittle-->
              <div class="stat right">
                <h2>[[name]]</h2>
              </div>
              <!--/tittle-->

              <div class="clear"></div>
            </li>
          </div>

          <!--lista-->
          <ul id="complains_top5">

          </ul>
          <!--lista-->

        </div>
        <!--/left-->

        <!--right-->
        <div class="block right" id="select_complaints">

          <!--sector_logo-->
          <div class="logo_sector all">
            <p>you</p>
          </div>
          <!--/sector_logo-->

           <div style="display:none" id="complain_template">
            <li class="user_complain" data-id="[[id]]">

              <!--graph-->
              <div class="stat left">
                <div class="centered_graph">
                  <div id="canvas_12_custom_[[id]]"></div>
                </div>
              </div>
              <!--/graph-->

              <!--tittle-->
              <div class="stat right">
                <h2>[[name]]</h2>
                <img src="/static/img/step_11/close_tab.png">
              </div>
              <!--/tittle-->

              <!--select_stat-->
              <div class="add_container">

                <div class="select_stat">
                  <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                  <div class="container_select">

                    <select class="select_stats"></select>

                    <div class="clear"></div>

                  </div>
                </div>

                <a href="#" class="done_stat">Done!</a>

                <div class="clear"></div>
              </div>
              <!--/select_stat-->

              <div class="clear"></div>

            </li>
          </div>

          <!--lista-->
          <ul>


          </ul>
          <!--lista-->

        </div>
        <!--/right-->

        <div class="clear"></div>

      </div>
      <!--/bottom-->

    </div>
  </div>
  <!--/step_twelve-->

  <!--step_thirteen-->
  <div class="full_container step_thirteen" id="step_thirteen">
    <div class="centered_container">

      <!--top-->
      <div class="top">
        <h2>Blood Type</h2>
      </div>
      <!--/top-->

      <!--top-->
      <div class="bottom">
        <!--

          IMPORTANTE:
          - El alto maximo de la gota es de 130px, habria que dividir el porcentaje para hacer crecer el div .porcent_div

        -->
        <div id="blood_template" style="display:none">
          <li id="blood_type_[[id]]" data-id="[[id]]">
            <!--graph-->
            <div class="graph_type">

              <!--mask-->
              <div class="mask"></div>
              <!--/mask-->

              <!--porcent_div-->
              <div class="porcent_div" style="height: [[height]]px;"></div>
              <!--/porcent_div-->

              <!--circle-->
              <div class="circle_porcent">
                <h2><span class="data_type">[[percentage]]</span><span class="min">%</span></h2>
              </div>
              <!--/circle-->

              <!--your_type-->
              <div class="your_type">
                <h2>Your type</h2>
                <div class="arrow"></div>
              </div>
              <!--/your_type-->

            </div>
            <!--graph-->

            <!--tittle_type-->
            <div class="tittle_type">
              <p>[[name]]</p>
            </div>
            <!--/tittle_type-->

          </li>
        </div>
        <ul id="chose_type">

        </ul>
      </div>
      <!--/top-->

    </div>
  </div>
  <!--/step_thirteen-->

  <!--step_fourteen-->
  <div class="full_container step_fourteen" id="step_fourteen">
    <div class="centered_container">

      <!--top-->
      <div class="top">
        <h2>Sleep Patterns</h2>
        <p>Track your hours of sleep per week</p>
      </div>
      <!--/top-->

      <!--big_graph-->
      <div class="big_graph">
              <div id="canvas_14_1"></div>
      </div>
      <!--/big_graph-->

      <!--stats_bottom-->
      <div class="stats_bottom">

        <!--bloque-->
        <div class="bloq left">

          <h2>Overall average</h2>

          <!--stat-->
          <div class="number_stat">

            <h2></h2>

            <!--ico_right-->
            <div class="ico_right">
              <p>h/day</p>
            </div>
            <!--/ico_right-->
          </div>
          <!--/stat-->

        </div>
        <!--/bloque-->

        <!--bloque-->
        <div class="bloq right">

          <h2>Your average</h2>

          <!--stat-->
          <div class="number_stat">

            <h2></h2>

            <!--ico_right-->
            <div class="ico_right">
              <p>h/day</p>
            </div>
            <!--/ico_right-->
          </div>
          <!--/stat-->

        </div>
        <!--/bloque-->

        <div class="clear"></div>

      </div>
      <!--/stats_bottom-->

    </div>
  </div>
  <!--/step_fourteen-->

  <!--step_fifteen-->
  <div class="full_container step_fifteen" id="step_fifteen">
    <div class="centered_container">

      <div class="centered_container">

            <!--top-->
            <div class="top">
              <h2>Emotional Health</h2>
            </div>
            <!--/top-->

            <!--top-->
            <div class="bottom">

              <!--graphs-->
              <div class="graphs" id="graphs_emotions">

                <!--conditions-->
                <div class="condition emotion_container">

                  <div class="card">

                    <!--front-->
                      <div class="face front">

                         <!--graf-->
                         <div class="graph_container">
                           <div class="emotion-chart" id="canvas_15_1"></div>
                           <!--<img src="/static/img/step_11/graf_1.png" alt="grafico" />-->
                         </div>
                         <!--/graf-->

                         <!--message-->
                         <div class="bubble_msj">
                             <h2>Disappointed</h2>
                             <div class="arrow"></div>
                         </div>
                         <!--/message-->

                      </div>
                      <!--/front-->

                      <!--back-->
                      <div class="face back">

                          <!--info-->
                          <div class="graph_container">

                            <!--chose_subcategory-->
                            <div class="container_data">

                              <p>Choose according to <br /> your condition</p>
                              <h2>Cancer</h2>

                              <!--select-->
                              <div class="select_space">
                                <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                                <div class="container_select">

                                  <select class="select_stats"></select>

                                  <div class="clear"></div>

                                </div>
                              </div>
                              <!--/select-->

                            </div>
                            <!--chose_subcategory-->

                          </div>
                          <!--/info-->

                          <!--message-->
                          <!--/message-->

                      </div>
                      <!--/back-->

                  </div>


                </div>
                <!--/conditions-->

                <!--conditions-->
                <div class="condition emotion_container">

                  <div class="card">

                    <!--front-->
                      <div class="face front">

                         <!--graf-->
                         <div class="graph_container">
                           <div class="emotion-chart" id="canvas_15_2"></div>
                            <!--<img src="/static/img/step_11/graf_2.png" alt="grafico" />-->
                         </div>
                         <!--/graf-->

                         <!--message-->
                         <div class="bubble_msj">
                             <h2>Stressed</h2>
                             <div class="arrow"></div>
                         </div>
                         <!--/message-->

                      </div>
                      <!--/front-->

                      <!--back-->
                      <div class="face back">

                          <!--info-->
                          <div class="graph_container">

                            <!--chose_subcategory-->
                            <div class="container_data">

                              <p>Choose according to <br /> your condition</p>
                              <h2>Cancer</h2>

                              <!--select-->
                              <div class="select_space">
                                <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                                <div class="container_select">

                                  <select class="select_stats"></select>

                                  <div class="clear"></div>

                                </div>
                              </div>
                              <!--/select-->

                            </div>
                            <!--chose_subcategory-->

                          </div>
                          <!--/info-->

                          <!--message-->
                          <!--/message-->

                      </div>
                      <!--/back-->

                  </div>


                </div>
                <!--/conditions-->

                <!--conditions-->
                <div class="condition emotion_container">

                  <div class="card">

                    <!--front-->
                      <div class="face front">

                         <!--graf-->
                         <div class="graph_container">
                           <div class="emotion-chart" id="canvas_15_3"></div>
                            <!--<img src="/static/img/step_11/graf_3.png" alt="grafico" />-->
                         </div>
                         <!--/graf-->

                         <!--message-->
                         <div class="bubble_msj">
                             <h2>Sad</h2>
                             <div class="arrow"></div>
                         </div>
                         <!--/message-->

                      </div>
                      <!--/front-->

                      <!--back-->
                      <div class="face back">

                          <!--info-->
                          <div class="graph_container">

                            <!--chose_subcategory-->
                            <div class="container_data">

                              <p>Choose according to <br /> your condition</p>
                              <h2>Cancer</h2>

                              <!--select-->
                              <div class="select_space">
                                <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                                <div class="container_select">

                                  <select class="select_stats"></select>

                                  <div class="clear"></div>

                                </div>
                              </div>
                              <!--/select-->

                            </div>
                            <!--chose_subcategory-->

                          </div>
                          <!--/info-->


                      </div>
                      <!--/back-->

                  </div>


                </div>
                <!--/conditions-->

                <!--conditions-->
                <div class="condition emotion_container">

                  <div class="card">

                    <!--front-->
                      <div class="face front">

                         <!--graf-->
                         <div class="graph_container">
                           <div class="emotion-chart" id="canvas_15_4"></div>
                            <!--<img src="/static/img/step_11/graf_2.png" alt="grafico" />-->
                         </div>
                         <!--/graf-->

                         <!--message-->
                         <div class="bubble_msj">
                             <h2>Angry</h2>
                             <div class="arrow"></div>
                         </div>
                         <!--/message-->

                      </div>
                      <!--/front-->

                      <!--back-->
                      <div class="face back">

                          <!--info-->
                          <div class="graph_container">

                            <!--chose_subcategory-->
                            <div class="container_data">

                              <p>Choose according to <br /> your condition</p>
                              <h2>Cancer</h2>

                              <!--select-->
                              <div class="select_space">
                                <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                                <div class="container_select">

                                  <select class="select_stats"></select>

                                  <div class="clear"></div>

                                </div>
                              </div>
                              <!--/select-->

                            </div>
                            <!--chose_subcategory-->

                          </div>
                          <!--/info-->


                      </div>
                      <!--/back-->

                  </div>


                </div>
                <!--/conditions-->

                <!--conditions-->
                <div class="condition emotion_container">

                  <div class="card">

                    <!--front-->
                      <div class="face front">

                         <!--graf-->
                         <div class="graph_container">
                           <div class="emotion-chart" id="canvas_15_5"></div>
                            <!--<img src="/static/img/step_11/graf_3.png" alt="grafico" />-->
                         </div>
                         <!--/graf-->

                         <!--message-->
                         <div class="bubble_msj">
                             <h2>Euphoric</h2>
                             <div class="arrow"></div>
                         </div>
                         <!--/message-->

                      </div>
                      <!--/front-->

                      <!--back-->
                      <div class="face back">

                          <!--info-->
                          <div class="graph_container">

                            <!--chose_subcategory-->
                            <div class="container_data">

                              <p>Choose according to <br /> your condition</p>
                              <h2>Cancer</h2>

                              <!--select-->
                              <div class="select_space">
                                <!-- CUANDO SE SELECCION EL SELECT SE AGREGA LA CLAS .active a .container_select -->
                                <div class="container_select">

                                  <select class="select_stats"></select>

                                  <div class="clear"></div>

                                </div>
                              </div>
                              <!--/select-->

                            </div>
                            <!--chose_subcategory-->

                          </div>
                          <!--/info-->


                      </div>
                      <!--/back-->

                  </div>


                </div>
                <!--/conditions-->



              </div>
              <!--/graphs-->

              <!--cards-->
              <div class="cards emotion_cards">
                <div class="you_cards">
                  <ul>
                    <li><p>you</p></li>
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>
              <!--/cards-->

            </div>
            <!--/top-->

          </div>

    </div>
  </div>
  <!--/step_fifteen-->


