# ResearckKit Backend
## Documentation

Apple’s researchKit backend must have the following endpoints:

Authentication
Sign Up
Does not require authentication. User will be sent an email with a link to verify his or her email; this will need to happen via the web application.
 
POST
/api/v1/auth/signUp
auth
 
all users
request body
 
SignUp
response
473
{"message": "The study '<studyName>' has reached the limit of allowed participants."}
response
201
{"message": "Signed up." }


Sign In 
 
POST
/api/v1/auth/signIn
auth
 
all users
request body
 
SignIn
response
200
UserSessionInfo
response
404
Credentials incorrect or missing
response
412
User has not consented to research

Consent API
Many API calls will not be functional until the user establishes consent. 
Consent to research (v2)
 
POST
/api/v2/consent
auth
 
all users
request body
 
ConsentSignature
response
473
{ "message": "The study '<studyName>' has reached the limit of allowed participants."}
response
400
Will return an error if the ConsentSignature JSON does not include a "scope" property; this property must be set to a valid value declaring the scope of data sharing allowed by this participant. 
response
201
{ "message": "Consent to research has been recorded." }

{% endmarkdown %}
